Repository telstra/open-kilda, pull requests merged in 2019-04, with the labels that each got.

#2218 Changed getKafkaSpeakerTopic in network topology
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
Labels: C/NETWORK, Ready to Merge

#2207 Fix network history data usage
  docs/design/network-discovery/ISL-FSM
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/IslFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/model/IslDataHolder.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, Next Release

#2193 Adding feature to ping any flow
  services/src/openkilda-gui/src/main/java/org/openkilda/config/DatabaseConfigurator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/constants/IConstants.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/FlowController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/model/Flow.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/FlowService.java
  services/src/openkilda-gui/src/main/resources/db/import-script_13.sql
  services/src/openkilda-gui/src/main/resources/db/import-script_14.sql
  services/src/openkilda-gui/ui/src/app/common/services/flows.service.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-add/flow-add.component.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  services/src/openkilda-gui/ui/src/app/modules/topology/topology.component.html
  services/src/openkilda-gui/ui/src/app/modules/topology/topology.component.ts
  services/src/openkilda-gui/ui/src/styles.css
Labels: Next Release, area/gui

#2104 ADD test: Should be able to reroute to a path with not enough bandwidth available in case ignoreBandwidth=true
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
Labels: Ready to Merge, area/testing

#2221 Buggy puml plugin in IDEA have created empty file
  docs/design/network-discovery/ISL-FSM
Labels: Ready to Merge

#2016 Skipping sonar tests for forks
  .travis.yml
Labels: Ready to Merge, area/cicd

#2195 Fix NPE in PathVerificationService.
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/pathverification/PathVerificationPacketSignTest.java
Labels: C/FL, Ready to Merge

#2197 1434 tsd storage fix duplicates
  services/opentsdb/conf/opentsdb.conf
Labels: Ready to Merge, area/config

#2203 Improve SkippedTestsLogger to process ignored tests as well
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/SkippedTestsLogger.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormHeavyLoadSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Ready to Merge, area/testing

#2209 Add test to verify system consistency after wfm restart
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/ExtensionHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/FeatureOrderExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/env/EnvCleanupExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/fixture/SetupOnceExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/tags/TagExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#2206 Modify Swagger config for presentation SwitchId as String
  services/src/northbound/src/main/java/org/openkilda/northbound/config/SwaggerConfig.java
Labels: C/NB, Ready to Merge, area/docs

#2228 Removed duplicates values in main.yaml
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
Labels: On Review, area/config

#2231 Added stacktrace for Discovery bolt stack trace handling
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/DiscoveryBolt.java
Labels: C/ROUTER, Ready to Merge

#2179 ADD test: System is able to reroute flow in the correct order based on the priority field
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPriorityRerouteSpec.groovy
Labels: Ready to Merge, area/testing

#2227 Added storm.yaml template config in confd
  confd/conf.d/storm.storm_yaml.toml
  confd/templates/storm/storm.yaml.tmpl
  confd/vars/main.yaml
Labels: Ready to Merge, area/config, area/storm

#2235 Enable OVS virtual meters by default
  README.md
  confd/templates/floodlight/floodlightkilda.properties.tmpl
  services/src/floodlight-modules/src/main/resources/floodlightkilda.properties.example
Labels: Ready to Merge, area/config, area/testing

#2236 Fix for network dump issue in floodlight router
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/DiscoveryBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/MessageSender.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RouterService.java
Labels: C/ROUTER, Ready to Merge

#2106 Implement transactional resource pools
  services/wfm/pom.xml
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/MeterPool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourceCache.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourcePool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/CookiePool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/EncapsulationResources.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/EncapsulationResourcesProvider.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResources.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManager.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/MeterPool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/ResourceAllocationException.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/ResourceNotAvailableException.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/transitvlan/TransitVlanEncapsulation.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/transitvlan/TransitVlanPool.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/service/FlowResourcesManager.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/MeterPoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/ResourceCacheTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/ResourcePoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/CookiePoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManagerTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/MeterPoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/transitvlan/TransitVlanPoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowResourcesManagerTest.java
Labels: Ready to Merge, area/persistence, epic/hub@spoke

#2138 Migration for the data model with flow encapsulation, flow paths and resource pools.
  services/neo4j/migrations/1.0-flow-paths-n-resources/1-update-constraints-changelog.xml
  services/neo4j/migrations/1.0-flow-paths-n-resources/2-migration-changelog.xml
  services/neo4j/migrations/1.0-flow-paths-n-resources/3-cleanup-changelog.xml
  services/neo4j/migrations/1.0-flow-paths-n-resources/rollback-constaints.cql
  services/neo4j/migrations/1.0-flow-paths-n-resources/rollback-migration.cql
  services/neo4j/migrations/README.md
Labels: C/NEO4J, Ready to Merge, epic/hub@spoke

#2230 Enhancement/isl and switch detail from flow path
  services/src/openkilda-gui/src/main/java/org/openkilda/config/DatabaseConfigurator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/constants/IConstants.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/CommonRequestHandlerController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/SwitchController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/FlowService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/StatsService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/SwitchService.java
  services/src/openkilda-gui/ui/src/app/app-routing.module.ts
  services/src/openkilda-gui/ui/src/app/common/services/isl-list.service.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-path/flow-path.component.css
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-path/flow-path.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-path/flow-path.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/datatable/datatable.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
  services/src/openkilda-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge, area/gui

#2247 Added core properties auto create metrics,tagks,tagvs to opentsdb.conf
  services/opentsdb/conf/opentsdb.conf
Labels: Ready to Merge, area/config

#1904 Design for flow rerouting using H&S approach
  docs/design/hub-and-spoke/crud/create/README.md
  docs/design/hub-and-spoke/crud/create/flow-create-current.png
  docs/design/hub-and-spoke/crud/create/flow-create-current.puml
  docs/design/hub-and-spoke/crud/create/flow-create-fsm.png
  docs/design/hub-and-spoke/crud/create/flow-create-hs.png
  docs/design/hub-and-spoke/crud/create/flow-create-hs.puml
  docs/design/hub-and-spoke/crud/delete/README.md
  docs/design/hub-and-spoke/crud/delete/flow-delete-current.png
  docs/design/hub-and-spoke/crud/delete/flow-delete-current.puml
  docs/design/hub-and-spoke/crud/delete/flow-delete-fsm.png
  docs/design/hub-and-spoke/crud/delete/flow-delete-hs.png
  docs/design/hub-and-spoke/crud/delete/flow-delete-hs.puml
  docs/design/hub-and-spoke/crud/update/flow-update-current.png
  docs/design/hub-and-spoke/crud/update/flow-update-current.puml
  docs/design/hub-and-spoke/reroute/README.md
  docs/design/hub-and-spoke/reroute/flow-reroute-current.png
  docs/design/hub-and-spoke/reroute/flow-reroute-current.puml
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.dot
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.png
  docs/design/hub-and-spoke/reroute/flow-reroute-hs.png
  docs/design/hub-and-spoke/reroute/flow-reroute-hs.puml
Labels: Ready to Merge, area/docs, epic/hub@spoke

#2245 Add error response for sync meters on umetered flow
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/bolts/CrudBolt.java
Labels: C/FLOW, Ready to Merge

#2258 Add missing verifications around link costs sync with link props
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
Labels: On Review, area/testing

#2259 Propagate ISL's cost updates to the link-props objects
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/IslFsm.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, On Review

#1906 Protected paths design
  docs/design/solutions/protected-paths/protected-paths-create.png
  docs/design/solutions/protected-paths/protected-paths-create.puml
  docs/design/solutions/protected-paths/protected-paths-reroute.png
  docs/design/solutions/protected-paths/protected-paths-reroute.puml
  docs/design/solutions/protected-paths/protected-paths.md
Labels: Ready to Merge, area/arch, area/docs

#2271 Changed oracle jdk to openjdk
  base/kilda-base-ubuntu/Dockerfile
Labels: Ready to Merge

#2167 ADD: meter validation tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#2186 Remove execute method override into `CoordinatedBolt`
  services/wfm/src/main/java/org/openkilda/wfm/AbstractBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatedBolt.java
Labels: On Review, Ready to Merge

#2210 Improve discovery topology logging
  docs/design/network-discovery/port-FSM.png
  docs/design/network-discovery/port-FSM.puml
  docs/design/network-discovery/port-report-FSM.png
  docs/design/network-discovery/port-report-FSM.puml
  docs/design/network-discovery/switch-FSM.png
  docs/design/network-discovery/switch-FSM.puml
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyDashboardLogger.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/port/PortFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/port/PortReportFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/NetworkPortService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkPortServiceTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
Labels: C/NETWORK, Ready to Merge

#2226 Improve TopologyHelper vastly. Introduce PotentialFlow entity
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/PotentialFlow.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathsSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: Ready to Merge, area/testing

#2233 Extend functional test for Floodlight and Kafka outage
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
Labels: Ready to Merge, area/testing

#2188 Func tests/add tests for updating bw
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/northbound-service/nb-api/src/main/java/org/openkilda/northbound/dto/v1/links/LinkMaxBandwidthDto.java
  services/src/northbound-service/nb-api/src/main/java/org/openkilda/northbound/dto/v1/links/LinkMaxBandwidthRequest.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: area/testing

#2277 Added argument for FROM in all Dockerfile
  base/kilda-base-lab-service/Dockerfile
  base/kilda-base-ubuntu/Dockerfile
  services/elasticsearch/Dockerfile
  services/hbase/Dockerfile
  services/kafka/Dockerfile
  services/lab-service/Dockerfile
  services/lock-keeper/Dockerfile
  services/logstash/Dockerfile
  services/neo4j/Dockerfile
  services/opentsdb/Dockerfile
  services/src/atdd-staging/Dockerfile
  services/src/floodlight-modules/Dockerfile
  services/src/grpc-speaker/grpc-service/Dockerfile
  services/src/northbound-service/northbound/Dockerfile
  services/src/openkilda-gui/Dockerfile
  services/storm/Dockerfile
  services/wfm/Dockerfile
  services/zookeeper/Dockerfile
Labels: Ready to Merge, area/cicd

#2252 Enhancement to change default metric in packet loss graph to packets
  services/src/openkilda-gui/ui/src/app/common/dygraph/dygraph.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
Labels: Ready to Merge, area/gui

#2256 Add test for stats max values. Bump spock to 1.3
  services/src/functional-tests/pom.xml
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/SimulateStatsSpec.groovy
Labels: Ready to Merge, area/testing

#2270 Changed default elasticsearch index name from logstash to kilda
  confd/templates/logstash/logstash.conf.tmpl
  tools/elk-dashboards/index_pattern.json
Labels: Ready to Merge

#2272 Improve test name logging in functional-tests module
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/TestDataLoggingExtension.groovy
Labels: Ready to Merge, area/testing

#2196 Fix functional tests for logging
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/vars/main.yaml
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
Labels: Ready to Merge, area/testing

#2240 Minor tests updates
  confd/vars/main.yaml
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcCommonSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/kafka/KafkaBreakerImpl.java
Labels: Ready to Merge, area/testing

#2280 Adding feature of copy to clipboard on list screens
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/datatable/datatable.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/datatable/datatable.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  services/src/openkilda-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
Labels: Ready to Merge, area/gui

#2208 Lower log level for "lost" discovery packets
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/NetworkIslService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/NetworkSwitchService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/NetworkWatcherService.java
Labels: C/NETWORK

#2238 Manage to pass kafka-key from storm to speaker
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/DiscoveryBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/ReplyBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/RequestBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerRequestBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/FloodlightTracker.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/MessageSender.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RouterService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/KafkaRecordTranslator.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/MessageTranslator.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/floodlightrouter/bolts/DiscoveryBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/FloodlightTrackerTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
Labels: C/FL, C/ROUTER, Next Release
