Repository telstra/open-kilda, pull requests merged in 2019-02, with the labels that each got.

#1952 Refactored StatsTopologyTest to reuse topology instance
  services/wfm/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/FlowTopologyTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: Next Release, area/testing

#1973 Use max system rule meter ID constant from dev code
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/CleanupSteps.java
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/FlowCrudSteps.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#1957 Fix FL heartbeat test
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
Labels: Ready to Merge, area/testing

#1970 Fix functional test for logging verification
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#1958 Return error respond to 'switch validation' for non-existing switch ids
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
Labels: C/NBWORKER, Ready to Merge

#1907 Add main components for H&S
  services/wfm/pom.xml
  services/wfm/src/main/java/org/openkilda/wfm/AbstractBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatedBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatorBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatorSpout.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/HubBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/TimeoutCallback.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/CorrelationContext.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/MessageTranslator.java
  services/wfm/src/test/java/org/openkilda/wfm/share/hubandspoke/CoordinatorBoltTest.java
Labels: Ready to Merge, area/storm, epic/hub@spoke

#1967 Replace javafx Pair with new MeterCacheKey class
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/MeterCacheKey.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MeterStatsMetricGenBolt.java
Labels: C/STATS, Ready to Merge

#1961 Add logic to switch with "under_maintenance" flag.
  services/src/api/src/main/java/org/openkilda/northbound/dto/switches/UnderMaintenanceDto.java
  services/src/api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/UpdateSwitchUnderMaintenanceRequest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/NetworkTopologyBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OFEventWfmTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfEventWfmTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/service/IslService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/service/SwitchService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/service/IslServiceTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
Labels: C/EVENT, C/NB, C/NBWORKER, Ready to Merge, area/api

#1991 Minor fixes in tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/isl/IslMovementSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Ready to Merge, area/testing

#1922 Add possibility to run functional tests via 'make'
  Makefile
Labels: Ready to Merge, area/testing

#1983 Add tests to verify setting maintenance mode on switches
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/JacksonMixinExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/env/VirtualEnvCleanupExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchMaintenance.groovy
  services/src/functional-tests/src/test/resources/META-INF/services/org.codehaus.groovy.runtime.ExtensionModule
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#1934 Fix wrong response for delete meter request from api call
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
Labels: C/FL, Ready to Merge

#1997 drop port event messages for logical ports
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
Labels: C/EVENT, Ready to Merge

#1951 Add BFD catch rule in tests and add SwitchHelper
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowSyncSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
  services/src/functional-tests/src/test/resources/META-INF/services/org.codehaus.groovy.runtime.ExtensionModule
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#1998 Use non-existent switch ID as a constant in functional tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchesSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#1936 Small improvements for functional tests
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/isl/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: Ready to Merge, area/testing

#2000 Fix negative flow update test from FlowCrudSpec
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: Ready to Merge, area/testing

#1996 Feature discovery for new Noviflow switches
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/AbstractFeature.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/BfdFeature.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/feature/BfdFeatureTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/service/FeatureDetectorServiceTest.java
Labels: C/FL, Ready to Merge

#2008 Remove heartbeat checks. Make throttling reroute test virtual-only
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#1982 Add bfd support to TopologyDefinition and BFD test
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/IslSteps.java
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/TopologyVerificationSteps.java
  services/src/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/BfdSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/config/TopologyConfig.java
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/model/ASwitchFlow.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#2005 Minor fix for hub and worker bolts
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/HubBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
Labels: Ready to Merge, area/storm, epic/hub@spoke

#2019 Fix for ISL overlapping in topology screen and minor fixes in switch detail
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/ApplicationSettingController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/StatsService.java
  services/src/openkilda-gui/ui/src/app/common/enums/isl.enum.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  services/src/openkilda-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  services/src/openkilda-gui/ui/src/app/modules/topology/topology.component.ts
Labels: C/GUI, Ready to Merge, area/gui

#1980 Improve KibanaLogWrapper
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/KibanaLogWrapper.java
Labels: C/EVENT, Ready to Merge

#2006 Expand setup docs.
  README.md
Labels: Next Release, area/docs

#2007 Fix functional tests for hardware env
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: On Review, area/testing

#2023 Make 'make' command for func-tests to be self-sufficient, update readme
  Makefile
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/functional-tests/.gitignore
  services/src/functional-tests/README.md
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/config/DefaultServiceConfig.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/docs, area/testing

#2041 #2038 Unable to re-discover an ISL after deleteLink API was used.
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/DeactivateIslInfoData.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/StreamType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/MessageEncoder.java
Labels: C/EVENT, C/NBWORKER, On Review

#1946 Add tests to verify rules installation on switches
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
Labels: Ready to Merge, area/testing

#2031 Refactor and fix functional tests for verifying switches deletion
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#2047 Fix negative functional test for updating flow
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: Ready to Merge, area/testing

#1915 Add better logging of skipped tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/SkippedTestsLogger.groovy
  services/src/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  services/src/functional-tests/src/test/resources/log4j2.xml
Labels: Ready to Merge, area/testing

#2020 #2012 Add fields from Isl class to LinkDto class.
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkDto.java
  services/src/api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/wfm/src/main/java/org/openkilda/simulator/bolts/SpeakerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/OfeMessageUtils.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/OfEventWfmTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/IslMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBoltTest.java
Labels: C/EVENT, C/NB, Next Release

#2035 Add feature toggle to enable/disable logic for processing BFD events.
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/NorthboundSteps.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/FeatureTogglesSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/FeatureToggles.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFeatureTogglesRepositoryTest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/system/FeatureTogglesDto.java
Labels: On Review

#2042 #1955 Added enable_bfd and bfd_session_status fields to the ISL object.
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkDto.java
  services/src/api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Isl.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
Labels: Next Release

#2052 Ignore ThrottlingRerouteSpec to unblock CI
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
Labels: On Review, area/testing

#1949 Design for synchronization switch rules using H&S approach.
  docs/design/hub-and-spoke/switch-sync-rules/current-implementation-sync-rules.png
  docs/design/hub-and-spoke/switch-sync-rules/current-implementation-sync-rules.puml
  docs/design/hub-and-spoke/switch-sync-rules/h&s-implementation-sync-rules.png
  docs/design/hub-and-spoke/switch-sync-rules/h&s-implementation-sync-rules.puml
  docs/design/hub-and-spoke/switch-sync-rules/switch-sync-rules-fsm.dot
  docs/design/hub-and-spoke/switch-sync-rules/switch-sync-rules-fsm.png
  docs/design/hub-and-spoke/switch-sync-rules/switch-sync-rules.md
Labels: Next Release, area/docs, area/storm, epic/hub@spoke

#2024 Issue 2014: Fix flow valudation with 0 bandwidth
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: C/NB, Next Release

#2056 Misunderstanding/illusage lombok's magic
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/share/hubandspoke/WorkerBoltTest.java
Labels: Next Release, epic/hub@spoke

#2044 Enhancement to make application name configurable for 2FA
  confd/templates/gui/application.properties.tmpl
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/LoginController.java
  services/src/openkilda-gui/src/main/resources/META-INF/resources/views/otp.jsp
  services/src/openkilda-gui/src/main/resources/META-INF/resources/views/twofa.jsp
  services/src/openkilda-gui/src/main/resources/application.properties.example
Labels: C/GUI, Ready to Merge, area/gui

#2055 Various fixes for funcrional tests - part 2
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
Labels: area/testing

#2061 fix for flow validation
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  services/topology-engine/queue-engine/topologylistener/message_utils.py
Labels: C/NB, C/TE, Next Release

#2049 Various fixes for functional tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenance.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
Labels: Ready to Merge, area/testing

#1926 Fix case with asymmetric reverse path for flow
  services/src/kilda-pce/src/main/java/org/openkilda/pce/finder/BestCostAndShortestPathFinder.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/model/Node.java
  services/src/kilda-pce/src/test/java/org/openkilda/pce/finder/BestCostAndShortestPathFinderTest.java
  services/src/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
Labels: C/FLOW, Ready to Merge, area/pce

#2064 Fix feature toggle "bfd_events".
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFeatureTogglesRepository.java
Labels: Ready to Merge

#2028 ADD: negative test for non-existent flowID(get, synchronize, reroute, validate)
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#2037 ADD test: "ISL(not BFD) is NOT FAILED earlier than discoveryTimeout is exceeded when connection is lost(not port down)"
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#2046 Verify ability to rediscover deleted ISLs of different types
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
Labels: Ready to Merge, area/testing

#2026 Make OpenTSDB metric prefix configurable.
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/otsdb/OtsdbQueryService.java
  services/wfm/src/checkstyle/checkstyle-suppress-known-issues.xml
  services/wfm/src/main/java/org/openkilda/wfm/share/utils/MetricFormatter.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/islstats/IslStatsTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/islstats/IslStatsTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/ping/PingTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/ping/bolt/StatsProducer.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/portstate/bolt/ParsePortInfoBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MeterConfigMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MeterStatsMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/PortMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/SystemRuleMetricGenBolt.java
  services/wfm/src/main/resources/topology.properties.example
  services/wfm/src/test/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: C/ISLSTATS, C/PING, C/STATS, Ready to Merge, area/testing

#2034 Reduce application logger's level for validation errors from error to warn
  services/src/openkilda-gui/src/main/java/org/openkilda/auth/interceptor/RequestInterceptor.java
  services/src/openkilda-gui/src/main/java/org/openkilda/config/DatabaseConfigurator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/BaseController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/ContractController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/FlowController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/LoginController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/StatsController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/dao/interceptor/DaoInterceptor.java
  services/src/openkilda-gui/src/main/java/org/openkilda/handler/error/MyAccessDeniedHandler.java
  services/src/openkilda-gui/src/main/java/org/openkilda/helper/RestClientManager.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/converter/FlowPathConverter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/converter/IslLinkConverter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/StatsIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/source/store/FlowStoreService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/source/store/SwitchStoreService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/log/ActivityLogger.java
  services/src/openkilda-gui/src/main/java/org/openkilda/security/TwoFactorUtility.java
  services/src/openkilda-gui/src/main/java/org/openkilda/security/filter/LoggingFilter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/security/mapper/CustomExceptionMapper.java
  services/src/openkilda-gui/src/main/java/org/openkilda/security/mapper/GlobalExceptionMapper.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/AuthPropertyService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/FlowService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/StatsService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/SwitchService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/AuthController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/StoreController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/UrlController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/validator/LinkStoreConfigValidator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/validator/OauthTwoConfigValidator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/controller/validator/SwitchStoreConfigValidator.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/service/AuthService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/service/StoreService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/store/service/converter/OauthConfigConverter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/utility/MessageUtil.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/controller/PermissionController.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/controller/RoleController.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/controller/UserController.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/dao/entity/UserEntity.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/model/UserInfo.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/service/MailService.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/service/PermissionService.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/service/RoleService.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/service/UserService.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/validator/PermissionValidator.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/validator/RoleValidator.java
  services/src/openkilda-gui/src/main/java/org/usermanagement/validator/UserValidator.java
Labels: Ready to Merge, area/gui

#2094 Add new fields (max_latency, priority) to the Flow object.
  services/src/api/src/main/java/org/openkilda/northbound/dto/flows/FlowPatchDto.java
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/FlowSet.java
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/FlowCrudSteps.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Flow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/FlowPatchRequest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowPayload.java
  services/src/northbound/src/main/java/org/openkilda/northbound/controller/FlowController.java
  services/src/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/FlowService.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/controller/TestMessageMock.java
  services/wfm/src/main/java/org/openkilda/wfm/error/FlowNotFoundException.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
Labels: C/NB, C/NBWORKER, Next Release

#2071 Extend functional test to verify switch rules synchronization
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchRulesSpec.groovy
Labels: Ready to Merge, area/testing

#2074 Small fixes and cleanup for functional tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormHeavyLoadSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesSpec.groovy
  services/src/functional-tests/src/test/resources/topology.yaml
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: Next Release, area/testing

#2078 2050: add test that ensures no packet loss during reroute
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#2062 Add functional tests to verify flow diversity
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  services/wfm/src/main/resources/topology.properties.example
Labels: On Review, area/testing
