Repository telstra/open-kilda, pull requests merged in 2019-09, with the labels that each got.

#2742 add tests for checking synchronize switch action on activation
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
Labels: On Review, area/testing, feature

#2688 Added detectConnectedDevices fields to v1 Flow API
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/FlowSet.java
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/converters/DetectConnectedDevicesConverter.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/DetectConnectedDevices.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Flow.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/UnidirectionalFlow.java
  services/src/kilda-core/kilda-model/src/test/java/org/openkilda/converter/DetectConnectedDevicesConverterTest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/DetectConnectedDevicesDto.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  services/src/messaging/src/main/java/org/openkilda/messaging/payload/flow/DetectConnectedDevicesPayload.java
  services/src/messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowEndpointPayload.java
  services/src/messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowPayloadToFlowConverter.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  services/src/northbound-service/northbound/src/test/java/org/openkilda/northbound/controller/v1/TestMessageMock.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/DetectConnectedDevicesMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/validation/FlowValidator.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/FlowMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/FlowTopologyTest.java
Labels: C/NB, Ready to Merge, area/connected_devices, feature

#2703 Allocate LLDP resources
  services/neo4j/init/neo4j-queries.cql
  services/neo4j/migrations/1.11-lldp-resources/1-update-constraints-changelog.xml
  services/neo4j/migrations/1.11-lldp-resources/rollback.cql
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/converters/LldpResourcesConverter.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/FlowMeter.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/LldpResources.java
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMeterRepository.java
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/LldpResourcesRepository.java
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactory.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jLldpResourcesRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jRepositoryFactory.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepositoryTest.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jLldpResourcesRepositoryTest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/DeallocateFlowResourcesRequest.java
  services/wfm/pom.xml
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResources.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManager.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/resources/MeterPool.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/bolts/CrudBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/service/FlowService.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/CookiePoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManagerTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/flow/resources/MeterPoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/transactions/FlowCommandRegistryTest.java
Labels: C/FLOW, Ready to Merge, area/connected_devices, feature

#2748 fix config for FL containers in docker-compose.yml
  docker-compose.yml
Labels: Ready to Merge, improvement

#2773 Minor timeout increase for better test stability
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
Labels: Ready to Merge, area/testing, bugfix

#2771 Minor improvements in FlowSyncSpec
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#2763 change flow description for auto tests
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
Labels: Ready to Merge, area/testing, improvement

#2568 fix creating topology for performance test
  services/src/performance-tests/src/main/groovy/org/openkilda/performancetests/helpers/TopologyHelper.groovy
Labels: Ready to Merge, area/testing, improvement

#2766 Fix removing of unallocated resources on neo4j failure / constraint.
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocatePrimaryResourcesAction.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/BaseResourceAllocationAction.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/HandleNotRevertedResourceAllocationAction.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertResourceAllocationAction.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
Labels: C/FLOW-HS, Ready to Merge, improvement

#2738 Add switch rules synchronization when switch activation.
  docs/design/network-discovery/switch-FSM.png
  docs/design/network-discovery/switch-FSM.puml
  services/src/configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  services/src/messaging/src/main/java/org/openkilda/messaging/error/rule/SwitchSyncErrorData.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/switches/SwitchSyncResponse.java
  services/src/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/SwitchServiceTest.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/model/NetworkOptions.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/ISwitchCarrier.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/NetworkSwitchService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/ComponentId.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/SwitchManagerEncoder.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/command/SwitchSynchronizeErrorCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/command/SwitchSynchronizeResponseCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/command/SwitchSynchronizeTimeoutCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerRouter.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerWorker.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/command/SwitchManagerSynchronizeErrorCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/command/SwitchManagerSynchronizeResponseCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/command/SwitchManagerSynchronizeSwitchCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/command/SwitchManagerWorkerCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
Labels: C/NETWORK, C/SWMANAGER, Ready to Merge, feature, tested

#2777 Hotfix/Fixed processing an activated switch if the meterEntry is null in the synchronization response.
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
Labels: C/NETWORK, bugfix

#2753 Design for LLDP Connected devices feature
  docs/design/connected-devices-lldp/connected-devices-lldp.md
  docs/design/connected-devices-lldp/lldp-catching.puml
  docs/design/connected-devices-lldp/lldp_catching.png
Labels: Ready to Merge, area/connected_devices, area/docs, feature

#2778 Change logic of verification duplicate isl in PCE
  services/src/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
Labels: Ready to Merge, area/pce, improvement

#2775 add monitoring section in readme file for performance test
  services/src/performance-tests/README.md
  services/src/performance-tests/config-monitoring.yml.example
Labels: Ready to Merge, area/testing, improvement

#2784 Fixed JSON deserialization when switch sync error.
  services/src/messaging/src/main/java/org/openkilda/messaging/error/rule/SwitchSyncErrorData.java
Labels: C/NB, C/NETWORK, C/SWMANAGER, On Review, bugfix

#2790 Fix the search for N network paths.
  services/src/kilda-pce/src/main/java/org/openkilda/pce/finder/BestCostAndShortestPathFinder.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/model/Node.java
  services/src/kilda-pce/src/test/java/org/openkilda/pce/finder/BestCostAndShortestPathFinderTest.java
Labels: C/NBWORKER, On Review, area/pce, bugfix

#2752 Add protected paths to flow cache in stats topology. Fix #2749
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/bolts/CacheBoltTest.java
Labels: C/STATS, Ready to Merge, bugfix

#2757 Remove obsolete section
  README.md
Labels: Ready to Merge, area/docs, enhancement

#2546 Force `WorkerBolt` to be more strict with stored data
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatedBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/HubBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/TimeoutCallback.java
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/SpeakerWorkerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerWorker.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerWorker.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SpeakerWorkerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  services/wfm/src/test/java/org/openkilda/wfm/share/hubandspoke/WorkerBoltTest.java
Labels: Ready to Merge, area/storm, bug

#2696 Enable nested VLAN support into OVS into lab-service
  services/lab-service/lab/service/topology.py
Labels: Ready to Merge, area/testing, improvement

#2725 improve procedure of making path more preferable
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
Labels: Ready to Merge, area/testing, improvement

#2764 add test system is able to reuse current protected path when can't find new protected path while intentional reroute
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#2802 Revert unhandledInput behaviour in worker bolts
  services/wfm/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
Labels: C/FLOW-HS, On Review, area/storm, improvement

#2804 Fix for handling bfd response from speaker in network topology
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerWorker.java
Labels: C/NETWORK, Next Release, bug, bugfix

#2760 Feature to enable search functionality to drop-downs
  services/src/openkilda-gui/ui/src/app/common/dygraph/dygraph.component.ts
  services/src/openkilda-gui/ui/src/app/common/services/common.service.ts
  services/src/openkilda-gui/ui/src/app/common/services/dygraph.service.ts
  services/src/openkilda-gui/ui/src/app/common/services/flowpath.service.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-add/flow-add.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-add/flow-add.component.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.html
  services/src/openkilda-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/flows/flows.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  services/src/openkilda-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  services/src/openkilda-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
Labels: Ready to Merge, area/gui

#2697 Added instalation of LLDP rules
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManagerConfig.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  services/src/messaging/src/main/java/org/openkilda/messaging/Utils.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/BaseInstallFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallIngressFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallLldpFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallOneSwitchFlow.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallIngressFlowTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallOneSwitchFlowTest.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/service/FlowService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/FlowTopologyTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactoryTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImplTest.java
Labels: C/FL, C/FLOW, Next Release, area/connected_devices, feature

#2739 Func tests for connected devices rules
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowConnectedDeviceSpec.groovy
Labels: Next Release, area/connected_devices, area/testing, improvement

#2782 add test "System doesn't reroute flow to a path with not enough bandwidth available"
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
Labels: Next Release, area/testing, improvement

#2776 Add test for 'new switch connects' scenario
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
Labels: Next Release, area/testing, improvement

#2704 Added switch validation of LLDP
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowConnectedDeviceSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Meter.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Switch.java
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowPathRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepositoryTest.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/SWMANAGER, Next Release, area/connected_devices, feature

#2756 Added catching of LLDP by Floodlight
  services/src/configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannel.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KildaCore.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/model/OfInput.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/LldpPacket.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/connected/LldpPacketTest.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/LldpInfoData.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/ComponentType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/floodlightrouter/Stream.java
Labels: C/FL, Ready to Merge, area/connected_devices, feature

#2808 Add test to verify single-port flow rules validation/synchronization
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
Labels: Next Release, area/testing, improvement

#2754 Add connected devices traffgen support to testing framework
  services/lab-service/traffexam/kilda/traffexam/action.py
  services/lab-service/traffexam/kilda/traffexam/model.py
  services/lab-service/traffexam/kilda/traffexam/rest.py
  services/neo4j/migrations/1.13-connected-device-indexes/1-add-connected-device-index.xml
  services/neo4j/migrations/1.13-connected-device-indexes/rollback.cql
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowConnectedDeviceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/LldpData.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/ConnectedDevice.java
Labels: Next Release, area/connected_devices, area/testing, improvement

#2815 Fixed 1.14 migration
  services/neo4j/migrations/1.14-connected-device-indexes/1-add-connected-device-index.xml
Labels: C/NEO4J, DB Migration, Next Release, improvement

#2816 Extend lldp tests with lldp+vxlan tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowConnectedDeviceSpec.groovy
Labels: Next Release, area/connected_devices, area/testing, improvement

#2807 Added event logging with getting statistics.
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/statsrouter/service/StatsRouterService.java
Labels: C/FL, C/STATS, Next Release, improvement

#2800 add waiter to openTsdbSpec
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Next Release, area/testing, improvement

#2817 Fixed null LLDP meter
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
Labels: C/FL, Next Release, area/connected_devices

#2825 Added LLDP cookies and meters to StatsTopology cache
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MeterStatsMetricGenBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/bolts/CacheBoltTest.java
Labels: C/STATS, Next Release, area/connected_devices, bugfix

#2810 Fixed handling of unexpected responses in SwitchManagerWorker in Network topology.
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerWorker.java
Labels: C/NETWORK, Next Release, bugfix

#2824 fix logic in makePathMorePreferable
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
Labels: Next Release, area/testing, improvement

#2828 Update lldp tests to select switches for tests more granularly
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  services/src/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPair.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowConnectedDeviceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
Labels: Next Release, area/connected_devices, area/testing, improvement

#2745 Add switch connection port info. Fix #2681
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/converters/InetSocketAddressConverter.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Switch.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/Neo4jBasedTest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/response/GetSwitchResponse.java
  services/src/northbound-service/nb-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchDto.java
  services/src/northbound-service/nb-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  services/src/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/SwitchMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/SwitchPropertiesMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdPortFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/SwitchMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkBfdPortServiceTest.java
Labels: C/NB, C/NBWORKER, C/NETWORK, Next Release, feature

#2780 add tets for port history antiflap
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
Labels: Ready to Merge, area/testing, feature

#2624 OF cookie management cleanup
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/Neo4jTxConcurrencyTest.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepositoryTest.java
  services/src/kilda-core/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
  services/src/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/impl/FlowServiceTest.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/FlowDirectionHelper.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/FlowMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactoryTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/FlowDirectionHelperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImplTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImplTest.java
Labels: C/FL, C/FLOW, C/STATS, C/SWMANAGER, Next Release, improvement

#2693 Added multitable support into floodlight logic
  services/src/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/flow/request/InstallEgressRule.java
  services/src/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/flow/request/InstallMultiSwitchIngressRule.java
  services/src/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/flow/request/InstallTransitRule.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/FlowCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/FlowRemoveCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/InstallEgressRuleCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/InstallIngressRuleCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/InstallOneSwitchRuleCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/InstallTransitRuleCommand.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/ping/PingService.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  services/src/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/InstallEgressRuleCommandTest.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/InstallIngressRuleCommandTest.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/InstallTransitRuleCommandTest.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/ReplaceInstallFlowTest.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerOF12Test.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/OutputCommands.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/PushSchemeOutputCommands.java
  services/src/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/ReplaceSchemeOutputCommands.java
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_egress_none_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_egress_pop_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_egress_push_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_egress_replace_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_ingress_none_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_ingress_pop_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_ingress_push_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_ingress_replace_flow.json
  services/src/floodlight-service/floodlight-modules/src/test/resources/install_transit_flow.json
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallEgressFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallIngressFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallTransitFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesCriteria.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/Constants.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallEgressFlowTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallIngressFlowTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallTransitFlowTest.java
  services/wfm/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flowhs/service/TransitBasedFlowCommandBuilder.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactoryTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flowhs/service/TransitBasedFlowCommandBuilderTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImplTest.java
Labels: C/FL, C/FLOW, C/FLOW-HS, Next Release, area/multi_table_pipeline, area/vxlan_encapsulation, feature, tested

#2767 extend statistic test coverage for different type of flow
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/tools/FlowTrafficExamBuilder.java
Labels: Next Release, area/testing, improvement

#2796 add flowHistory test for v2
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslMinPortSpeedSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesSpec.groovy
Labels: Next Release, area/testing, improvement

#2812 Port history antiflap stats
  confd/templates/wfm/topology.properties.tmpl
  docs/design/network-discovery/AF-FSM.png
  docs/design/network-discovery/AF-FSM.puml
  docs/design/network-discovery/port-FSM.png
  docs/design/network-discovery/port-report-FSM.puml
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  services/src/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  services/src/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
  services/wfm/src/main/java/org/openkilda/wfm/share/history/model/PortHistoryEvent.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/controller/AntiFlapFsm.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/model/NetworkOptions.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/service/IAntiFlapCarrier.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/history/command/AntiFlapPortHistoryWithStatsCommand.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/PortHandler.java
Labels: C/NETWORK, Next Release, feature

#2830 Fixed different timeFirstSeen and TimeLastSeen for Connected Devices
  services/wfm/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/connecteddevices/service/PacketServiceTest.java
Labels: C/CONNECTED, Next Release, bugfix

#2831 Tag more low-value tests as LOW_PRIORITY
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslCostSpec.groovy
Labels: Next Release, area/testing, improvement

#2832 Removed migration 1.13 artifact
  services/neo4j/migrations/1.13-connected-device-indexes/1-add-connected-device-index.xml
  services/neo4j/migrations/1.13-connected-device-indexes/rollback.cql
Labels: Next Release, improvement
