Repository telstra/open-kilda, pull requests merged in 2019-01, with the labels that each got.

#1712 Design for multi-stage process of switch rule installation
  docs/design/solutions/multi-stage-rule-installation/multi-stage-rule-installation.md
  docs/design/solutions/multi-stage-rule-installation/multi-stage-rule-installation.png
  docs/design/solutions/multi-stage-rule-installation/multi-stage-rule-installation.puml
  docs/design/solutions/multi-stage-rule-installation/rule-installation-old.png
  docs/design/solutions/multi-stage-rule-installation/rule-installation-old.puml
Labels: Ready to Merge, area/docs

#1832 Fixed removing metered flow without meter
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Flow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallIngressFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/command/flow/InstallOneSwitchFlow.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallIngressFlowTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/InstallOneSwitchFlowTest.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourceCache.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactory.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/service/FlowResourcesManager.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactoryTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowResourcesManagerTest.java
Labels: C/FLOW, Ready to Merge

#1846 Add a few functional tests for link props
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkPropertiesSpec.groovy
Labels: Ready to Merge, area/testing

#1705 Extend kafka producer API to allow key field usage
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/AbstractWorker.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/DefaultWorker.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/IKafkaProducerService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerProxy.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/OrderAwareWorker.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/TestAwareKafkaProducerService.java
Labels: C/FL, Ready to Merge

#1835 #1827: Add test that blinks port super fast
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/Wrappers.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/PortAntiflapSpec.groovy
Labels: Ready to Merge, area/testing

#1818 Fix port antiflap.
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/PortAntiflapSpec.groovy
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/service/PortEventThrottlingService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/service/PortEventThrottlingServiceTest.java
Labels: C/EVENT, On Review, area/storm/event

#1855 Fix ordering of OF events
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchTrackingService.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchTrackingServiceTest.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/PortAntiflapSpec.groovy
Labels: C/FL, Next Release

#1847 [Floodlight] Fix checkstyle suppress.
  services/src/floodlight-modules/src/checkstyle/checkstyle-suppress-known-issues.xml
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/FloodlightTestCase.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/MockFloodlightProvider.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/MockSwitchManager.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/pathverification/PathVerificationPacketInTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/pathverification/PathVerificationPacketOutTest.java
Labels: Ready to Merge, area/floodlight, refactor

#1823 Enhancement for dynamic configuration of application session timeout
  services/src/openkilda-gui/src/main/java/org/openkilda/OpenKildaApplication.java
  services/src/openkilda-gui/src/main/java/org/openkilda/auth/interceptor/RequestInterceptor.java
  services/src/openkilda-gui/src/main/java/org/openkilda/constants/IConstants.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/ApplicationSettingController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/CommonRequestHandlerController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/dao/entity/ApplicationSettingEntity.java
  services/src/openkilda-gui/src/main/java/org/openkilda/dao/repository/ApplicationSettingRepository.java
  services/src/openkilda-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/ApplicationSettingService.java
  services/src/openkilda-gui/src/main/resources/db/import-script_10.sql
  services/src/openkilda-gui/src/main/resources/db/import-script_11.sql
  services/src/openkilda-gui/ui/src/app/app-routing.module.ts
  services/src/openkilda-gui/ui/src/app/app.module.ts
  services/src/openkilda-gui/ui/src/app/common/components/header/header.component.html
  services/src/openkilda-gui/ui/src/app/common/components/header/header.component.ts
  services/src/openkilda-gui/ui/src/app/common/services/common.service.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  services/src/openkilda-gui/ui/src/app/modules/settings/session/session.component.css
  services/src/openkilda-gui/ui/src/app/modules/settings/session/session.component.html
  services/src/openkilda-gui/ui/src/app/modules/settings/session/session.component.spec.ts
  services/src/openkilda-gui/ui/src/app/modules/settings/session/session.component.ts
  services/src/openkilda-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge

#1706 hub and spoke design, poc and library
  docs/design/hub-and-spoke/v6/wfm-error-hub.png
  docs/design/hub-and-spoke/v6/wfm-error-hub.puml
  docs/design/hub-and-spoke/v6/wfm-error-worker.png
  docs/design/hub-and-spoke/v6/wfm-error-worker.puml
  docs/design/hub-and-spoke/v6/wfm.png
  docs/design/hub-and-spoke/v6/wfm.puml
  docs/design/hub-and-spoke/v7/README.md
  docs/design/hub-and-spoke/v7/fire-and-forget.jpg
  docs/design/hub-and-spoke/v7/poc/nb&fl/fl.py
  docs/design/hub-and-spoke/v7/poc/nb&fl/nb.py
  docs/design/hub-and-spoke/v7/poc/nb&fl/requirements.txt
  docs/design/hub-and-spoke/v7/poc/nb&fl/rest-api.http
  docs/design/hub-and-spoke/v7/poc/wfm/FlowCrud.png
  docs/design/hub-and-spoke/v7/poc/wfm/Makefile
  docs/design/hub-and-spoke/v7/poc/wfm/pom.xml
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/Constants.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/DiagramBuilder.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlWorkerBolt.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlowCrudBolt.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlowCrudFsm.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlowCrudService.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlowCrudServiceFsm.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/FlowService.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/HistoryService.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/IFlowCrudCarrier.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/IFlowCrudService.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/PathService.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/Topology.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/Utils.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/Constants.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/CoordinatorBolt.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/CoordinatorClient.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/CoordinatorSpout.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/HubBolt.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/StormToKafkaTranslator.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/hubandspoke/WorkerBolt.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/model/FlCommand.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/model/FlowCreate.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/model/FlowCreateError.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/model/InstallRule.java
  docs/design/hub-and-spoke/v7/poc/wfm/src/main/java/org/openkilda/model/ValidateRule.java
  docs/design/hub-and-spoke/v7/sample.png
  docs/design/hub-and-spoke/v7/sample.puml
  docs/design/hub-and-spoke/v7/wfm-error-hub.png
  docs/design/hub-and-spoke/v7/wfm-error-hub.puml
  docs/design/hub-and-spoke/v7/wfm-error-worker.png
  docs/design/hub-and-spoke/v7/wfm-error-worker.puml
  docs/design/hub-and-spoke/v7/wfm-no-concurrent-request.png
  docs/design/hub-and-spoke/v7/wfm-no-concurrent-request.puml
  docs/design/hub-and-spoke/v7/wfm.png
  docs/design/hub-and-spoke/v7/wfm.puml
Labels: area/arch, epic/hub@spoke

#1859 Skip some ping flow tests to unblock CI
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
Labels: Next Release, area/testing

#1857 Minor stability fixes in multiple tests
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/AutoRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkPropertiesSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/PortAntiflapSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
Labels: Ready to Merge, area/testing

#1708 Add ChaosSpec
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
Labels: Ready to Merge, area/testing

#1858 Extend functional tests for meters
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
Labels: Ready to Merge, area/testing

#1863 Enhancement get flow of an isl
  services/src/openkilda-gui/src/main/java/org/openkilda/constants/IConstants.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/SwitchController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/SwitchService.java
  services/src/openkilda-gui/ui/src/app/app.module.ts
  services/src/openkilda-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.css
  services/src/openkilda-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.html
  services/src/openkilda-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.spec.ts
  services/src/openkilda-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.ts
  services/src/openkilda-gui/ui/src/app/common/services/isl-detail.service.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-flow-datatables/isl-flow-datatables.component.css
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-flow-datatables/isl-flow-datatables.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-flow-datatables/isl-flow-datatables.component.spec.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-flow-datatables/isl-flow-datatables.component.ts
  services/src/openkilda-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  services/src/openkilda-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  services/src/openkilda-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge

#1759 #1548 Add parameter to reroute all flows on the ISL when setting "Under maintenance" flag.
  docs/design/usecase/link-update-under-maintenance.png
  docs/design/usecase/link-update-under-maintenance.puml
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkUnderMaintenanceDto.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/UpdateLinkUnderMaintenanceRequest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/service/LinkServiceTest.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PersistenceOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#1754 #1548 Update logic for ISL with "Under maintenance" flag.
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/usecase/link-update-under-maintenance.png
  docs/design/usecase/link-update-under-maintenance.puml
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkUnderMaintenanceDto.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/UpdateLinkUnderMaintenanceRequest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/service/LinkServiceTest.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PersistenceOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  services/wfm/src/main/resources/topology.properties.example
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
Labels: C/NBWORKER, On Review

#1829 #1821 Fix flow resource allocation.
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/MeterPool.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/ReplaceInstallFlowTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/MeterPoolTest.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/MeterPool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/MeterPoolIsFullException.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourceCache.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourcePool.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourcePoolIsFullException.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/MeterPoolTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/ResourceCacheTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/ResourcePoolTest.java
Labels: C/FL, C/FLOW, Ready to Merge

#1867 Add method to test library for updating maintenance mode for links
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#1742 #1548 API for set/clear "Under maintenance" flag for ISL.
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/usecase/link-update-under-maintenance.md
  docs/design/usecase/link-update-under-maintenance.png
  docs/design/usecase/link-update-under-maintenance.puml
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkDto.java
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkUnderMaintenanceDto.java
  services/src/api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Isl.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/UpdateLinkUnderMaintenanceRequest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/info/event/IslInfoDataTest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/controller/LinkController.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/LinkService.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/service/LinkServiceTest.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
  services/wfm/src/main/java/org/openkilda/simulator/bolts/SpeakerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/OfeMessageUtils.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PersistenceOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  services/wfm/src/main/resources/topology.properties.example
  services/wfm/src/test/java/org/openkilda/wfm/OfEventWfmTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/IslMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/OfeLinkBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
Labels: C/NB, C/NBWORKER, On Review

#1881 1870: change PortBlinker to use kafka instead of NB API
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/helpers/thread/PortBlinker.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/PortAntiflapSpec.groovy
Labels: Ready to Merge, area/testing

#1874 1841: Add test that verifies error when there's no path for the flow
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowCrudSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: Ready to Merge, area/testing

#1885 Add tests to verify rerouting all flows going through a particular ISL
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#1824 Evolve PCE with weights computation strategies design
  docs/design/solutions/pce-weights-strategies/pce-weights-strategies.md
  docs/design/solutions/pce-weights-strategies/pce-weights-strategies.png
  docs/design/solutions/pce-weights-strategies/pce-weights-strategies.puml
Labels: Ready to Merge, area/arch, area/docs, area/pce

#1724 #609 New API: Reroute all flows which go through a particular ISL.
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/usecase/link-reroute-all-flows-which-go-through.md
  docs/design/usecase/link-reroute-all-flows-which-go-through.png
  docs/design/usecase/link-reroute-all-flows-which-go-through.puml
  docs/design/usecase/link-update-under-maintenance.md
  docs/design/usecase/link-update-under-maintenance.png
  docs/design/usecase/link-update-under-maintenance.puml
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkDto.java
  services/src/api/src/main/java/org/openkilda/northbound/dto/links/LinkUnderMaintenanceDto.java
  services/src/api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  services/src/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/virtualenv/VirtualEnvCleanupExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Isl.java
  services/src/messaging/src/main/java/org/openkilda/messaging/error/MessageException.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/RerouteFlowsForIslRequest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/UpdateLinkUnderMaintenanceRequest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/info/event/IslInfoDataTest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/controller/LinkController.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/LinkService.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/service/LinkServiceTest.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
  services/wfm/src/main/java/org/openkilda/simulator/bolts/SpeakerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/OfeMessageUtils.java
  services/wfm/src/main/java/org/openkilda/wfm/error/MessageException.java
  services/wfm/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/bolts/SplitterBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/StreamType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/MessageEncoder.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PersistenceOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  services/wfm/src/main/resources/topology.properties.example
  services/wfm/src/test/java/org/openkilda/wfm/OfEventWfmTest.java
  services/wfm/src/test/java/org/openkilda/wfm/share/mappers/IslMapperTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/OfeLinkBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/islstats/bolts/IslStatsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBoltTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
Labels: C/NB, C/NBWORKER, On Review

#1780 #1198: Add OFPFF_RESET_COUNTS to the flow_mod command
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerOF12Test.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/OutputCommands.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/PushSchemeOutputCommands.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/ReplaceSchemeOutputCommands.java
Labels: C/FL, Ready to Merge

#1884 Remove CleanupSwitchesRule
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/fixture/rule/CleanupSwitches.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/fixture/rule/CleanupSwitchesRule.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/AutoRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/BandwidthSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowsSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/IntentionalRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchFailuresSpec.groovy
Labels: Ready to Merge, area/testing

#1888 Avoid double execution of a particular functional test
  services/src/functional-tests/pom.xml
Labels: Ready to Merge, area/testing

#1331 Improve FL logging
  confd/templates/floodlight/logback.xml.tmpl
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
Labels: C/FL, Ready to Merge

#1773 #1715 API to get Switch detail by switch id via NB API.
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchesSpec.groovy
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetSwitchRequest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/controller/SwitchController.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/SwitchService.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/wfm/src/main/java/org/openkilda/wfm/error/SwitchNotFoundException.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#1898 Small fixes to stabilize tests execution on hardware environments
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/ThrottlingRerouteSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkMaintenanceSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/MetersSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
Labels: Ready to Merge, area/testing

#1869 NbWorker and NeoRepositories optimisations
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowSegmentRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jGenericRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jIslRepository.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
Labels: Ready to Merge, area/storm

#1913 Add tests to verify getting links with specifying query params
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#1767 #1744 API to get particular ISL link detail, based on arguments via NB API.
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/links/LinkSpec.groovy
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/IslRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jIslRepository.java
  services/src/messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetLinksRequest.java
  services/src/northbound/src/main/java/org/openkilda/northbound/controller/LinkController.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/LinkService.java
  services/src/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  services/src/northbound/src/test/java/org/openkilda/northbound/service/LinkServiceTest.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#1891 #1887 Eliminate unused code from TE.
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/virtualenv/VirtualEnvExtension.groovy
  services/topology-engine/queue-engine/tests/__init__.py
  services/topology-engine/queue-engine/tests/smoke-tests/clean-flow-rules.py
  services/topology-engine/queue-engine/tests/smoke-tests/clean_topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-flow-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-flows-api.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-multi-path-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-partial-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-simple-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-small-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create-tiny-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/create_topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/deploy-flow-rules.py
  services/topology-engine/queue-engine/tests/smoke-tests/flow-mq-structure.sh
  services/topology-engine/queue-engine/tests/smoke-tests/flow-topology.json
  services/topology-engine/queue-engine/tests/smoke-tests/get-flow-rules.py
  services/topology-engine/queue-engine/tests/smoke-tests/multi-path-topology.json
  services/topology-engine/queue-engine/tests/smoke-tests/neo4-topology.py
  services/topology-engine/queue-engine/tests/smoke-tests/nodes.py
  services/topology-engine/queue-engine/tests/smoke-tests/partial-topology.json
  services/topology-engine/queue-engine/tests/smoke-tests/queue-throughput-test.py
  services/topology-engine/queue-engine/tests/smoke-tests/small-topology.json
  services/topology-engine/queue-engine/tests/smoke-tests/stress_test.py
  services/topology-engine/queue-engine/tests/smoke-tests/stress_test_2.py
  services/topology-engine/queue-engine/tests/smoke-tests/tiny-topology.json
  services/topology-engine/queue-engine/tests/test_flow_segments.py
  services/topology-engine/queue-engine/topologies/example-topology-prepopulation.json
  services/topology-engine/queue-engine/topologylistener/eventhandler.py
  services/topology-engine/queue-engine/topologylistener/flow_utils.py
  services/topology-engine/queue-engine/topologylistener/isl_utils.py
  services/topology-engine/queue-engine/topologylistener/link_props_utils.py
  services/topology-engine/queue-engine/topologylistener/message_utils.py
  services/topology-engine/queue-engine/topologylistener/messageclasses.py
  services/topology-engine/queue-engine/topologylistener/tests/__init__.py
  services/topology-engine/queue-engine/topologylistener/tests/data/flow-create-request.json
  services/topology-engine/queue-engine/topologylistener/tests/share.py
  services/topology-engine/queue-engine/topologylistener/tests/test_config.py
  services/topology-engine/queue-engine/topologylistener/tests/test_flow.py
  services/topology-engine/queue-engine/topologylistener/tests/test_isl.py
  services/topology-engine/queue-engine/topologylistener/tests/test_link_props.py
  services/topology-engine/queue-engine/topologylistener/tests/test_switch.py
Labels: C/TE, Ready to Merge

#1443 Create a custom Log manager for Kibana Dashboards
  services/src/messaging/src/main/java/org/openkilda/messaging/Utils.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/utils/KibanaLogWrapper.java
Labels: Ready to Merge

#1917 Add test to verify resetting traffic counters for ingress rule on flow reroute
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
Labels: Ready to Merge, area/testing

#1916 Unignore and move flow resilience test
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowsSpec.groovy
Labels: Ready to Merge, area/testing

#1897 Change LabService to allow custom TopologyDefinition-s
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/vars/main.yaml
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/CommonSteps.java
  services/src/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/FlowCrudSteps.java
  services/src/functional-tests/README.md
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/extension/env/VirtualEnvCleanupExtension.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowCrudSpec.groovy
  services/src/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  services/src/test-library/src/main/java/org/openkilda/testing/config/DefaultServiceConfig.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/labservice/LabService.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/labservice/LabServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperServiceImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperVirtualImpl.java
  services/src/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
Labels: Ready to Merge, area/testing

#1892 Cover PATCH method in API Design Guidelines.
  docs/guidelines/api-guidelines.md
Labels: On Review, Ready to Merge, area/docs

#1924 Restore portStats unit test
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: Ready to Merge, area/testing

#1609 Issue 1572: Collect stats for default rules on a switch
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/service/ping/PingService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/OutputCommands.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/stats/FlowStatsData.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/stats/FlowStatsReply.java
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsComponentType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsStreamType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/SpeakerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/SystemRuleMetricGenBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: Ready to Merge, area/floodlight

#1896 #1894 Eliminate mininet and TER
  Makefile
  confd/conf.d/mininet.log.toml
  confd/conf.d/topology_engine_rest.application.toml
  confd/conf.d/topology_engine_rest.log.toml
  confd/templates/mininet/log.json.tmpl
  confd/templates/topology-engine-rest/log.json.tmpl
  confd/templates/topology-engine-rest/topology_engine_rest.ini.tmpl
  docker-compose.yml
  services/mininet/.gitignore
  services/mininet/Dockerfile
  services/mininet/Makefile
  services/mininet/README.rst
  services/mininet/REST_FRONTEND.md
  services/mininet/app/entry-point.sh
  services/mininet/app/examples/example1_ofrules.sh
  services/mininet/app/examples/h1s1_h2s1_rules.sh
  services/mininet/app/examples/mininet_rest_test.py
  services/mininet/app/examples/plan-b.py
  services/mininet/app/examples/plan-c.py
  services/mininet/app/examples/plan-d.py
  services/mininet/app/examples/plan-e.py
  services/mininet/app/log.json.example
  services/mininet/kilda/__init__.py
  services/mininet/kilda/mininet/__init__.py
  services/mininet/kilda/mininet/flow_tool.py
  services/mininet/kilda/mininet/rest.py
  services/mininet/requirements.txt
  services/mininet/setup.py
  services/mininet/tox.ini
  services/topology-engine-rest/Dockerfile
  services/topology-engine-rest/app/README.md
  services/topology-engine-rest/app/app/__init__.py
  services/topology-engine-rest/app/app/exc.py
  services/topology-engine-rest/app/app/flows.py
  services/topology-engine-rest/app/app/login.py
  services/topology-engine-rest/app/app/models.py
  services/topology-engine-rest/app/app/neo4j_tools.py
  services/topology-engine-rest/app/app/static/css/base.css
  services/topology-engine-rest/app/app/templates/base.html
  services/topology-engine-rest/app/app/templates/flows.html
  services/topology-engine-rest/app/app/templates/index.html
  services/topology-engine-rest/app/app/templates/login.html
  services/topology-engine-rest/app/app/templates/topologynetwork.html
  services/topology-engine-rest/app/app/tests/__init__.py
  services/topology-engine-rest/app/app/tests/get_links.py
  services/topology-engine-rest/app/app/tests/push_flows.py
  services/topology-engine-rest/app/app/topology.py
  services/topology-engine-rest/app/app/utils.py
  services/topology-engine-rest/app/log.json.example
  services/topology-engine-rest/app/topology_engine_rest.ini.example
  services/topology-engine-rest/app/uwsgi.ini
  services/topology-engine-rest/app/wsgi.py
  services/topology-engine-rest/db/database.db
  services/topology-engine-rest/nginx/sites/default
  services/topology-engine-rest/supervisor/supervisord.conf
  services/topology-engine-rest/variables.env
Labels: C/TER, Ready to Merge

#1903 Extend functional test for verifying switch rules synchronisation
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
Labels: Ready to Merge, area/testing

#1931 Fix stats test for default rules
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/isl/IslMovementSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/flows/FlowPingSpec.groovy
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  services/src/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing

#1481 Add unit tests for FL install default rules
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/OutputCommands.java
Labels: Ready to Merge, area/testing

#1940 Add right topic for sending response for dumpMeters request.
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
Labels: C/FL, Ready to Merge

#1747 Collect statistics from meters
  services/src/floodlight-modules/pom.xml
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfMeterStatsMapper.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/OfMeterStatsMapperTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/MeterId.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/stats/MeterStatsData.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/stats/MeterStatsEntry.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/CacheFlowEntry.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsComponentType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsStreamType.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheFilterBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/bolts/SpeakerBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/MeterStatsMetricGenBolt.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/stats/metrics/SystemRuleMetricGenBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: C/FL, C/STATS, Ready to Merge, area/stats

#1811 Use real SwitchManagerConfig in unit tests
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManagerConfig.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/ReplaceInstallFlowTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
Labels: C/FL, Ready to Merge, area/testing

#1660 Bfd session management on FL side
  confd/vars/main.yaml
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/CommandContext.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/ResolveFutureCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/BfdCatchCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/BfdCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/BfdSessionCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/RemoveBfdCatchCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/RemoveBfdSessionCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/SetupBfdCatchCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/command/bfd/SetupBfdSessionCommand.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/error/NoFeatureException.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollector.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/CommandDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/PingRequestDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/RemoveBfdCatchDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/RemoveBfdSessionDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/SetupBfdCatchDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/dispatcher/SetupBfdSessionDispatcher.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchTrackingService.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/ReplaceInstallFlowTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/service/ping/PingServiceTest.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchTrackingServiceTest.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/request/RemoveBfdCatch.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/request/RemoveBfdSession.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/request/SetupBfdCatch.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/request/SetupBfdSession.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/response/BfdCatchResponse.java
  services/src/messaging/src/main/java/org/openkilda/messaging/floodlight/response/BfdSessionResponse.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/NoviBfdCatch.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/NoviBfdEndpoint.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/NoviBfdSession.java
  services/src/messaging/src/main/java/org/openkilda/messaging/model/Switch.java
  services/src/messaging/src/test/java/org/openkilda/messaging/JsonSerializeAbstractTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/BfdCatchAbstractTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/BfdSessionAbstractTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/request/RemoveBfdCatchTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/request/RemoveBfdSessionTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/request/SetupBfdCatchTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/request/SetupBfdSessionTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/response/BfdCatchResponseTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/floodlight/response/BfdSessionResponseTest.java
  services/src/messaging/src/test/java/org/openkilda/messaging/info/DatapointTest.java
  services/wfm/src/test/java/org/openkilda/wfm/isl/DiscoveryManagerTest.java
Labels: C/FL, On Review

#1914 Changed log level of FlowNotFound exception from Error to Warn
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  services/src/messaging/src/main/java/org/openkilda/messaging/error/ClientErrorMessage.java
  services/src/northbound/src/main/java/org/openkilda/northbound/messaging/kafka/KafkaMessagingChannel.java
  services/wfm/src/main/java/org/openkilda/wfm/error/ClientException.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/flow/bolts/CrudBolt.java
Labels: C/FLOW, Ready to Merge

#1927 Do not sent port events for bdf ports
  confd/templates/wfm/topology.properties.tmpl
  confd/vars/main.yaml
  services/wfm/src/checkstyle/checkstyle-suppress-known-issues.xml
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OFEventWfmTopologyConfig.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/main/resources/topology.properties.example
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/OfeLinkBoltTest.java
  services/wfm/src/test/resources/topology.properties
Labels: C/EVENT, On Review

#1962 Add tests to verify switch validation when synchronizing rules
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/northbound/switches/SwitchRulesSpec.groovy
Labels: area/testing

#1802 Change MIN_METER_ID to 32
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  services/src/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/Constants.java
  services/src/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  services/src/floodlight-modules/src/test/resources/install_ingress_none_flow.json
  services/src/floodlight-modules/src/test/resources/install_ingress_pop_flow.json
  services/src/floodlight-modules/src/test/resources/install_ingress_push_flow.json
  services/src/floodlight-modules/src/test/resources/install_ingress_replace_flow.json
  services/src/floodlight-modules/src/test/resources/install_one_switch_none_flow.json
  services/src/floodlight-modules/src/test/resources/install_one_switch_pop_flow.json
  services/src/floodlight-modules/src/test/resources/install_one_switch_push_flow.json
  services/src/floodlight-modules/src/test/resources/install_one_switch_replace_flow.json
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/MeterId.java
  services/src/kilda-core/kilda-model/src/test/java/org/openkilda/model/MeterIdTest.java
  services/wfm/src/main/java/org/openkilda/wfm/share/cache/ResourceCache.java
  services/wfm/src/test/java/org/openkilda/wfm/share/cache/ResourceCacheTest.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/flow/service/FlowResourcesManagerTest.java
Labels: C/FL, Ready to Merge, area/floodlight

#1974 this patch added more logical port masking.
  services/src/messaging/src/main/java/org/openkilda/messaging/info/InfoMessage.java
  services/src/messaging/src/main/java/org/openkilda/messaging/info/event/SwitchInfoData.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/event/OfeLinkBolt.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/event/OfeLinkBoltTest.java
Labels: C/EVENT, Ready to Merge
