Repository telstra/open-kilda, pull requests merged in 2020-09, with the labels that each got.

#3706 Minor tests adjustments
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: Ready to Merge, area/testing

#3707 More accurate handling of newrok dumps for region mappings
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchConnectMonitor.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchReadOnlyConnectMonitor.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchReadWriteConnectMonitor.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchMonitorServiceTest.java
Labels: C/ROUTER, On Review, improvement

#3708 Minor test fix for flow maxLatency history
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
Labels: Ready to Merge, area/testing

#3700 Skip excess paths in validation for server42 rules
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/SWMANAGER, Ready to Merge, improvement

#3704 Update func tests to be able to reveal #3703
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
Labels: Ready to Merge, area/testing

#3716 Add confd key in order to change space used for logging
  confd/templates/floodlight-modules/logback.xml.tmpl
Labels: C/FL, Ready to Merge, improvement

#3711 Fix validation of server42 ingress rules
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/Cookie.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/SimpleConversionCallback.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/SimpleConversionCallbackTest.java
Labels: C/SWMANAGER, Ready to Merge, bugfix

#3723 Feature to display topology on a world map
  src-gui/src/main/java/org/openkilda/model/Location.java
  src-gui/src/main/java/org/openkilda/model/SwitchInfo.java
  src-gui/ui/angular.json
  src-gui/ui/package.json
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/data-models/topology-view.ts
  src-gui/ui/src/app/common/services/topology-graph.service.ts
  src-gui/ui/src/app/common/services/topology.service.ts
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.html
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.ts
  src-gui/ui/src/app/modules/topology/topology.component.html
  src-gui/ui/src/app/modules/topology/topology.component.ts
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.css
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.html
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.spec.ts
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.ts
  src-gui/ui/src/assets/images/red.png
  src-gui/ui/src/assets/images/yellow.png
  src-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge, area/gui

#3737 Hotfix/world map cluster cache issue
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.ts
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#3730 Added encapsulation_type and path_computation_strategy to /v1/network/paths API
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetPathsRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PathsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/PathsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/PathsServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/NetworkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/editor/CaseInsensitiveEnumEditor.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/NetworkService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/NetworkServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge, area/api, area/pce, feature, tested

#3460 Document solutions for migration to another data storage
  docs/design/solutions/data-storage-v2/data-storage-v2-options.md
  docs/design/solutions/data-storage-v2/persistence-layer-multi-model.svg
  docs/design/solutions/data-storage-v2/persistence-layer-rdbms.svg
Labels: Ready to Merge, area/arch, area/docs, area/pce, area/persistence

#3705 Add design for flow loop feature
  docs/design/flow-loop/flow-loop-create-fsm.png
  docs/design/flow-loop/flow-loop-create-fsm.puml
  docs/design/flow-loop/flow-loop-delete-fsm.png
  docs/design/flow-loop/flow-loop-delete-fsm.puml
  docs/design/flow-loop/flow-loop.md
  docs/design/flow-loop/flow-loop.png
Labels: Ready to Merge, area/docs

#3713 Update functional tests. minor improvements
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
Labels: Ready to Merge, area/testing

#3726 add template functional-tests.log4j2.toml
  confd/conf.d/functional-tests.log4j2.toml
Labels: Ready to Merge, area/testing, improvement

#3709 Cleanup outdated kafka-topic references
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
Labels: Ready to Merge, improvement

#3699 Debug logging toggle for storm topologies
  docker/wfm/app/Makefile
  docker/wfm/app/deploy_all_topologies.sh
  docker/wfm/app/deploy_single_topology.sh
  docker/wfm/app/enable-debug-logging.sh
  docker/wfm/app/kill-topology.sh
Labels: Ready to Merge, improvement

#3741 Hex view for switch field representing cookies
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/HexView.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesSyncDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesSyncResult.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesValidationDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesValidationResult.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
Labels: C/NB, Ready to Merge, area/api, improvement

#3728 update port/vlan should not cause reroute
  docs/design/hub-and-spoke/crud/update/flow-update-fsm.dot
  docs/design/hub-and-spoke/crud/update/flow-update-fsm.png
  docs/design/hub-and-spoke/crud/update/flow-update-fsm.puml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/model/SpeakerRequestBuildContext.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowCommandBuilder.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/model/RulesContext.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/InstallNonIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/SkipPathsAndResourcesDeallocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
Labels: C/FL, C/FLOW-HS, Ready to Merge, area/testing, feature, tested

#3698 Fix gui build
  src-gui/.gitignore
  src-gui/src/main/resources/ui/index.html
Labels: C/GUI, On Review, improvement

#3746 Hotfix/world map issues
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/model/Location.java
  src-gui/src/main/resources/db/import-script_28.sql
  src-gui/ui/src/app/common/services/topology-graph.service.ts
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.html
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.ts
  src-gui/ui/src/app/modules/topology/topology.component.html
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.ts
  src-gui/ui/src/assets/images/green.png
  src-gui/ui/src/styles.css
Labels: C/GUI, Next Release, area/gui, bugfix

#3724 [Server42] Stats app reconnecting
  src-cpp/server42/external/upstream/zeromq/CMakeLists.txt
  src-cpp/server42/src/Workers.cpp
  src-cpp/server42/src/server42.cpp
  src-java/server42/server42-stats/src/main/java/org/openkilda/server42/stats/zeromq/StatsCollector.java
Labels: Next Release, area/server42, feature

#3738 Simplify BFD session management
  docs/design/network-discovery/bfd-port-FSM.png
  docs/design/network-discovery/bfd-port-FSM.puml
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdAction.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdPortFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdSessionRemoveAction.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdSessionSetupAction.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/PortStatusMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkBfdPortService.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/controller/bfd/ActionTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/controller/bfd/BfdSessionRemoveActionTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/controller/bfd/BfdSessionSetupActionTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkBfdPortServiceTest.java
Labels: C/NETWORK, Next Release, improvement

#3750 update log template for func_test
  src-java/testing/functional-tests/src/test/resources/log4j2.xml
Labels: Next Release, area/testing, improvement

#3739 add tests for #3728
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Next Release, area/testing, improvement

#3751 Allow processing grpc requests without kafka-key
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/KafkaMessageListener.java
Labels: C/GRPC, Next Release, bugfix, tested

#3752 Fix GRPC stats response kafka topic
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/MessageProcessor.java
Labels: C/GRPC, Next Release, bugfix, tested
