Repository telstra/open-kilda, pull requests merged in 2020-11, with the labels that each got.

#3838 ignore unstable test in swapEndpointSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3831 Removed legacy variable OK_TESTS="DISABLE_LOGIN"
  confd/templates/makefile/makefile.tmpl
  docker/base/hacks/usecase/flow.crud.make
  docker/base/hacks/usecase/network.disco.make
Labels: Ready to Merge, improvement

#3827 Refactor reroute tests to reveal #3826
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#3824 improve envExtension (configure switch mode if cleanup = true)
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/HardwareEnvCleanupExtension.groovy
Labels: Ready to Merge, area/testing, improvement

#3790 Add logging for fallbacks in fetching switches in data model
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowPathFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/PathSegmentFrame.java
Labels: C/CONNECTED, C/FLOW-HS, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, improvement

#3781 Add test that reveals #3780
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/Wrappers.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#3832 Removed legacy Entry_point from wfm make file
  docker/wfm/app/Makefile
Labels: Ready to Merge, improvement

#3747 Rework design for flow loop feature
  docs/design/flow-loop/flow-loop-create-fsm.png
  docs/design/flow-loop/flow-loop-create-fsm.puml
  docs/design/flow-loop/flow-loop-delete-fsm.png
  docs/design/flow-loop/flow-loop-delete-fsm.puml
  docs/design/flow-loop/flow-loop.md
Labels: Next Release, area/docs

#3851 [Server42] Software timestamps
  src-cpp/server42/Dockerfile
  src-cpp/server42/docker_entrypoint.sh
  src-cpp/server42/src/Workers.cpp
Labels: Next Release, area/server42, feature

#3848 ignore test according to #3847
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
Labels: Next Release, area/testing, improvement

#3839 Wrap git commands for floodlight and loxigen in gradle
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
Labels: Next Release, improvement

#3840 Add test for round-trip isl discovery in special cases
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
Labels: Next Release, area/testing

#3828 [Server42] Show warning if dpdk interface is down
  src-cpp/server42/src/server42.cpp
Labels: Next Release, area/server42, feature

#3822 Add func tests for protected flow + max_latency
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathMaxLatencySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: Next Release, area/testing

#3854 Fix BFD logical port FSM action name
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdLogicalPortFsm.java
Labels: C/NETWORK, On Review, bugfix

#3830 Fight port down and discovery events race condition
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryPortStatusMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/IslEndpointPortStatus.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, Next Release, improvement

#3869 adjust autoRerouteV2Spec to #3868
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3560 Fix ISL behavior on round-trip discovery loss
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryRoundTripMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkUniIslService.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkUniIslServiceTest.java
Labels: C/NETWORK, Ready to Merge, bugfix, tested

#3829 ISL status transition visibility improvement
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyDashboardLogger.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryBfdMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryMovedMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryPollMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryPortStatusMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryRoundTripMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/StatusAggregator.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, Ready to Merge, improvement

#3852 Fix create protected flow with max latency path computation strategy
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
Labels: C/FLOW-HS, Ready to Merge, area/pce

#3853 Install server 42 rule if RTT toggle is True
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/GetExpectedDefaultRulesRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesDeleteRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesInstallRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FeatureTogglesBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FeatureTogglesService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/IFeatureTogglesCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchRuleServiceImpl.java
Labels: C/FL, C/NBWORKER, Ready to Merge, area/server42, improvement

#3868 Fix reroute degraded flow
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowPathRemovalAction.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: C/FLOW-HS, Ready to Merge, bugfix

#3835 Adding feature of auto-refresh in world map
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/components/header/header.component.css
  src-gui/ui/src/app/common/components/header/header.component.html
  src-gui/ui/src/app/common/components/header/header.component.ts
  src-gui/ui/src/app/common/components/sidebar/sidebar.component.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/common/services/topology.service.ts
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.css
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.html
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.ts
  src-gui/ui/src/app/modules/topology/topology.component.html
  src-gui/ui/src/app/modules/topology/topology.component.ts
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.ts
  src-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge, area/gui, feature
