Repository telstra/open-kilda, pull requests merged in 2020-12, with the labels that each got.

#3789 add flowLoop endpoint into func test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing, improvement

#3859 Zero downtime
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  docker/zookeeper/zookeeper-conf/zoo.cfg
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/hubandspoke/CoordinatedBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/hubandspoke/HubBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZkStreams.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopologyConfig.java
  src-java/blue-green/README.md
  src-java/blue-green/build.gradle
  src-java/blue-green/src/checkstyle/checkstyle-suppressions.xml
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/LifeCycleObserver.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/LifecycleEvent.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/Signal.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkStateTracker.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkClientTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkStateTrackerTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWriterTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowDeleteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/kilda-configuration/src/main/java/org/openkilda/config/ZookeeperConfig.java
  src-java/settings.gradle
Labels: Next Release, Ready to Merge, area/zero_downtime, feature

#3668 improvements in func-test, enable server42
  confd/vars/main.yaml
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathMaxLatencySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/otsdb/OtsdbQueryServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/otsdb/model/EmptyStatsResult.java
Labels: Next Release, Ready to Merge, area/testing

#3873 Fix flow loops for Q-in-Q
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentVerifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowSegmentCommand.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: C/FL, C/FLOW-HS, Next Release, Ready to Merge, improvement, techdebt, tested

#3874 extend connectedВevices spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#3875 Remove corrupted global retry in flow create FSM
  docs/design/hub-and-spoke/crud/create/flow-create-fsm.dot
  docs/design/hub-and-spoke/crud/create/flow-create-fsm.png
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/FlowCreateFsm.java
Labels: C/FLOW-HS, Next Release, Ready to Merge, bugfix

#3885 Add retries for db_migration in docker-compose
  confd/templates/docker-compose/docker-compose.tmpl
Labels: Next Release, Ready to Merge, area/config

#3900 refactor qinq spec(reduce amount of tests)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#3902 Fix develop compile time error
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/FlowRerouteQueueBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/OperationQueueBolt.java
Labels: Ready to Merge, bugfix

#3833 Removed legacy docker tag `full_build_number:-latest`
  confd/templates/docker-compose/docker-compose.tmpl
Labels: Next Release, Ready to Merge, improvement

#3834 Fix GRPC speaker rest api error handling
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcResponseObserver.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/utils/GrpcExceptionHandler.java
Labels: C/GRPC, Next Release, Ready to Merge, bugfix, tested

#3860 Zero downtime version
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/BuildVersionObserver.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
Labels: Next Release, Ready to Merge, area/zero_downtime, feature

#3897 ignore tests according to #3896
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#3779 adjust func test to work with hex cookies
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3818 unignore grpc tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcCommonSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3843 Added round_trip_status to /v1/links API response
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/IslMapperTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/links/LinkDto.java
  src-java/northbound-service/northbound-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/LinkMapperTest.java
Labels: C/NB, C/NBWORKER, Ready to Merge, feature

#3850 Added logs for Update switch props request
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge, improvement

#3889 add flowLoop tests for singleSwFlow
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3903 Reorder switch events inside network topology
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
Labels: C/NETWORK, Ready to Merge, improvement

#3837 Prevent updating of time-modify on property change with the same value.
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaBaseEdgeFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaBaseVertexFrame.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/frames/TimeModifyPropertyOnFramesTest.java
Labels: C/CONNECTED, C/FLOW-HS, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, improvement

#3911 Docker base image for Lab-Api bumped to Ubuntu Focal
  docker/base/kilda-base-lab-service/Dockerfile
Labels: area/cicd, area/testing, improvement

#3891 Increased storm slots for storm workers from 15 to 30
  confd/templates/storm/storm.yaml.tmpl
Labels: Ready to Merge, area/storm, area/zero_downtime, feature

#3912 Upgrade openvswitch to 2.14 after migrating to Ubuntu 20.04
  docker/base/kilda-base-lab-service/Dockerfile
Labels: Ready to Merge, area/cicd, area/testing, improvement

#3908 add test for #3906
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3899 refactor vxlan related tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3907 Added zero downtime producers
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/floodlight-modules/floodlightkilda.properties.tmpl
  confd/templates/floodlight-modules/floodlightkildaStats.properties.tmpl
  confd/templates/grpc-service/grpc-service.properties.tmpl
  confd/templates/northbound/northbound.properties.tmpl
  confd/templates/server42/server42-control.application.properties.tmpl
  confd/templates/server42/server42-stats.application.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-messaging/build.gradle
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/TestUtils.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/ZookeeperConfig.java
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/blue-green/build.gradle
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/Utils.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkClientTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBaseTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptorTest.java
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannelConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkilda.properties.example
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkildaStats.properties.example
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/config/provider/FloodlightModuleConfigurationProviderTest.java
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageProducerConfig.java
  src-java/grpc-speaker/grpc-service/src/main/resources/grpc-service.properties.example
  src-java/isllatency-topology/isllatency-storm-topology/src/test/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopologyTest.java
  src-java/northbound-service/northbound/build.gradle
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageProducerConfig.java
  src-java/northbound-service/northbound/src/main/resources/northbound.properties.example
  src-java/server42/server42-control/build.gradle
  src-java/server42/server42-control/src/test/resources/test.properties
  src-java/server42/server42-stats/build.gradle
  src-java/server42/server42-stats/src/test/resources/test.properties
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/performance-tests/kilda.properties.example
  src-java/testing/test-library/build.gradle
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/kafka/KafkaConfig.java
Labels: C/FL, C/NB, Ready to Merge, area/server42, area/storm, area/zero_downtime, feature

#3913 Moved ZkClient initialization out of constructor
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkClientTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWriterTest.java
Labels: C/CONNECTED, C/FL, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, area/zero_downtime, feature

#3915 Handle IllegalStateException during ZkClient initialization
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
Labels: C/CONNECTED, C/FL, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS-ROUTER, Ready to Merge, area/zero_downtime, feature

#3884 Use API to get round-trip status in functional tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Ready to Merge, area/testing

#3916 Zookeeper connection refresh with default retry interval
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
Labels: C/CONNECTED, C/FL, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/PING, C/REROUTE, C/ROUTER, C/STATS, C/SWMANAGER, Ready to Merge, area/zero_downtime, improvement

#3933 Added FL role and region to local FL logs
  confd/templates/docker-compose/docker-compose.tmpl
Labels: C/FL, Ready to Merge, bugfix

#3929 Fix multi-reroute spec
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
Labels: Ready to Merge, area/testing

#3925 Remove some unused classes in network topology
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/OperationMode.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/SpeakerSharedSync.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/SpeakerSync.java
Labels: C/NETWORK, Ready to Merge, improvement

#3917 Remove transient from abstract bolt config field
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
Labels: Ready to Merge, area/zero_downtime, bugfix

#3909 Improvement in world map popup info for maximize and minimize the window
  src-gui/ui/src/app/common/services/topology-graph.service.ts
  src-gui/ui/src/app/modules/topology/topology.component.ts
  src-gui/ui/src/app/modules/topology/world-map-view/world-map-view.component.ts
  src-gui/ui/src/styles.css
Labels: Ready to Merge, area/gui, improvement

#3898 Add flow-id for attendant traffic stat entries
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/MeasurePoint.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: C/STATS, Ready to Merge, improvement

#3890 turn on the multiTable mode by default for func tests
  confd/templates/atdd-staging/kilda.properties.tmpl
  src-java/testing/functional-tests/kilda.properties.example
Labels: Ready to Merge, area/testing, improvement

#3877 Reimplement round trip discovery event processing
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/network-discovery/port-FSM.png
  docs/design/network-discovery/port-FSM.puml
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryPortStatusMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryRoundTripMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/port/PortFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/IslEndpointRoundTripStatus.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/NetworkOptions.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/RoundTripStatus.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IDecisionMakerCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IWatcherCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkRoundTripDecisionMakerService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkWatcherService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/DecisionMakerHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/command/DecisionMakerDiscoveryCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/command/DecisionMakerFailCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/command/DecisionMakerRoundTripDiscoveryCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watcher/WatcherHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkRoundTripDecisionMakerServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkUniIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkWatcherServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/PollIntegrationTest.java
Labels: C/NETWORK, Ready to Merge, bugfix, tested

#3823 Lock GRPC low level particularity into a single wrapper
  confd/templates/grpc-service/grpc-service.properties.tmpl
  confd/vars/main.yaml
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/controller/NoviflowController.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/GrpcSenderService.java
Labels: C/GRPC, Ready to Merge, improvement

#3892 Fix swap endpoints for looped flows
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverter.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowLoopFlowModFactory.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/UpdateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: C/FLOW-HS, improvement, techdebt

#3928 Test/improvements
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcCommonSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3943 Minor fixes in zookeeper event handling.
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
Labels: On Review, area/zero_downtime, improvement

#3945 Zk Connection clean up
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkClientTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWriterTest.java
Labels: Next Release, area/zero_downtime, bugfix

#3936 adding missing db script file for world map
  src-gui/src/main/resources/db/import-script_28.sql
Labels: C/GUI, Next Release, area/gui, bugfix

#3947 Add topology_name to ContextMap for logging purposes
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/Utils.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/utils/LoggerContextInitializer.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/topology/utils/TestLoggerContextInitializer.java
  tools/elk-dashboards/index_pattern.json
Labels: Ready to Merge, improvement

#3948 Added health check API for GRPC
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/controller/HealthCheckController.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/KafkaMessageProducer.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/HealthCheckService.java
Labels: C/GRPC, Next Release, feature

#3949 Added retries for ZK connectiong during initialization
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWatchDogTest.java
Labels: Next Release, area/zero_downtime, bugfix

#3950 Fix for unit tests caused by system properties
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/utils/LoggerContextInitializer.java
Labels: Next Release, bugfix

#3872 Added kafka message versioning with ZooKeeper
  confd/templates/server42/server42-control.application.properties.tmpl
  confd/templates/server42/server42-stats.application.properties.tmpl
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/Utils.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningConsumerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/kafka/interceptors/VersioningConsumerInterceptorTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannelConfig.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageConsumerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageConsumerConfig.java
  src-java/server42/server42-control/src/test/resources/test.properties
  src-java/server42/server42-stats/src/test/resources/test.properties
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/kafka/KafkaConfig.java
Labels: C/FL, C/GRPC, C/NB, Next Release, area/server42, area/storm, area/zero_downtime, feature

#3844 Added ability to run Kilda in blue and green modes locally
  Makefile
  README.md
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/vars/blue-mode.yaml
  confd/vars/green-mode.yaml
  docker/wfm/Dockerfile
  docker/wfm/app/Makefile
  docker/wfm/app/deploy_single_topology.sh
  docker/wfm/app/entry-point.sh
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageConsumerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageConsumerConfig.java
Labels: Next Release, area/zero_downtime, feature

#3951 Added comments for creating ZK nodes
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Next Release, area/docs, area/zero_downtime, improvement

#3952 Restore getZkTopoName() for typologies
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
Labels: Next Release, area/zero_downtime, improvement

#3953 Added default value for blue green mode
  confd/templates/base-storm-topology/topology.properties.tmpl
Labels: On Review, area/zero_downtime, improvement

#3955 Restore make compile
  confd/templates/makefile/makefile.tmpl
Labels: On Review, area/zero_downtime, improvement

#3963 Create common ZK nodes by default
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Next Release, area/zero_downtime, improvement

#3956 Fix some cleanups in functional tests to increase test stability
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathMaxLatencySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
Labels: Next Release, area/testing

#3962 Run make build-stable by default to run kilda
  Makefile
  README.md
  confd/templates/makefile/makefile.tmpl
  src-java/testing/functional-tests/README.md
Labels: Next Release, area/zero_downtime, feature

#3895 Zero Downtime Deployment Design
  docs/design/zero-downtime/README.md
Labels: Next Release, area/docs, area/zero_downtime

#3966 Doc to run zero downtime locally
  docs/design/zero-downtime/README.md
Labels: Next Release, area/docs, area/zero_downtime
