Repository telstra/open-kilda, pull requests merged in 2020-06, with the labels that each got.

#3083 Prevent network topology from altering ISL status into offline region
  docs/design/network-discovery/port-FSM.png
  docs/design/network-discovery/port-FSM.puml
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/port/PortFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/AbstractPort.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/LogicalBfdPort.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/PhysicalPort.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/OnlineStatus.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/ISwitchCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkPortService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkSwitchService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/PortHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/command/PortOnlineModeCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkPortServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
Labels: C/NETWORK, Next Release, improvement

#3465 Bump storm and kafka versions
  docker/kafka/Dockerfile
  docker/kafka/kafka-conf/server.properties
  docker/storm/Dockerfile
Labels: Next Release, area/storm, improvement

#3485 kildaGui security vulnerabilitiy fixes
  src-gui/Makefile
  src-gui/src/main/java/org/openkilda/security/SecurityConfig.java
  src-gui/src/main/java/org/openkilda/security/mapper/CustomExceptionMapper.java
  src-gui/src/main/java/org/usermanagement/controller/UserController.java
  src-gui/src/main/java/org/usermanagement/service/UserService.java
  src-gui/src/main/resources/META-INF/resources/views/login.jsp
  src-gui/src/main/resources/META-INF/resources/views/logout.jsp
  src-gui/src/main/resources/META-INF/resources/views/otp.jsp
  src-gui/src/main/resources/META-INF/resources/views/twofa.jsp
  src-gui/ui/src/app/common/interceptors/app.auth.interceptor.ts
  src-gui/ui/src/app/common/services/common.service.ts
  src-gui/ui/src/app/common/services/flows.service.ts
  src-gui/ui/src/app/common/services/isl-list.service.ts
  src-gui/ui/src/app/common/services/switch.service.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.html
  src-gui/ui/src/app/modules/topology/topology.component.ts
Labels: C/GUI, Next Release, area/gui, improvement

#3504 Server 42 RTT: Remove goto meter from server 42 ingress rule
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/InstallServer42IngressFlow.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressRemoveFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
Labels: C/FLOW-HS, C/SWMANAGER, Next Release, feature

#3509 Increase reliability of OfFlowStatsMapper
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/FlowApplyActions.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
Labels: C/FL, Next Release

#3512 Reduce logging level for unhandled input in Flow H&S Speaker Worker
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/SpeakerWorkerBolt.java
Labels: C/FLOW-HS, Next Release, improvement

#3514 Adjustments to allow running tests in non-default situations
  src-java/testing/functional-tests/README.md
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/config/TopologyConfig.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
Labels: Next Release, area/testing

#3515 Remove undefined activeEnter action reference from IslFsm
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
Labels: C/NETWORK, Next Release, bugfix

#3516 Server 42 RTT: enable on WB switches
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42InputFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVxlanFlowGenerator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
Labels: C/FL, C/FLOW-HS, Next Release, feature

#3520 Improve GRPC error messages
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcOperation.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcResponseObserver.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/GrpcSenderService.java
Labels: C/GRPC, Next Release, improvement

#3527 fix qinq + vxlan
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Next Release, area/testing, improvement

#3517 Add mirror group validation
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/GroupBucket.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/GroupEntry.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/SwitchGroupEntries.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DumpGroupsRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/OfFlowStatsMapperTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RouterUtils.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/MirrorGroupRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4JMirrorGroupRepository.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/ValidateGroupsResult.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/ValidationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImplTest.java
Labels: C/FL, C/SWMANAGER, Next Release, area/applications

#3500 Server42 Part 2 DPDK
  src-cpp/server42/.dockerignore
  src-cpp/server42/.gitignore
  src-cpp/server42/CMakeLists.txt
  src-cpp/server42/Dockerfile
  src-cpp/server42/Dockerfile.prebuild
  src-cpp/server42/README.md
  src-cpp/server42/build.sh
  src-cpp/server42/build_debug.sh
  src-cpp/server42/build_docker.sh
  src-cpp/server42/build_release.sh
  src-cpp/server42/docker_install_requirements.sh
  src-cpp/server42/external/upstream/CMakeLists.txt
  src-cpp/server42/external/upstream/boost/CMakeLists.txt
  src-cpp/server42/external/upstream/dpdk/CMakeLists.txt
  src-cpp/server42/external/upstream/dpdk/dpdk_config.sh
  src-cpp/server42/external/upstream/pcapplusplus/CMakeLists.txt
  src-cpp/server42/external/upstream/pcapplusplus/dpdk-init.patch
  src-cpp/server42/external/upstream/protobuf/CMakeLists.txt
  src-cpp/server42/external/upstream/zeromq/CMakeLists.txt
  src-cpp/server42/host_install_requirements.sh
  src-cpp/server42/src/Config.cpp
  src-cpp/server42/src/Config.h
  src-cpp/server42/src/Control.cpp
  src-cpp/server42/src/Control.h
  src-cpp/server42/src/DpdkCoreThread.cpp
  src-cpp/server42/src/DpdkCoreThread.h
  src-cpp/server42/src/DumpStats.cpp
  src-cpp/server42/src/DumpStats.h
  src-cpp/server42/src/FlowPool.h
  src-cpp/server42/src/FlowPoolTest.cpp
  src-cpp/server42/src/PacketGenerator.cpp
  src-cpp/server42/src/PacketGenerator.h
  src-cpp/server42/src/Payload.h
  src-cpp/server42/src/SharedContext.h
  src-cpp/server42/src/Workers.cpp
  src-cpp/server42/src/Workers.h
  src-cpp/server42/src/control.proto
  src-cpp/server42/src/server42.cpp
  src-cpp/server42/src/statistics.proto
Labels: Next Release, area/server42, feature

#3519 Bump kafka and storm client libs versions
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/ErrorAbstractMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/ErrorInfoData.java
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/AbstractMessageDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/Deserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/InfoDataDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/MessageDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/TestUtils.java
  src-java/build.gradle
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/KafkaOffsetRegistryTest.java
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/northbound-service/northbound/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
Labels: C/CONNECTED, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, area/config, area/storm, dependencies, improvement

#3522 Fix log types for grpc speaker and server42
  confd/templates/logstash/logstash.conf.tmpl
  confd/vars/main.yaml
  src-java/grpc-speaker/grpc-service/src/main/resources/log4j2.xml.example
  src-java/server42/server42-control-server-stub/src/main/resources/application.properties
  src-java/server42/server42-control-server-stub/src/main/resources/log4j2.xml
  src-java/server42/server42-control-storm-stub/src/main/resources/application.properties
  src-java/server42/server42-control-storm-stub/src/main/resources/log4j2.xml
  src-java/server42/server42-stats/src/main/resources/application.properties
  src-java/server42/server42-stats/src/main/resources/log4j2.xml
Labels: Ready to Merge, improvement

#3529 Make COST_AND_AVAILABLE_BANDWIDTH a default PCE strategy.
  src-java/kilda-model/src/main/java/org/openkilda/model/KildaConfiguration.java
Labels: Ready to Merge, improvement

#3539 add assumeTrue for grpcStat test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3540 refactor depracated methods in func tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableSwitchRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/SimulateStatsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3543 improve VxlanFlowV2Spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3521 Repripritize reroute requests
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/model/FlowThrottlingData.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueService.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueServiceTest.java
Labels: C/REROUTE, Ready to Merge, improvement

#3526 Remove CopyField action from the VxLAN ingress rule.
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/Ping.java
  src-java/base-topology/base-messaging/src/test/java/org/openkilda/messaging/model/PingTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/ping/PingRequestCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/ping/PingResponseCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/model/PingData.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/ping/PingService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/shared/packet/Vxlan.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactoryTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/ping/PingRequestCommandAbstractTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/ping/PingResponseCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/ping/PingServiceTest.java
  src-java/ping-topology/ping-messaging/src/test/java/org/openkilda/messaging/info/flow/FlowPingResponseTest.java
  src-java/ping-topology/ping-messaging/src/test/java/org/openkilda/messaging/info/flow/UniFlowPingResponseTest.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/PingProducer.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/PingContext.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/StatsHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
Labels: C/FL, C/PING, Ready to Merge, improvement

#3530 Added ping cache update for flow operations and check the `periodic_ping` flag for one switch flow.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnFinishedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/OnFinishedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
Labels: C/FLOW-HS, Ready to Merge, improvement

#3544 Minor stability adjustments in tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Ready to Merge, area/testing

#3555 Raise moved discovery state priority
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryMovedMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryPollMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslMinPortSpeedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: C/NETWORK, On Review, bugfix

#3567 uncomment verification due to fix for #3077
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement
