Repository telstra/open-kilda, pull requests merged in 2020-08, with the labels that each got.

#3580 Update FL-route design documents
  docs/design/fl-parallelism/README.md
  docs/design/fl-parallelism/connection-tracking.png
  docs/design/fl-parallelism/connection-tracking.puml
  docs/design/fl-parallelism/fl-alive-tracking.png
  docs/design/fl-parallelism/fl-alive-tracking.puml
  docs/design/fl-parallelism/fl-communication.png
  docs/design/fl-parallelism/fl-communication.puml
  docs/design/fl-parallelism/fl-outage-handling.png
  docs/design/fl-parallelism/fl-outage-handling.puml
  docs/design/fl-parallelism/fl-sync.png
  docs/design/fl-parallelism/fl-sync.puml
Labels: Ready to Merge, area/docs

#3660 Fix link deleting in the Network topology
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  docs/design/network-discovery/discovery-sequence.puml
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
Labels: C/NETWORK, Next Release, bugfix, tested

#3664 Fix possible race condition in get flow by switch operation
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
Labels: C/NBWORKER, Next Release, bugfix

#3672 Add catch of an exception when the ISL controller is not found
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/error/IslControllerNotFoundException.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkIslService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
Labels: C/NETWORK, Next Release, improvement, tested

#2746 Design for kilda apps
  docs/design/applications/apps.md
  docs/design/applications/create-app-for-flow-sequence.puml
  docs/design/applications/create_app_for_flow_sequence.png
  docs/design/applications/remove-app-for-flow-sequence.puml
  docs/design/applications/remove_app_for_flow_sequence.png
  docs/design/applications/update-exclusions.puml
  docs/design/applications/update_exclusions.png
Labels: Next Release, area/applications, feature

#3676 Build outside of git repo
  src-java/build.gradle
Labels: Next Release, improvement

#3621 minor improvements in fucn-tests
  confd/templates/atdd-staging/kilda.properties.tmpl
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: Next Release, area/testing, improvement

#3655 Remove default controller role hack
  confd/templates/floodlight-modules/floodlightkilda.properties.tmpl
  confd/templates/floodlight-modules/floodlightkildaStats.properties.tmpl
  src-java/floodlight-service/floodlight-modules/src/main/java/net/floodlightcontroller/core/internal/DefaultSwitchRoleService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  src-java/floodlight-service/floodlight-modules/src/main/resources/META-INF/services/net.floodlightcontroller.core.module.IFloodlightModule
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkilda.properties.example
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkildaStats.properties.example
  src-java/floodlight-service/floodlight-modules/src/test/java/net/floodlightcontroller/core/internal/DefaultSwitchRoleServiceTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/MockSwitchManager.java
  src-java/projectfloodlight/floodlight/build.gradle
Labels: C/FL, Ready to Merge, improvement

#3678 Use correct values in flow dump before flow update
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
Labels: C/FLOW-HS, On Review, bugfix, tested

#3675 Add check for the allocated paths to ensure that all ISLs are active on those paths
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/DeallocateResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/DeallocateResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertResourceAllocationAction.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/IslRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jIslRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jIslRepositoryTest.java
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3651 Make flow Degraded after reroute if protected flow is Down
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.dot
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.png
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/OnNoPathFoundAction.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3685 Use chunked messages for flow history response
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowEventPayload.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowHistoryEntry.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/info/flow/FlowHistoryData.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/HistoryOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/ResponseSplitterBolt.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/FlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#3682 Fix deleting MOVED ISLs
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  docs/design/network-discovery/discovery-sequence.png
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkUniIslService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/uniisl/UniIslHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/uniisl/command/UniIslNotifyIslRemovedCommand.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, Ready to Merge, bugfix

#3659 extend PartialUpdateSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3688 Fix null pointer exception during producing flow dump
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowPathMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertResourceAllocationAction.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3684 Add retries for grpc calls in functional tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
  src-java/testing/test-library/build.gradle
  src-java/testing/test-library/src/main/java/org/openkilda/testing/config/DefaultServiceConfig.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/grpc/GrpcServiceImpl.java
Labels: Ready to Merge, area/testing

#3652 -adding feature to display flows stats graph on ISL
  src-gui/src/main/java/org/openkilda/integration/service/StatsIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/FlowPathStats.java
  src-gui/src/main/java/org/openkilda/service/StatsService.java
  src-gui/ui/package.json
  src-gui/ui/src/app/app.component.html
  src-gui/ui/src/app/app.component.ts
  src-gui/ui/src/app/common/dygraph/dygraph.component.html
  src-gui/ui/src/app/common/dygraph/dygraph.component.ts
  src-gui/ui/src/app/common/services/dygraph.service.ts
  src-gui/ui/src/app/common/services/isl-data.service.ts
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
Labels: C/GUI, Ready to Merge, area/gui

#3689 Filter out one switch flows from affected flows
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: C/REROUTE, On Review, bugfix, tested

#3692 Ignore overprovisioned isl check for ignore_bw flows
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationActionTest.java
Labels: C/FLOW-HS, Next Release, bugfix

#3690 Improve reroute error logging
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
Labels: C/FLOW-HS, Ready to Merge, improvement

#3679 Retry reroute with max_latency strategy
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/CompleteFlowPathInstallationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractFlowTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/GetPathsResult.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostAndBandwidthPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/LatencyPathComputationStrategyBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/TestFlowBuilder.java
Labels: C/FLOW-HS, On Review, area/pce, improvement

#3696 Fix reroutes for max_latency path computation strategy
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/UpdateFlowStatusAction.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
Labels: C/FLOW-HS, On Review, bugfix

#3680 check flow fields in flowHistory(state before/after)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3687 remove workaround for #3677
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3702 max latency in ms for the api
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/ErrorAbstractMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/ErrorInfoData.java
  src-java/kilda-model/src/main/java/org/openkilda/model/ExclusionId.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: C/NB, Ready to Merge, improvement
