Repository telstra/open-kilda, pull requests merged in 2020-01, with the labels that each got.

#3107 Avoid reseting in progress flow status
  services/src/kilda-core/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  services/src/kilda-core/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  services/wfm/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  services/wfm/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
Labels: C/FLOW-HS, C/REROUTE, On Review, bugfix

#3138 Introduce PoP for the switch and take it into account in pce
  services/src/kilda-core/kilda-model/src/main/java/org/openkilda/model/Switch.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/PathComputerConfig.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/model/Edge.java
  services/src/kilda-pce/src/main/java/org/openkilda/pce/model/Node.java
  services/src/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
Labels: Ready to Merge, area/pce, improvement, tested

#3006 Fix periodic pings
  confd/templates/atdd-staging/kilda.properties.tmpl
  services/src/functional-tests/kilda.properties.example
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  services/wfm/src/main/java/org/openkilda/wfm/topology/ping/bolt/TickDeduplicator.java
Labels: C/PING, Ready to Merge, bugfix

#3150 improve tests for flow rerouting after switchUp event
  services/src/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement
