Repository telstra/open-kilda, pull requests merged in 2020-07, with the labels that each got.

#3574 One switch flows update status on switch events
  docs/design/network-discovery/switch-FSM.png
  docs/design/network-discovery/switch-FSM.puml
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/ISwitchCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
  src-java/reroute-topology/reroute-messaging/src/main/java/org/openkilda/messaging/info/reroute/SwitchStateChanged.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/RerouteBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: C/NETWORK, C/REROUTE, Ready to Merge, bugfix, tested

#3568 Add test that tries to create a single-sw flow with periodic pings
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
Labels: Ready to Merge, area/testing

#3561 Add more tests to smoke_switches suite
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableSwitchRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: Ready to Merge, area/testing

#3550 remove TODOs related to mapping
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3542 Feature to display isl and switch maintenance mode on list pages
  src-gui/ui/src/app/modules/isl/datatable/datatable.component.html
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
  src-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge, area/gui, feature

#3537 Switch validation cleanup
  docs/design/hub-and-spoke/switch-validate/switch-validate-fsm.dot
  docs/design/hub-and-spoke/switch-validate/switch-validate-fsm.png
  docs/design/hub-and-spoke/switch-validate/switch-validate-fsm.puml
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/GetExpectedDefaultRulesRequest.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowDestAdapter.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowSideAdapter.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowSourceAdapter.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/InconsistentDataException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/OperationTimeoutException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/SpeakerFailureException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/SwitchManagerException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/SwitchNotFoundException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/mappers/ValidationMapper.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/SwitchValidationContext.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/ValidationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImplTest.java
Labels: C/SWMANAGER, Ready to Merge

#3581 Add group-id to history flow dump objects
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowDumpPayload.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/model/FlowDumpData.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowDump.java
Labels: C/FLOW-HS, C/NB, On Review, Ready to Merge

#3556 minor improvements/fixes for func tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3541 Skip reroute requests for flows without affected path segment
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManager.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManagerTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RecalculateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/UpdateFlowPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowDeleteServiceTest.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/exceptions/ConstraintViolationException.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/exceptions/EntityNotFoundException.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/exceptions/PersistenceException.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/exceptions/RecoverablePersistenceException.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/Neo4jTransactionManager.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/SimpleConversionCallback.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4JBfdSessionRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4JMirrorGroupRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jApplicationRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jExclusionIdRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFeatureTogglesRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowCookieRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowEventRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jGenericRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jIslRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jKildaConfigurationRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jPathSegmentRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jPortPropertiesRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchConnectedDevicesRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchPropertiesRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jTransitVlanRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/Neo4jConstraintsTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/Neo4jTransactionManagerTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4JBfdSessionRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdPortFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkPortService.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
Labels: C/REROUTE, Ready to Merge, bugfix

#3579 Add `status_info` field to Flow
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowResponsePayload.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/HandleNotCreatedFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
Labels: C/FLOW-HS, Ready to Merge, feature, tested

#3590 Add `pinned` flag to FlowPatchDto
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowPatch.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowPatchV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
Labels: C/NB, C/NBWORKER, Ready to Merge, improvement

#3582 Don't drop group id when updating flow without diverse_flowid param
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversityV2Spec.groovy
Labels: C/FLOW-HS, On Review, improvement

#3589 Added `location` field to Switch DTO
  src-java/kilda-model/src/main/java/org/openkilda/model/Switch.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchLocationDto.java
  src-java/northbound-service/northbound-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/SwitchMapperTest.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
Labels: C/NB, Ready to Merge, feature

#3588 Improve Delete ISL logs
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#3578 Handle case when trying to update available bandwidth of non existent ISL
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowPathRemovalAction.java
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3525 In functional tests where possible remove the VIRTUAL tag
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/UnstableIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableSwitchRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/special/GenerateTopologyConfig.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing

#3593 Fix merge pr issues
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowPathRemovalAction.java
Labels: On Review, bugfix

#3595 Added PATCH Switch operation for `location` and `pop` fields.
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwitchLocation.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwitchPatch.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/SwitchPatchRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/SwitchDtoV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/SwitchLocationDtoV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/SwitchPatchDto.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/SwitchService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/SwitchMapperTest.java
Labels: C/NB, C/NBWORKER, Ready to Merge, feature

#3591 Forbid intentional reroutes for pinned flows
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopologyConfig.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/StreamType.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/MessageEncoder.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
Labels: C/NBWORKER, C/REROUTE, On Review, improvement

#3594 Feature to filter down/Degraded flows and re-route them from flow list
  src-gui/src/main/java/org/openkilda/model/response/ErrorMessage.java
  src-gui/src/main/java/org/openkilda/security/mapper/CustomExceptionMapper.java
  src-gui/src/main/java/org/openkilda/security/mapper/GlobalExceptionMapper.java
  src-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.html
  src-gui/ui/src/app/common/components/flow-re-route-modal/flow-re-route-modal.component.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  src-gui/ui/src/app/modules/flows/flow-list/flow-list.component.html
  src-gui/ui/src/app/modules/flows/flow-list/flow-list.component.ts
  src-gui/ui/src/app/modules/isl/isl-flow-datatables/isl-flow-datatables.component.ts
Labels: C/GUI, Next Release, area/gui, feature

#3586 Use logstash for test logs
  confd/templates/atdd-staging/log4j2.xml.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/logstash/logstash.conf.tmpl
  confd/vars/main.yaml
  src-java/testing/functional-tests/src/test/resources/log4j2.xml
Labels: Next Release, area/testing

#3600 fix FlowDiversitySpec according to #3591
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
Labels: Next Release, area/testing, improvement

#3583 check status_info field in func tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
Labels: Next Release, area/testing, feature

#3548 Design for Smart discovery feature
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  docs/design/network-discovery/README.md
  docs/design/network-discovery/discovery-sequence.png
  docs/design/network-discovery/discovery-sequence.puml
Labels: Next Release, area/docs, feature

#3606 ignore test related to server42+opentsdb
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Next Release, area/testing, improvement

#3612 Hotfix for issue in flow list to get and display inventory flows
  CHANGELOG.md
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/source/store/dto/InventoryFlow.java
  src-gui/src/main/java/org/openkilda/service/FlowService.java
  src-gui/src/main/java/org/openkilda/service/SwitchService.java
  src-gui/ui/src/app/common/components/sidebar/sidebar.component.ts
  src-gui/ui/src/app/modules/flows/flow-list/flow-list.component.ts
  src-gui/ui/src/app/modules/settings/link-store/link-store.component.ts
  src-gui/ui/src/app/modules/settings/switch-store/switch-store.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#3607 Add an ability to remove pop
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
Labels: C/NB, C/NBWORKER, Next Release, tested

#3599 Change format of History records in DB from ISO to epoch
  services/src/neo4j/migrations/1.25-change-type-of-flow-event-timestamp/1-remove-flow-connected-devices-index-and-constraint.xml
  services/src/neo4j/migrations/1.25-change-type-of-flow-event-timestamp/rollback.cql
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowEvent.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowHistory.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/PortHistory.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowEventRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowHistoryRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowEventRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowHistoryRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jPortHistoryRepositoryTest.java
Labels: C/NEO4J, DB Migration, Next Release, improvement

#3089 Do not emit reroute commands for path, where edge switches are inactive
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
Labels: C/FLOW-HS, C/REROUTE, Next Release

#3597 Add test for partial update of 'pinned' field
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Next Release, area/testing, improvement

#3496 Revert "QinQ limit capabilities"
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverter.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressCommandInstallTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressCommandRemoveTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowEndpoint.java
  src-java/kilda-model/src/test/java/org/openkilda/model/FlowEndpointTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: C/FL, C/FLOW-HS, C/NBWORKER, C/SWMANAGER, Next Release, tested

#3518 Suppress stale discovery requests on FL side
  confd/templates/floodlight-modules/floodlightkilda.properties.tmpl
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/bolt/MonotonicClockTest.java
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/ConsumerContext.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollector.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollectorConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/TickHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/DiscoveryEmitterAction.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/DiscoveryEmitterImmediateAction.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/DiscoveryEmitterPostponedAction.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/DiscoveryHolder.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/NetworkDiscoveryEmitter.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/discovery/NetworkDiscoveryEmitterTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/build.gradle
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/FloodlightTrackerTest.java
  src-java/kilda-utils/stubs/build.gradle
  src-java/kilda-utils/stubs/src/checkstyle/checkstyle-suppressions.xml
  src-java/kilda-utils/stubs/src/main/java/org/openkilda/stubs/ManualClock.java
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkWatcherServiceTest.java
  src-java/settings.gradle
Labels: C/FL, Next Release, improvement

#3587 Added max_count parameter into flow history API
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/service/HistoryService.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/history/FlowEventRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowEventRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowEventRepositoryTest.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetFlowHistoryRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/HistoryOperationsBolt.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/FlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: C/NB, C/NBWORKER, Next Release, area/api

#3608 Add func tests for history max_count
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Next Release, area/testing

#3622 Feature/down flows report
  src-gui/src/main/java/org/openkilda/controller/CommonRequestHandlerController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Flow.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowEndpoint.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/src/main/java/org/openkilda/model/StatusDetail.java
  src-gui/ui/src/app/app-routing.module.ts
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/components/sidebar/sidebar.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-list/flow-list.component.ts
  src-gui/ui/src/app/modules/reports/affected-flow-list/affected-flow-list.component.css
  src-gui/ui/src/app/modules/reports/affected-flow-list/affected-flow-list.component.html
  src-gui/ui/src/app/modules/reports/affected-flow-list/affected-flow-list.component.spec.ts
  src-gui/ui/src/app/modules/reports/affected-flow-list/affected-flow-list.component.ts
  src-gui/ui/src/app/modules/reports/affected-flows-report/affected-flows-report.component.css
  src-gui/ui/src/app/modules/reports/affected-flows-report/affected-flows-report.component.html
  src-gui/ui/src/app/modules/reports/affected-flows-report/affected-flows-report.component.spec.ts
  src-gui/ui/src/app/modules/reports/affected-flows-report/affected-flows-report.component.ts
Labels: C/GUI, Next Release, area/gui

#3626 Added limits to migration 1.25 for performance
  services/src/neo4j/migrations/1.25-change-type-of-flow-event-timestamp/1-change-type-of-history-timestamps-form-iso-to-epoch.xml
  services/src/neo4j/migrations/1.25-change-type-of-flow-event-timestamp/1-remove-flow-connected-devices-index-and-constraint.xml
Labels: C/NEO4J, DB Migration, Next Release, improvement

#3592 Add more tests for rerouting pinned flows
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
Labels: Ready to Merge, area/testing

#3602 add test for partialSwitchUpdate
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing, improvement

#3614 enable server42FlowRtt in feature toogle by default for func test
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3620 fix "System does not create flow when reverse path has different bandwidth than forward path on the second link"
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3624 Remove FlowReroteFact
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/FlowRerouteFact.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
Labels: Ready to Merge, refactor, techdebt

#3632 ignore test according to #3627
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3634 Improvement/flows fields update
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/ui/src/app/modules/flows/flow-add/flow-add.component.html
  src-gui/ui/src/app/modules/flows/flow-add/flow-add.component.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.html
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.ts
Labels: C/GUI, Ready to Merge, area/gui

#3638 Fix kilda GUI cleanup issue on build
  confd/templates/makefile/makefile.tmpl
  src-gui/Makefile
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#3554 Add replug tests for round-trip case and no portDown case
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslMinPortSpeedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/IslUtils.java
Labels: Ready to Merge, area/testing

#3619 Add more verifications to MultiRerouteSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
Labels: Ready to Merge, area/testing

#3629 Add test that shows no-retry behavior after global timeout on operation
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
Labels: Ready to Merge, area/testing

#3630 Minor test adjustments
  confd/templates/logstash/logstash.conf.tmpl
  confd/templates/server42/server42-control-server-stub.application.properties.tmpl
  confd/templates/server42/server42-control-storm-stub.application.properties.tmpl
  confd/templates/server42/server42-control.application.properties.tmpl
  confd/templates/server42/server42-stats.application.properties.tmpl
  confd/vars/main.yaml
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
Labels: Ready to Merge, area/testing

#3631 Minor fixes in perf tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/performance-tests/src/main/groovy/org/openkilda/performancetests/model/CustomTopology.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
Labels: Ready to Merge, area/testing

#3641 Disable IPv6 on interfaces(VLAN) created by traffexam
  src-python/lab-service/traffexam/kilda/traffexam/__init__.py
  src-python/lab-service/traffexam/kilda/traffexam/exc.py
  src-python/lab-service/traffexam/kilda/traffexam/service.py
  src-python/lab-service/traffexam/kilda/traffexam/system.py
Labels: area/testing, feature

#3642 remove ignore annotation for "Traffic counters in ingress rule are reset on flow rerouting"
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3649 Add test that reveals issue with protected paths #3648
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: On Review, area/testing

#3662 Fix for issue in updating vlan for Flow
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#3644 minor fixes according to v1.66
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3569 Bump storm and kafka client libs
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/ErrorAbstractMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/ErrorInfoData.java
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/AbstractMessageDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/Deserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/InfoDataDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/MessageDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/TestUtils.java
  src-java/build.gradle
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/KafkaOffsetRegistryTest.java
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/northbound-service/northbound/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
Labels: C/CONNECTED, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, area/config, area/security, area/storm, dependencies, improvement

#3666 Floodlight repo fetch tag insead branch
  src-java/projectfloodlight/floodlight/build.gradle
Labels: On Review, improvement

#3667 refactor tests according to #3654
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3654 Improve flow history dumps
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowDumpPayload.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/model/FlowDumpData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowDump.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3640 refactor rest according to #3639
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3657 improve cleanup in swapEndpointSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3604 Implementation of smart discovery feature.
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopologyConfig.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryBfdMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/NetworkOptions.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IUniIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkUniIslService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkWatchListService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/BfdManager.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/uniisl/UniIslHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watchlist/WatchListHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watchlist/command/WatchListAuxiliaryPollModeUpdateCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watchlist/command/WatchListExhaustedPollModeUpdateCommand.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkDecisionMakerServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkUniIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkWatchListServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/PollIntegrationTest.java
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslMinPortSpeedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/performance-tests/kilda.properties.example
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
Labels: C/NETWORK, Ready to Merge, feature, tested
