Repository telstra/open-kilda, pull requests merged in 2020-04, with the labels that each got.

#3349 Generate openflowj resourses inside docker with python2.7
  docker/base/kilda-base-ubuntu/Dockerfile
  src-java/projectfloodlight/openflowj/build.gradle
Labels: Ready to Merge, area/config

#3358 Updated multi-table pipeline spec
  docs/design/multi-table-pipelines/README.md
Labels: On Review, improvement

#3093 Fix the mess with flow endpoints during the flow update
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilderTest.java
Labels: C/FLOW-HS, Ready to Merge, bugfix

#3301 minor fixes in README files according to new structure
  src-java/checkstyle/README.md
  src-java/testing/functional-tests/README.md
Labels: Ready to Merge, area/docs, improvement

#3314 Swap endpoints V2 design.
  docs/design/hub-and-spoke/flow-swap-endpoints/README.md
  docs/design/hub-and-spoke/flow-swap-endpoints/flow-swap-endpoints-fsm.dot
  docs/design/hub-and-spoke/flow-swap-endpoints/flow-swap-endpoints-fsm.png
  docs/design/hub-and-spoke/flow-swap-endpoints/flow-swap-endpoints.png
  docs/design/hub-and-spoke/flow-swap-endpoints/flow-swap-endpoints.puml
Labels: Ready to Merge, area/docs

#3345 Improve test to reproduce race more often
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/thread/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: Ready to Merge, area/testing

#3346 Added feature toggle for GRPC stats
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/system/FeatureTogglesDto.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FeatureToggles.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFeatureTogglesRepository.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
Labels: C/NBWORKER, C/STATS, Next Release, feature

#3347 Rework makePathMorePreferable method to not conflict with protected paths
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
Labels: Ready to Merge, area/testing

#3348 Fix instabilities in time comparisons in ConnectedDevicesSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: Ready to Merge, area/testing

#3353 Fix perfomance tests run via gradle
  src-java/testing/performance-tests/build.gradle
Labels: Ready to Merge, area/testing

#3355 Added termination awaiting into GRPC session
  confd/templates/grpc-service/grpc-service.properties.tmpl
  confd/vars/main.yaml
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/resources/grpc-service.properties.example
Labels: C/GRPC, Ready to Merge, bugfix

#3362 Fix flow patch issues
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: C/FLOW-HS, C/NB, Ready to Merge, bugfix, tested

#3357 Get GRPC stats from Active switches
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/SwitchRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchRepositoryTest.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
Labels: C/STATS, Ready to Merge, bugfix

#3343 Adding feature to display sum of flows on port and switch list
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.html
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/topology/topology.component.ts
Labels: Ready to Merge, area/gui

#3363 Fix Toggle for GRPC PacketInOut stats
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBoltTest.java
Labels: C/STATS, Ready to Merge, bugfix

#3205 TraffExam update for apps scenario
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/UdpData.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/UdpPacketSender.java
  src-python/lab-service/traffexam/kilda/traffexam/action.py
  src-python/lab-service/traffexam/kilda/traffexam/model.py
  src-python/lab-service/traffexam/kilda/traffexam/rest.py
Labels: Ready to Merge, area/applications, feature

#3293 Implement flow read in v2 over nbworker
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/FlowReadRequest.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/FlowsDumpRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/FlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/FlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/controller/v1/TestMessageMock.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversityV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathComputationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: C/NB, C/NBWORKER, On Review, area/api

#3365 Feature/flows history and flow list updates
  src-gui/.gitignore
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/FlowController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Flow.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/Dump.java
  src-gui/src/main/java/org/openkilda/model/FlowHistory.java
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/src/main/java/org/openkilda/model/History.java
  src-gui/src/main/java/org/openkilda/service/FlowService.java
  src-gui/src/main/resources/db/import-script_25.sql
  src-gui/src/test/java/org/openkilda/controller/FlowControllerTest.java
  src-gui/src/test/java/org/openkilda/util/TestFlowMock.java
  src-gui/ui/package-lock.json
  src-gui/ui/src/app/common/services/flows.service.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
Labels: Ready to Merge, area/gui

#3367 Improvement in flow diversity graph to display current flow in it
  src-gui/ui/src/app/common/services/flowpath.service.ts
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.html
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.ts
Labels: Ready to Merge, area/gui

#3154 add tests for pop and protected path
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/Database.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/database/DatabaseSupportImpl.java
Labels: Ready to Merge, area/testing, feature

#3287 extract knockout/reviveSwitch into switchHelper
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/UnstableIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3340 add tests for grpc stats in opentsdb
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
Labels: Ready to Merge, area/testing, feature

#3370 Fix issue in dependency version issue in gui build
  src-gui/ui/package.json
Labels: Ready to Merge, area/gui, bugfix

#3375 Feature/flow connected devices
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/FlowController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Flow.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowEndpoint.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/Arp.java
  src-gui/src/main/java/org/openkilda/model/Destination.java
  src-gui/src/main/java/org/openkilda/model/DetectedDevice.java
  src-gui/src/main/java/org/openkilda/model/FlowConnectedDevice.java
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/src/main/java/org/openkilda/model/Lldp.java
  src-gui/src/main/java/org/openkilda/model/Source.java
  src-gui/src/main/java/org/openkilda/service/FlowService.java
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/data-models/flow.ts
  src-gui/ui/src/app/common/directives/datetimepicker.directive.ts
  src-gui/ui/src/app/common/services/flows.service.ts
  src-gui/ui/src/app/modules/flows/connected-devices/connected-devices.component.css
  src-gui/ui/src/app/modules/flows/connected-devices/connected-devices.component.html
  src-gui/ui/src/app/modules/flows/connected-devices/connected-devices.component.spec.ts
  src-gui/ui/src/app/modules/flows/connected-devices/connected-devices.component.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.css
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.html
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.ts
  src-gui/ui/src/app/modules/networkpath/networkpath.component.ts
  src-gui/ui/src/app/modules/switches/flows/flows.component.ts
  src-gui/ui/src/app/modules/switches/port-flows/port-flows.component.ts
  src-gui/ui/src/app/modules/switches/port-inventory-flows/port-inventory-flows.component.ts
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.ts
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.html
  src-gui/ui/src/app/modules/useractivity/useractivity.component.html
  src-gui/ui/src/app/modules/useractivity/useractivity.component.ts
  src-gui/ui/src/assets/images/server-light.svg
  src-gui/ui/src/assets/images/server-regular.svg
  src-gui/ui/src/styles.css
Labels: Ready to Merge, area/gui, feature

#3332 Add ability to operate with qinq traffic into lab-service
  src-python/lab-service/traffexam/kilda/traffexam/model.py
  src-python/lab-service/traffexam/kilda/traffexam/rest.py
  src-python/lab-service/traffexam/kilda/traffexam/service.py
Labels: Ready to Merge, area/testing

#3376 Remove potential reordering of OF events
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/ChunkedInfoMessage.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchTrackingService.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchTrackingServiceTest.java
Labels: C/FL, On Review

#3315 Extrach ethernet packet body extractor into separate tool
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/utils/EthernetPacketToolbox.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/connected/ConnectedDevicesServiceTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/test/standard/PacketTestBase.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/utils/EthernetPacketToolboxTest.java
Labels: C/FL, On Review, improvement

#3360 minor fixes in DefaultRulesSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3359 add test for targetPathComputationStrategy and partialUpdate
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathComputationSpec.groovy
Labels: Ready to Merge, area/testing, feature

#3383 Adding feature to display number of flows on switch list and port list
  src-gui/ui/src/app/common/components/breadcrumb/breadcrumb.component.ts
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.html
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
Labels: C/GUI, Next Release, area/gui

#3385 Add retries due to #3384. Refactor an autoreroute test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Next Release, area/testing

#3386 Fixed incorrect NoviflowSpecificFeature methods
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/InaccurateMeterFeature.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/NoviFlowCopyFieldFeature.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/NoviflowSpecificFeature.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/feature/NoviflowSpecificFeatureTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/FeatureDetectorServiceTest.java
Labels: Next Release, area/floodlight, bugfix

#3387 add missing import and fix knockoutSwitch operation in AutoRerouteV2Spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
Labels: Next Release, area/testing, improvement

#3238 Cleanup outdated template variables
  confd/templates/lab-service/log.json.tmpl
  confd/templates/logstash/logstash.conf.tmpl
  confd/templates/northbound/northbound.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/northbound-service/northbound/src/main/resources/northbound.properties.example
  src-java/northbound-service/northbound/src/test/resources/northbound.properties
Labels: Next Release, improvement

#3364 Add test that reveals #3341
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Next Release, area/testing

#3382 Added switch properties for server 42 Flow RTT feature
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwitchPropertiesDto.java
  src-java/kilda-model/src/main/java/org/openkilda/model/MacAddress.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchProperties.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/Neo4jPersistenceManager.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/converters/MacAddressConverter.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4JSwitchPropertiesRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchPropertiesDto.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/SwitchMapperTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
Labels: C/NBWORKER, Next Release, feature

#3371 Neo4j changes for migrating swap endpoints.
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowPathRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowPathRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
Labels: C/NEO4J, Next Release, feature

#3393 Expose discovery latency as separate log field
  confd/templates/floodlight-modules/logback.xml.tmpl
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/utils/FloodlightDummyDashboardLogger.java
  src-java/kilda-reporting/src/main/java/org/openkilda/reporting/AbstractDashboardLogger.java
Labels: C/FL, Next Release, improvement

#3366 Added GRPC service stub
  .env.example
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/vars/docker-compose.yaml
  docker/.gitignore
  docker/grpc-stub/Dockerfile
  src-java/server42/server42-control/.env
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/DockerHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/WfmManipulator.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/ConstantsGrpc.java
  src-python/grpc-stub/noviflow_pb2.py
  src-python/grpc-stub/noviflow_pb2_grpc.py
  src-python/grpc-stub/server.py
  src-python/lab-service/lab/service/lockkeeper.py
Labels: C/GRPC, Next Release, feature, tested

#3234 Make parallelism level configurable
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
Labels: Next Release, improvement

#3395 Fixed incorrect Connected devices packet logging
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
Labels: C/FL, Next Release, bugfix

#3388 Fixed response timeout for flow read ops.
  src-java/nbworker-topology/nbworker-storm-topology/build.gradle
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: C/NBWORKER, Ready to Merge, bugfix

#3380 Test/path swap to hs
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/thread/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3109 Obviously report operation timeout into flow CRUD operations
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/WithHistorySupportFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/ReportErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/FlowCreateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/FlowDeleteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AbandonPendingCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
Labels: C/FLOW-HS, Next Release, Ready to Merge, improvement

#3268 Add ISL busy check when deleting ISL.
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/DeleteLinkRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/LinkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/LinkService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
Labels: C/NB, C/NBWORKER, Next Release, Ready to Merge, improvement, tested

#3396 Fixed flow corruption by reroute after this flow has been updated.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/SwapFlowPathsAction.java
Labels: C/FLOW-HS, Next Release, Ready to Merge, bugfix, tested

#3397 Do not build grpc-stub if no_grpc_stub is true
  confd/templates/makefile/makefile.tmpl
Labels: Next Release, Ready to Merge, area/cicd, improvement

#3399 Add test that blinks switch during reroute
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
Labels: Next Release, Ready to Merge, area/testing

#3403 set Tidy annotation for grpc tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#3406 Fix/flow diversity update issue
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Flow.java
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/src/main/java/org/usermanagement/service/UserService.java
  src-gui/src/main/java/org/usermanagement/util/MessageUtils.java
  src-gui/src/main/java/org/usermanagement/validator/PermissionValidator.java
  src-gui/src/main/java/org/usermanagement/validator/RoleValidator.java
  src-gui/src/main/java/org/usermanagement/validator/UserValidator.java
  src-gui/src/main/resources/message.properties
  src-gui/ui/src/app/common/components/breadcrumb/breadcrumb.component.ts
  src-gui/ui/src/app/common/components/changepassword/changepassword.component.html
  src-gui/ui/src/app/common/components/changepassword/changepassword.component.ts
  src-gui/ui/src/app/common/components/sidebar/sidebar.component.css
  src-gui/ui/src/app/common/components/sidebar/sidebar.component.html
  src-gui/ui/src/app/common/data-models/flow.ts
  src-gui/ui/src/app/common/services/flowpath.service.ts
  src-gui/ui/src/app/modules/flows/flow-add/flow-add.component.html
  src-gui/ui/src/app/modules/flows/flow-add/flow-add.component.ts
  src-gui/ui/src/app/modules/flows/flow-contracts/flow-contracts.component.html
  src-gui/ui/src/app/modules/flows/flow-contracts/flow-contracts.component.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.html
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.ts
  src-gui/ui/src/app/modules/flows/flow-path/flow-path.component.html
  src-gui/ui/src/app/modules/isl/datatable/datatable.component.html
  src-gui/ui/src/app/modules/isl/datatable/datatable.component.ts
  src-gui/ui/src/app/modules/networkpath/networkpath.component.html
  src-gui/ui/src/app/modules/networkpath/networkpath.component.ts
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  src-gui/ui/src/app/modules/switches/port-flows/port-flows.component.html
  src-gui/ui/src/app/modules/switches/port-flows/port-flows.component.ts
  src-gui/ui/src/app/modules/switches/port-inventory-flows/port-inventory-flows.component.html
  src-gui/ui/src/app/modules/switches/port-inventory-flows/port-inventory-flows.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.html
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.ts
  src-gui/ui/src/app/modules/topology/failed-isl/failed-isl.component.html
  src-gui/ui/src/app/modules/topology/failed-isl/failed-isl.component.ts
  src-gui/ui/src/app/modules/topology/topology-menu/topology-menu.component.html
  src-gui/ui/src/app/modules/topology/unidirectional-isl/unidirectional-isl.component.ts
  src-gui/ui/src/app/modules/useractivity/useractivity.component.ts
  src-gui/ui/src/app/modules/usermanagement/permissions/permission-list/permission-list.component.html
  src-gui/ui/src/app/modules/usermanagement/permissions/permission-list/permission-list.component.ts
  src-gui/ui/src/app/modules/usermanagement/roles/role-list/role-list.component.html
  src-gui/ui/src/app/modules/usermanagement/roles/role-list/role-list.component.ts
  src-gui/ui/src/app/modules/usermanagement/users/user-list/user-list.component.html
  src-gui/ui/src/app/modules/usermanagement/users/user-list/user-list.component.ts
Labels: C/GUI, Next Release, Ready to Merge, area/gui, bugfix

#3414 Put test reports to 'build' instead of 'target'
  src-java/testing/atdd-staging/src/main/resources/log4j2.xml
  src-java/testing/functional-tests/README.md
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/special/GenerateTopologyConfig.groovy
  src-java/testing/functional-tests/src/test/resources/META-INF/services/com.athaydes.spockframework.report.IReportCreator.properties
  src-java/testing/functional-tests/src/test/resources/log4j2.xml
  src-java/testing/performance-tests/src/test/resources/META-INF/services/com.athaydes.spockframework.report.IReportCreator.properties
  src-java/testing/performance-tests/src/test/resources/log4j2.xml
Labels: Next Release, Ready to Merge, area/testing

#3418 Fix CTE exceptions introduced by merge
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
Labels: C/NBWORKER, Next Release, Ready to Merge, bugfix

#3408 Server 42 RTT: Added Output rules
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/FlowApplyActions.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverter.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverterTest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/InstallServer42Flow.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/GetExpectedDefaultRulesRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/InstallRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesDeleteRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesInstallRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchFlowUtils.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/SwitchFlowFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/OfFlowStatsMapperTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  src-java/kilda-model/src/main/java/org/openkilda/model/ServiceCookie.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowValidationTestBase.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchRuleServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImplTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: C/FL, C/NBWORKER, Next Release, Ready to Merge, feature

#3416 SpeakerRequestBuildContext refactoring
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/model/SpeakerRequestBuildContext.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/IngressFlowSegmentInstallRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/IngressFlowSegmentRemoveRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/IngressFlowSegmentRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/IngressFlowSegmentVerifyRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/OneSwitchFlowInstallRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/OneSwitchFlowRemoveRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/OneSwitchFlowRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/OneSwitchFlowVerifyRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/factory/IngressFlowSegmentRequestFactory.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/factory/OneSwitchFlowRequestFactory.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/model/RulesContext.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentVerifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowVerifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentCommandJsonTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentRemoveCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowCommandJsonTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowRemoveCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactoryTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/OneSwitchFlowInstallFlowModFactoryTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertNewRulesAction.java
Labels: C/FL, C/FLOW-HS, Next Release, Ready to Merge, improvement

#3419 refactor RoundTripIslSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3423 Bitfield numberic enum types safe access
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/kilda-model/src/main/java/org/openkilda/model/CookieBase.java
  src-java/kilda-model/src/main/java/org/openkilda/model/ServiceCookie.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowMetricGenBolt.java
Labels: C/FL, On Review, bugfix

#3424 Remove Connected devices log
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
Labels: C/FL, Ready to Merge, improvement

#3373 Protected Path Swap in Flow HS topology
  docs/design/hub-and-spoke/crud/pathswap/FlowPathSwap.dot
  docs/design/hub-and-spoke/crud/pathswap/FlowPathSwap.png
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/model/FlowEventData.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopologyConfig.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/RouterBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapContext.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/AbandonPendingCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/EmitIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnFinishedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnFinishedWithErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnReceivedRemoveOrRevertResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RecalculateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/UpdateFlowPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/ValidateIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapHubCarrier.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/thread/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
Labels: C/FLOW-HS, C/NB, On Review, Ready to Merge, improvement, tested
