Repository telstra/open-kilda, pull requests merged in 2020-10, with the labels that each got.

#3761 Wrap delete BfdSession operations (BfdPortFsm) into a transaction.
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdPortFsm.java
Labels: C/NETWORK, Next Release, bugfix

#3762 Fix creation of BfdSession without a discriminator.
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdPortFsm.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkBfdPortServiceTest.java
Labels: C/NETWORK, Next Release, bugfix, tested

#3767 Fix FeatureToggles label in OrientDB init script.
  docker/orientdb/init/create-db-with-schema.osql
Labels: C/ORIENTDB, Ready to Merge, bugfix

#3765 Add single orient db local env setup option
  confd/templates/docker-compose/docker-compose.tmpl
  confd/vars/docker-compose.yaml
Labels: Ready to Merge, area/config, improvement

#3766 Use custom OrientDB user (Kilda) for all-in-one configuration.
  confd/vars/main.yaml
  docker/orientdb/init/create-db-with-schema.osql
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/northbound-service/northbound/src/main/resources/northbound.properties.example
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/performance-tests/kilda.properties.example
Labels: C/ORIENTDB, DB Migration, Ready to Merge, improvement

#3745 Add migration scripts for Neo4j to OrientDB
  docs/design/solutions/data-storage-v2/migration-to-orientdb/complete-imported-data.osql
  docs/design/solutions/data-storage-v2/migration-to-orientdb/disable-indexes.osql
  docs/design/solutions/data-storage-v2/migration-to-orientdb/neo4j-to-orientdb-migration-steps.md
  docs/design/solutions/data-storage-v2/migration-to-orientdb/orientdb-cookbook.md
  docs/design/solutions/data-storage-v2/migration-to-orientdb/prepare-history-graphml.sh
  docs/design/solutions/data-storage-v2/migration-to-orientdb/preprocess-graphml.sh
  docs/design/solutions/data-storage-v2/migration-to-orientdb/reenable-indexes.osql
  docs/design/solutions/data-storage-v2/migration-to-orientdb/revert-preprocess-graphml.sh
Labels: C/NEO4J, C/ORIENTDB, DB Migration, Ready to Merge

#3748 Add 'lockkeeper' tag to some tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/tags/Tag.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
Labels: Ready to Merge, area/testing

#3756 fix CheckLoggingSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/elastic/model/ElasticHits.java
Labels: Ready to Merge, area/testing, improvement

#3755 ignore grpc tests according to #3754
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3769 Fix port props tests to respect 'rtl' ISLs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortPropertiesSpec.groovy
Labels: Ready to Merge, area/testing

#3758 update getDefaultCookies by server42 rules
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
Labels: Ready to Merge, area/testing, improvement

#3764 Add `max_latency_tier2` field to the Flow object
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowPatch.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowPatchV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowRequestV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
Labels: C/FLOW-HS, C/NB, C/NBWORKER, Ready to Merge

#3772 fix unstable tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MultiFloodlightsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3778 Fix memory leaks in OrientDB sessions.
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/ThreadLocalPersistenceContextHolder.java
Labels: C/CONNECTED, C/FLOW-HS, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, On Review, bugfix

#3775 adjust functional test for maxLatencyTier2 field
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3725 configure multiTable mode on hardware env via test framework
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: Ready to Merge, area/testing, improvement, tested

#3776 Run single orient db by default for local kilda
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/northbound/northbound.properties.tmpl
  confd/vars/docker-compose.yaml
  confd/vars/main.yaml
Labels: Ready to Merge, area/testing

#3785 update doc related to func test
  confd/templates/makefile/makefile.tmpl
  src-java/testing/functional-tests/README.md
Labels: Ready to Merge, area/testing, improvement

#3786 Added parallelism for Isl Latency Topology
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopologyConfig.java
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopology.java
Labels: C/ISLLATENCY, Ready to Merge, improvement

#3792 Fixed incorrect constructor for FlowRerouteRequest
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRerouteRequest.java
Labels: C/NB, Ready to Merge, bugfix

#3743 Reset BFD session status on start
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/DiscoveryBfdMonitor.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/IslEndpointBfdStatus.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/NETWORK, On Review, improvement

#3791 Added storm parallelism option for Flow HS topology
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopologyConfig.java
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
Labels: C/FLOW-HS, Next Release, improvement

#3735 extend pathsSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathsSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Next Release, Ready to Merge, area/testing, improvement

#3753 Feature/switch location update
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/SwitchController.java
  src-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  src-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  src-gui/src/main/java/org/openkilda/model/Location.java
  src-gui/src/main/java/org/openkilda/model/SwitchLocation.java
  src-gui/src/main/java/org/openkilda/security/mapper/GlobalExceptionMapper.java
  src-gui/src/main/java/org/openkilda/service/SwitchService.java
  src-gui/src/main/resources/db/import-script_30.sql
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/components/switchupdatemodal/switchupdatemodal.component.css
  src-gui/ui/src/app/common/components/switchupdatemodal/switchupdatemodal.component.html
  src-gui/ui/src/app/common/components/switchupdatemodal/switchupdatemodal.component.spec.ts
  src-gui/ui/src/app/common/components/switchupdatemodal/switchupdatemodal.component.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/common/services/common.service.ts
  src-gui/ui/src/app/common/services/switch.service.ts
  src-gui/ui/src/app/common/services/topology-graph.service.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
  src-gui/ui/src/styles.css
Labels: C/GUI, Ready to Merge, area/gui, feature

#3777 OrientDB schema migration toolset
  confd/templates/docker-compose/docker-compose.tmpl
  docker/db-migration/Dockerfile
  docker/db-migration/apply-prehistory-migrations.sh
  docker/db-migration/migrate-develop.sh
  docker/db-migration/migrate.sh
  docker/db-migration/migrations/README.md
  docker/db-migration/migrations/initial-access-management.yaml
  docker/db-migration/migrations/prehistory.yaml
  docker/db-migration/migrations/root.yaml
  docker/db-migration/migrations/tag-visibility-workaround.yaml
  docker/orientdb/init/create-db-with-schema.osql
  docker/orientdb/init/run_and_init.sh
Labels: Ready to Merge, improvement

#3796 add topology_dependent tag for grpc tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#3798 Fix for issue in gui db script execution for fresh deployment
  src-gui/src/main/java/org/openkilda/config/DatabaseConfigurator.java
Labels: C/GUI, Next Release, Ready to Merge, area/gui, bugfix

#3793 [Server42] stats prometheus
  src-cpp/server42/src/DumpStats.cpp
Labels: On Review, Ready to Merge, area/server42, feature

#3784 Fix Issue in activity logs related to permissions
  src-gui/src/main/java/org/openkilda/controller/LogActivityController.java
  src-gui/src/main/java/org/openkilda/log/model/ActivityInfo.java
  src-gui/src/main/java/org/openkilda/log/util/LogConversionUtil.java
  src-gui/src/main/java/org/openkilda/service/UserActivityLogService.java
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/services/user-activity.service.ts
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.css
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.html
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.spec.ts
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.ts
  src-gui/ui/src/app/modules/useractivity/useractivity.component.html
  src-gui/ui/src/app/modules/useractivity/useractivity.component.ts
Labels: C/GUI, Next Release, Ready to Merge, area/gui, bugfix

#3813 Docker version prerequisite
  README.md
Labels: Next Release, improvement

#3808 Add functional test for #3807
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversityV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: Ready to Merge, area/testing

#3811 Add default zknode creation into Zookeeper
  confd/templates/docker-compose/docker-compose.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Ready to Merge, improvement

#3812 [Server42] fix resources leak closes #3797
  src-java/server42/server42-control-server-stub/src/main/java/org/openkilda/server42/control/serverstub/StatsServer.java
  src-java/server42/server42-stats/src/main/java/org/openkilda/server42/stats/zeromq/StatsCollector.java
Labels: On Review, Ready to Merge, area/server42, bugfix

#3722 Add functional tests for bfd v2 api
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/BfdSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing

#3816 fix flowRulesSpec according to server42FlowRtt feature
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Ready to Merge, area/testing, improvement
