Repository telstra/open-kilda, pull requests merged in 2020-03, with the labels that each got.

#3135 Added MAX_LATENCY PCE strategy.
  docs/design/pce/design.md
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowPayload.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/TestFlowBuilder.java
  src-java/flow-topology/flow-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRequest.java
  src-java/flow-topology/flow-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowCreatePayload.java
  src-java/flow-topology/flow-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowResponsePayload.java
  src-java/flow-topology/flow-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowUpdatePayload.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/PathComputationStrategy.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/PathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/flows/FlowPatchDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowRequestV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathComputationSpec.groovy
Labels: Ready to Merge, area/pce, feature

#3149 Added a reroute call when updating the maxLatency flow field.
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsCarrier.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
Labels: C/NBWORKER, Next Release, feature

#3221 improve MultitableFlowsSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3223 improve protectedPath specs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3246 refactor tests according to 1.49 release
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Ready to Merge, area/testing, improvement

#3092 Minor tweaks in tests according to default meters validation feature
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing

#3220 Added a filter in SwitchManagerTopology to check only the paths contained in flow.
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/SWMANAGER, Ready to Merge, bugfix

#3248 Fix data points duplicates for switch statistics
  confd/templates/floodlight-modules/floodlightkildaStats.properties.tmpl
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/info/switches/ListSwitchResponse.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/inventory/ListSwitchCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkildaStats.properties.example
  src-java/statsrouter-topology/statsrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/statsrouter/StatsRouterTopology.java
  src-java/statsrouter-topology/statsrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/statsrouter/service/StatsRouterService.java
Labels: C/FL, C/STATS-ROUTER, Ready to Merge

#3235 Make FlowThrottlingBolt stateless for storm.
  src-java/base-topology/base-storm-topology/src/checkstyle/checkstyle-suppressions.xml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/utils/AbstractTickStatefulBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/FlowThrottlingBolt.java
Labels: C/REROUTE, Next Release, improvement

#3124 ARP Part 2: Update Switch Properties
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwitchPropertiesDto.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchProperties.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchPropertiesDto.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
Labels: C/NBWORKER, Next Release, feature

#3041 Removed constraints and indexes for old flow connected devices model
  docker/neo4j/init/neo4j-queries.cql
  services/src/neo4j/migrations/1.21-remove-flow-connected-devices/1-remove-flow-connected-devices-index-and-constraint.xml
  services/src/neo4j/migrations/1.21-remove-flow-connected-devices/rollback.cql
  services/src/neo4j/migrations/README.md
Labels: C/NEO4J, DB Migration, Next Release, improvement

#3082 Forbid to turn off multiTable property if there are flows with LLDP enabled
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
Labels: C/NBWORKER, Next Release, improvement

#3177 Updated SwitchConnectedDevice db model
  docker/neo4j/init/neo4j-queries.cql
  services/src/neo4j/migrations/1.22-switch-connected-devices-arp-indexes/1-add-switch-connected-devices-arp-index.xml
  services/src/neo4j/migrations/1.22-switch-connected-devices-arp-indexes/rollback.cql
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/test/java/org/openkilda/wfm/topology/connecteddevices/service/PacketServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchConnectedDevice.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/SwitchConnectedDeviceRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchConnectedDevicesRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jSwitchConnectedDevicesRepositoryTest.java
Labels: C/NEO4J, DB Migration, Next Release, feature

#3217 Added ARP support to traff gens
  src-python/lab-service/traffexam/kilda/traffexam/action.py
  src-python/lab-service/traffexam/kilda/traffexam/model.py
  src-python/lab-service/traffexam/kilda/traffexam/rest.py
Labels: Next Release, area/testing, feature

#3183 Issue 2885: Fixed getting Flows by Endpoint
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: C/NBWORKER, Next Release, bugfix, tested

#3251 Make packet loss test hw-only again
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
Labels: Next Release, area/testing

#3250 improve SwitchValidationSpec(wait for meter)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
Labels: Next Release, area/testing, improvement

#3259 Fixed creating/updating flow using the `max_latency` strategy.
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
Labels: C/FLOW, C/FLOW-HS, Next Release, bugfix, tested

#3188 Add flow reroute retry design
  docs/design/hub-and-spoke/reroute/retry/README.md
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-queue-service.png
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-queue-service.puml
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-retry-current.png
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-retry-current.puml
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-retry.png
  docs/design/hub-and-spoke/reroute/retry/flow-reroute-retry.puml
Labels: Next Release, area/docs

#3141 LLDP cleanup: Remove unused methods, renamed SwitchLldpInfoData
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/LldpInfoData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/MeterPool.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/MeterPoolTest.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/bolts/PacketBolt.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/test/java/org/openkilda/wfm/topology/connecteddevices/service/PacketServiceTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMeterRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepositoryTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopologyConfig.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/CONNECTED, C/FL, C/SWMANAGER, Next Release, improvement

#3209 Fix flow endpoints update via APIv2.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
Labels: C/FLOW-HS, Next Release, bugfix, tested

#3187 Feature to add and update isl BFD flag
  services/src/openkilda-gui/src/main/java/org/openkilda/constants/IConstants.java
  services/src/openkilda-gui/src/main/java/org/openkilda/controller/SwitchController.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/converter/IslLinkConverter.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/model/response/IslLink.java
  services/src/openkilda-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  services/src/openkilda-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  services/src/openkilda-gui/src/main/java/org/openkilda/model/LinkParametersDto.java
  services/src/openkilda-gui/src/main/java/org/openkilda/service/SwitchService.java
  services/src/openkilda-gui/src/main/resources/db/import-script_24.sql
  services/src/openkilda-gui/src/test/java/org/openkilda/controller/SwitchControllerTest.java
  services/src/openkilda-gui/src/test/java/org/openkilda/util/TestIslMock.java
  services/src/openkilda-gui/src/test/java/org/openkilda/util/TestSwitchMock.java
  services/src/openkilda-gui/ui/src/app/common/services/isl-list.service.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/datatable/datatable.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/datatable/datatable.component.ts
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  services/src/openkilda-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
Labels: Next Release, area/gui

#3134 ARP Part 3: Switch rules
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/GetExpectedDefaultMetersRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/GetExpectedDefaultRulesRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/InstallRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesDeleteRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesInstallRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManagerConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/SwitchFlowFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpIngressFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpInputPreDropFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressOneSwitchFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpTransitFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Cookie.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Metadata.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchRuleServiceImpl.java
Labels: C/FL, C/SWMANAGER, Ready to Merge, feature

#3142 ARP Part 4: Added ARP support into Floodlight
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/ArpInfoData.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/ConnectedDevicePacketBase.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/LldpInfoData.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/shared/packet/VlanTag.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/connected/ConnectedDevicesServiceTest.java
Labels: C/FL, Ready to Merge, feature

#3243 Fix incorrect switch validation log message
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
Labels: C/SWMANAGER, Next Release, bugfix

#3144 ARP Part 5: Connected devices topology
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/bolts/PacketBolt.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/test/java/org/openkilda/wfm/topology/connecteddevices/service/PacketServiceTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/response/ConnectedDeviceDto.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/response/SwitchConnectedDeviceDto.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/response/SwitchPortConnectedDevicesDto.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/response/TypedConnectedDevicesDto.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/flows/ConnectedDeviceDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/flows/TypedConnectedDevicesDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/PortConnectedDevicesDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/SwitchConnectedDeviceDto.java
Labels: C/CONNECTED, C/FL, Next Release, feature

#3203 ARP Part 6: Added shared rule
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/model/SpeakerRequestBuildContext.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathBuilder.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/model/RemoveSharedRulesContext.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/InstallIngressFlow.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/InstallOneSwitchFlow.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/RemoveFlow.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentCommandJsonTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentRemoveCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowCommandJsonTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowRemoveCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactoryTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/OneSwitchFlowInstallFlowModFactoryTest.java
  src-java/flow-topology/flow-storm-topology/src/main/java/org/openkilda/wfm/topology/flow/service/FlowService.java
  src-java/flow-topology/flow-storm-topology/src/main/java/org/openkilda/wfm/topology/flow/validation/FlowValidator.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/messaging/command/flow/AbstractSerializerTest.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/wfm/topology/flow/FlowTopologyTest.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/wfm/topology/flow/service/FlowCommandFactoryTest.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/wfm/topology/flow/validation/FlowValidatorTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImplTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: C/FLOW-HS, Next Release, feature

#3224 Fixed display of `diverse_with` field in response via APIv2.
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/PostResourceAllocationAction.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversityV2Spec.groovy
Labels: C/FLOW-HS, Next Release, bugfix, tested

#3016 Fix error message when switch not found
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImplTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: C/SWMANAGER, Next Release, bugfix

#3267 Fix MetersSpec to properly expect default meters in multitable mode
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: Next Release, area/testing

#3226 Add func tests for ARP connected devices
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesValidationSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/ArpData.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/ConnectedDevice.java
  src-python/lab-service/traffexam/kilda/traffexam/__init__.py
Labels: Next Release, area/testing

#3272 Do not install ARP rules on WB switches
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/lldp/LldpPostIngressVxlanFlowGenerator.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
Labels: C/FL, Next Release, bugfix

#3274 Added default value for detect connected devices in V2 API
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/DetectConnectedDevicesV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowEndpointV2.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
Labels: C/NB, Next Release, bugfix

#2946 Updated migration steps for multi-table switch pipelines
  docs/design/multi-table-pipelines/README.md
Labels: Ready to Merge, area/multi_table_pipeline

#3001 Fixed NB default password variable in NB confd template
  confd/templates/northbound/northbound.properties.tmpl
Labels: Ready to Merge, area/config, area/northbound, bugfix

#3182 Add make target for creating virtual test topology
  Makefile
  src-java/testing/functional-tests/build.gradle
Labels: Ready to Merge, area/testing, improvement

#3280 Added configuration parameter `statistics.interval`.
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
Labels: C/STATS, Ready to Merge, bugfix

#3186 Fixed resource allocation.
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/CookiePool.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/MeterPool.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/ResourceUtils.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/transitvlan/TransitVlanPool.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/vxlan/VxlanPool.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/CookiePoolTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManagerTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/MeterPoolTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/transitvlan/TransitVlanPoolTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/resources/vxlan/VxlanPoolTest.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/wfm/topology/flow/service/FlowServiceTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowCookieRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMeterRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/TransitVlanRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/VxlanRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowCookieRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jTransitVlanRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jVxlanRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowCookieRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowMeterRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jTransitVlanRepositoryTest.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jVxlanRepositoryTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
Labels: C/FLOW, C/FLOW-HS, Ready to Merge, bugfix

#3271 Fixed PCE for diverse flow with not enough bandwidth ISL
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
Labels: C/FLOW, C/FLOW-HS, Ready to Merge, area/pce, bugfix

#3283 Fix call super hash codes and equals
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/NetworkEndpointMask.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleterMeterForSwitchManagerRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/error/rule/FlowCommandErrorData.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/FlowCreateContext.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesSyncDto.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/CollectorDescriptor.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/TimeoutDescriptor.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/ClearFlows.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/ListFlowsRequest.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/ListFlowsResponse.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/PushSettings.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/RemoveFlow.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/Address.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/ConsumerEndpoint.java
Labels: Ready to Merge, improvement, techdebt

#3269 Fix the appearance of excess rules when flow update V2.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapperTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#3117 move verifyBurstSizeIsCorrect into switchHelper
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3233 Remove unused code
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/DiscoveryBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/FloodlightTracker.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RouterService.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/SpeakerStatus.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/FloodlightTrackerTest.java
Labels: C/ROUTER, Ready to Merge, improvement

#3279 Fix NPE on response to unclosed FL session
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/session/Session.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/session/SessionServiceTest.java
Labels: C/FL, Ready to Merge, bugfix

#3281 Minor adjustments in ConnectedDevicesSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: Ready to Merge, area/testing

#3282 improve defaultFlowSpecs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#3288 Add db indexes for flow history objects
  docker/neo4j/init/neo4j-queries.cql
  services/src/neo4j/migrations/1.23-flow-history-indexes/1-add-flow-history-index.xml
  services/src/neo4j/migrations/1.23-flow-history-indexes/rollback.cql
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowDump.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowEvent.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowHistory.java
Labels: DB Migration, Ready to Merge, improvement

#3290 Do not ignore multiTable flags during RequestedFlow mapping
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
Labels: C/FLOW, C/FLOW-HS, Ready to Merge, bugfix

#3258 Fixed switch sync during switch props update
  confd/templates/atdd-staging/kilda.properties.tmpl
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableSwitchRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: C/NBWORKER, Ready to Merge, bugfix

#3292 Add db indexes for flow history objects
  docker/neo4j/init/neo4j-queries.cql
  services/src/neo4j/migrations/1.23-flow-history-indexes/1-add-flow-history-index.xml
  services/src/neo4j/migrations/1.23-flow-history-indexes/rollback.cql
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowDump.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowEvent.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowHistory.java
Labels: DB Migration, improvement

#3284 [Issue 3277] Fix V2 Flow Reroute after multiTable mode switching
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
Labels: C/FLOW-HS, On Review, bugfix, tested

#3300 improve test according to latest changes in #3295
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RollbacksSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3139 Add test for breaking protected path during swap
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/resources/topology.yaml
Labels: Ready to Merge, area/testing

#3253 Skip unit tests in travis build if the sonar step is run.
  .travis.yml
  src-java/build.gradle
Labels: Ready to Merge, area/cicd

#3275 Unignore some functional tests due to related issues being fixed
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing

#3289 check traffic during rerouteV2 in multiTable mode
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3303 Minor tests adjustments
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ChaosSpec.groovy
Labels: Ready to Merge, area/testing

#3304 Multiple updates to EnduranceV2Spec
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/Wrappers.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/performance-tests/kilda.properties.example
  src-java/testing/performance-tests/src/main/groovy/org/openkilda/performancetests/helpers/TopologyHelper.groovy
  src-java/testing/performance-tests/src/main/groovy/org/openkilda/performancetests/model/CustomTopology.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceV2Spec.groovy
Labels: Ready to Merge, area/testing

#3308 Added PacketInOutStats to GRPC API
  src-java/grpc-speaker/grpc-api/src/main/java/org/openkilda/grpc/speaker/model/PacketInOutStatsResponse.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/controller/NoviflowController.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/mapper/NoviflowResponseMapper.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/GrpcSenderService.java
  src-java/grpc-speaker/grpc-service/src/test/java/org/openkilda/grpc/speaker/mapper/NoviflowResponseMapperTest.java
Labels: C/GRPC, Ready to Merge, feature, tested

#3324 Improve get Flow DB requests for Connected Devices Service
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepository.java
  src-java/kilda-persistence-neo4j/src/test/java/org/openkilda/persistence/repositories/impl/Neo4jFlowRepositoryTest.java
Labels: C/CONNECTED, Ready to Merge, bugfix

#3336 Adjust tests to workaround issue #3335
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: Ready to Merge, area/testing

#3319 improve selecting swPair with diverse path in MultitableFlowsSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3310 minor improvements in MetersSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3320 improve grpc related tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcCommonSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/grpc/GrpcService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/grpc/GrpcServiceImpl.java
Labels: Ready to Merge, area/testing, improvement

#3325 Ignore unmapped target properties in RequestedFlow
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
Labels: C/FLOW-HS, Ready to Merge, bugfix

#3337 Fix cleanups to always delete flows before bringing ports up
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/UnstableIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
Labels: Ready to Merge, area/testing

#3330 add missed else statement
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3323 Reduce trace size for PreviousTestFailedError
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/failfast/FailFastExtension.groovy
Labels: Ready to Merge, area/testing

#3070 Design for Multiple ISLs on the same port (VLANs).
  docs/design/multiple-isls-on-same-port/README.md
  docs/design/multiple-isls-on-same-port/multi_isl_table_0.png
  docs/design/multiple-isls-on-same-port/multi_isl_table_ingress_and_transit.png
  docs/design/multiple-isls-on-same-port/multi_isl_tables.pdf
Labels: Ready to Merge, area/docs, feature

#3036 Support path computation strategy param in partial flow update
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/flow/TestFlowBuilder.java
  src-java/flow-topology/flow-messaging/src/main/java/org/openkilda/messaging/payload/flow/FlowResponsePayload.java
  src-java/flow-topology/flow-storm-topology/src/main/java/org/openkilda/wfm/topology/flow/service/FlowService.java
  src-java/flow-topology/flow-storm-topology/src/test/java/org/openkilda/wfm/topology/flow/service/FlowServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/flows/FlowPatchDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
Labels: C/NB, C/NBWORKER, Ready to Merge

#3231 Control docker-compose and makefile from confd
  .gitignore
  Makefile
  confd/conf.d/docker-compose_yaml.toml
  confd/conf.d/makefile.toml
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/vars/docker-compose.yaml
  docker-compose.test.yml
Labels: Ready to Merge, area/config, improvement

#3342 Add comment in test regarding issue #3341
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing

#3317 Teach lockkeeper to add latency between FL and switches
  docker/base/kilda-base-ubuntu/Dockerfile
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperVirtualImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/model/FloodlightResourceAddress.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/model/TrafficControlData.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/model/TrafficControlRequest.java
  src-python/lab-service/lab/service/lockkeeper.py
  src-python/lock-keeper/lockkeeper.py
Labels: Ready to Merge, area/testing

#3333 GRPC speaker messaging refactor
  docs/design/grpc-client/grpc-client.png
  docs/design/grpc-client/grpc-client.puml
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageProducerConfig.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/KafkaMessageListener.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/KafkaMessageProducer.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/MessageProcessor.java
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
Labels: C/GRPC, Ready to Merge, improvement

#3334 Added PacketInOutStats to stats Topology
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/grpc-speaker/grpc-api/build.gradle
  src-java/grpc-speaker/grpc-api/src/main/java/org/openkilda/messaging/command/grpc/GetPacketInOutStatsRequest.java
  src-java/grpc-speaker/grpc-api/src/main/java/org/openkilda/messaging/info/grpc/GetPacketInOutStatsResponse.java
  src-java/grpc-speaker/grpc-api/src/main/java/org/openkilda/messaging/model/grpc/PacketInOutStatsDto.java
  src-java/grpc-speaker/grpc-api/src/test/java/org/openkilda/messaging/info/grpc/ResponseSerialisationTest.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/mapper/NoviflowResponseMapper.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/MessageProcessor.java
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsComponentType.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsStreamType.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopologyConfig.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/SpeakerBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/PacketInOutMetricGenBolt.java
Labels: C/GRPC, C/STATS, Ready to Merge, feature

#3352 Added extra checks for the null values in SimpleConversionCallback
  src-java/kilda-persistence-neo4j/src/main/java/org/openkilda/persistence/SimpleConversionCallback.java
Labels: On Review, area/persistence, improvement
