Repository telstra/open-kilda, pull requests merged in 2021-10, with the labels that each got.

#4497 Fix instabilities in some s42 tests
  confd/vars/main.yaml
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
Labels: area/testing, Ready to Merge

#4495 fix checkHistory in AutoRerouteIsolatedSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4482 Test/max latency issue
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: area/testing, Next Release, improvement

#4498 Strategy selector for available paths
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/NetworkController.java
  src-gui/src/main/java/org/openkilda/integration/service/NetworkIntegrationService.java
  src-gui/src/main/java/org/openkilda/service/NetworkService.java
  src-gui/ui/src/app/common/services/switch.service.ts
  src-gui/ui/src/app/modules/networkpath/networkpath.component.html
  src-gui/ui/src/app/modules/networkpath/networkpath.component.ts
Labels: area/gui, Ready to Merge, C/GUI, improvement

#4440 Remove one switch flows from flow monitoring
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowDeleteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowMonitorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowGenericCarrier.java
  src-java/flowmonitoring-topology/flowmonitoring-messaging/src/main/java/org/openkilda/messaging/info/flow/RemoveFlowCommand.java
  src-java/flowmonitoring-topology/flowmonitoring-messaging/src/main/java/org/openkilda/messaging/info/flow/UpdateFlowCommand.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/ActionBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowSplitterBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowStateCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/mapper/FlowMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowStateCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionServiceTest.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheServiceTest.java
Labels: Ready to Merge, C/FLOW-HS, bugfix, C/FLOW-MONITOR

#4455 Fix updating last-updated flow property when updating path latencies
  docker/db-migration/migrations/015-add-flow-stats-class.yaml
  docker/db-migration/migrations/root.yaml
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowStats.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowStatsRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryAreaBinding.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactory.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactoryProxy.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/HibernateRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowStatsFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowStatsRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryFlowStatsRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryRepositoryFactory.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
Labels: Ready to Merge, C/NBWORKER, DB Migration, bugfix, C/ORIENTDB, C/FLOW-MONITOR

#4489 Fix persistence layer configuration
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/kilda-persistence-hibernate/build.gradle
Labels: Ready to Merge, bugfix

#4494 tests: Properly wait for result when sending to kafka
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/thread/PortBlinker.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV1Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormHeavyLoadSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/SimulateStatsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: area/testing, Ready to Merge

#4503 Added default values for test props
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/functional-tests/kilda.properties.tmpl
Labels: area/testing, area/config, Ready to Merge

#4513 Fix flow monitoring issues
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowSplitterBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
Labels: Ready to Merge, bugfix, C/FLOW-MONITOR

#4509 fix test config for hardware env
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/atdd-staging/log4j2.xml.tmpl
  confd/templates/functional-tests/kilda.properties.tmpl
  confd/templates/functional-tests/log4j2.xml.tmpl
Labels: area/config, On Review, improvement

#4319 Set NB worker topology parallelism to 2
  confd/templates/nbworker-topology/nbworker-topology.tmpl
Labels: C/NBWORKER, improvement
