Repository telstra/open-kilda, pull requests merged in 2021-06, with the labels that each got.

#4271 Use right encapsulation type during reroute if encapsulation was changed
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/InstallNonIngressRulesAction.java
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested

#4278 Rework flow rtt metric tags
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/IslCacheBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowRttMetricGenBolt.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: C/FLOW-MONITOR, C/STATS, Ready to Merge, improvement, tested

#4253 Remove network reduction in PCE
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
Labels: C/FLOW-HS, Ready to Merge, area/pce, improvement, tested

#4260 Improved logs for switch validation
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
Labels: C/SWMANAGER, Ready to Merge, improvement

#4269 Extend traffgen api to return address stats
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/AddressStats.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/TraffgenStats.java
  src-python/lab-service/traffexam/kilda/traffexam/__init__.py
  src-python/lab-service/traffexam/kilda/traffexam/action.py
  src-python/lab-service/traffexam/kilda/traffexam/rest.py
Labels: Ready to Merge, area/testing

#4273 Fixed incorrect server42 rules count in SwitchActivationSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4274 fix "cleanup" in retries/swPortConfig specs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4276 Replace EMPTY fields with getEmpty() methods
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/SwitchFlowTuple.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/BfdCatchFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/DropFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/DropLoopFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/RoundTripLatencyFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/UnicastVerificationVxlanRuleGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/lldp/LldpFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42InputFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42TurningFlowGenerator.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/bfd/BfdLogicalPortFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkBfdLogicalPortService.java
Labels: C/FL, Ready to Merge, bugfix

#4277 Update boost library url
  src-cpp/server42/external/upstream/boost/CMakeLists.txt
Labels: C/SERVER42, Ready to Merge, area/server42, bugfix

#4252 Reinstall meter with incorrect burst size
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
Labels: C/FL, Ready to Merge, bugfix, tested

#4234 Test/flow monitoring stats
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4286 improve FlowStatSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4294 Fix flow latency properties migration
  docker/db-migration/migrations/005-add-flow-latency-properties.yaml
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
Labels: DB Migration, On Review, bugfix

#4199 Add tests for #3923
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/FloodlightKafkaConnectionSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormLcmSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: Next Release, Ready to Merge, area/testing

#4225 Unignore tests due to #2585 reason. Add comments about issue #4224
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/EnduranceSpec.groovy
Labels: Next Release, Ready to Merge, area/testing

#4258 Test/fix meter burst size
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperVirtualImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/model/MeterModify.java
  src-python/lab-service/lab/service/lockkeeper.py
  src-python/lab-service/lab/service/topology.py
Labels: Next Release, Ready to Merge, area/testing, improvement

#4268 add test for #4267
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
Labels: Next Release, Ready to Merge, area/testing, improvement

#4279 Update eth src/dst for looped VXLAN packets
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/TransitFlowLoopSegmentInstallRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/TransitFlowLoopSegmentRemoveRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/TransitFlowLoopSegmentRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/TransitFlowLoopSegmentVerifyRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/factory/TransitFlowLoopSegmentRequestFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentRemoveCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/transit/TransitFlowLoopSegmentVerifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
Labels: C/FLOW-HS, Next Release, Ready to Merge, bugfix, tested

#4284 Update flow-monitoring documentation
  docs/design/flow-monitoring/README.md
  docs/design/flow-monitoring/flow-monitoring-topology.png
  docs/design/flow-monitoring/flow-monitoring-topology.puml
  docs/design/flow-monitoring/isl-cache-update.png
  docs/design/flow-monitoring/isl-cache-update.puml
Labels: Next Release, Ready to Merge, area/docs, improvement

#4287 Added/updated requirements for lab service and traff exam
  src-python/lab-service/lab/requirements.txt
  src-python/lab-service/traffexam/requirements.txt
Labels: Next Release, Ready to Merge, area/testing, bugfix

#4291 Ignore func test according to #4290
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
Labels: Next Release, Ready to Merge, area/testing

#4299 Fixed typo in missing meters log
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
Labels: C/SWMANAGER, Next Release, Ready to Merge, bugfix

#4300 Use Kilda OVS
  docker/base/kilda-base-lab-service/Dockerfile
Labels: Next Release, Ready to Merge, area/testing, feature

#4306 Set UDP src for VXLAN Server42 packets
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVxlanFlowGenerator.java
Labels: C/FL, On Review, feature

#4293 Move flow transit encapsulation actions to group bucket
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/switches/GroupInfoEntry.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRule.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverter.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverterTest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/InstallGroupRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/ModifyGroupRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/FlowSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowLoopCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowLoopFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/OneSwitchFlowInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/AbstractGroupInstall.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/GroupInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/GroupInstallDryRunCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/GroupModifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/GroupVerifyCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/model/FlowTransitData.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/utils/OfAdapter.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/GroupInfoDto.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/GroupInstallContext.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/CommandBuilder.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/FL, Next Release, area/flow_traffic_mirroring, improvement

#4295 Add validation for conflict between connected devices and flow mirror point
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
Labels: C/FLOW-HS, Next Release, area/flow_traffic_mirroring, bugfix, tested

#4304 Add validation for conflict between server 42 and flow mirror point
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMirrorPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPathRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
Labels: C/FLOW-HS, C/NBWORKER, Next Release, area/flow_traffic_mirroring, bugfix

#4321 Replace sun.misc.BASE64* with java.util.Base64
  src-gui/src/main/java/org/openkilda/security/RsaEncryptionDescription.java
Labels: C/GUI, Ready to Merge, area/gui, improvement

#4281 Sync transit rules via SpeackerCommand
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/NotIngressFlowSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerOF12Test.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
Labels: C/FL, C/FLOW-HS, Next Release, bugfix, tested

#4296 Add feature toggle for flow SLA monitoring reactions
  docker/db-migration/migrations/006-add-flow-latency-monitoring-reactions-toggle.yaml
  docker/db-migration/migrations/root.yaml
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/system/FeatureTogglesDto.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/fsm/FlowLatencyMonitoringFsm.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FeatureToggles.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FeatureTogglesFrame.java
Labels: C/FLOW-MONITOR, DB Migration, Next Release, improvement

#4312 Add set_udp_src_port into action list for server42 output action
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42OutputVxlanFlowGenerator.java
Labels: C/FL, Next Release, bugfix, tested

#4302 Put correct field name for message payload
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/ActionBolt.java
Labels: C/FLOW-MONITOR, Next Release, bugfix

#4264 Implement ISL RTT support in Server42
  src-cpp/server42/src/Config.h
  src-cpp/server42/src/Control.cpp
  src-cpp/server42/src/DumpStats.cpp
  src-cpp/server42/src/FlowMetadata.h
  src-cpp/server42/src/FlowPool.h
  src-cpp/server42/src/FlowPoolTest.cpp
  src-cpp/server42/src/IslId.h
  src-cpp/server42/src/IslMetadata.h
  src-cpp/server42/src/PacketGenerator.cpp
  src-cpp/server42/src/PacketGenerator.h
  src-cpp/server42/src/PacketPool.h
  src-cpp/server42/src/Payload.h
  src-cpp/server42/src/SharedContext.h
  src-cpp/server42/src/Workers.cpp
  src-cpp/server42/src/Workers.h
  src-cpp/server42/src/server42.cpp
Labels: C/SERVER42, Next Release, area/server42, feature

#4309 - adding feature to export switch list to csv format
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
Labels: C/GUI, Next Release, area/gui, feature

#4333 Upgrade gradle to 6.9 and test-logger plugin to 3.0.0
  src-java/gradle/wrapper/gradle-wrapper.properties
  src-java/testing/functional-tests/build.gradle
Labels: Ready to Merge, area/testing

#4325 add test for #4316
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4323 Fix reroute flows on ISL
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueService.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowV2Spec.groovy
Labels: C/REROUTE, Ready to Merge, bugfix

#4317 Fixed remove of VXLAN excess rules
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/rule/FlowMatchField.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesCriteria.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImplTest.java
Labels: C/FL, C/SWMANAGER, Ready to Merge, bugfix

#4307 Refactor how healthchecks are performed in func tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/ExtensionHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/FeatureOrderExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/SetupOnceExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/healthcheck/HealthCheck.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/healthcheck/HealthCheckExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/spring/PrepareSpringContextDummy.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/tags/TagExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  src-java/testing/functional-tests/src/test/resources/test_case_template.md
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
  src-java/testing/performance-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: Ready to Merge, area/testing

#4298 unignore vxlan+flowLoop test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4270 extend MaxLatencySpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4262 add tests for #3841, #3858
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4137 unignore vxlan spec according to obsolete issues (#2995,#2996,#3021)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4331 Add a strict bandwidth flag to flow
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowPatch.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowPatchV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowRequestV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
Labels: C/FLOW-HS, C/NB, C/NBWORKER, Ready to Merge, feature

#4328 refactor/extend tests for islRttSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
Labels: Ready to Merge, area/testing, feature

#4330 adjust swapEnpointSpec to a new validation(s42Port)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, area/testing, improvement
