Repository telstra/open-kilda, pull requests merged in 2021-08, with the labels that each got.

#4311 Toolset to migrate histrory data between OrientDB and MySQL
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/vars/main.yaml
  docker/base/hacks/storm.requirements.download.sh
  docker/db-migration/migrations/010-enforce-definite-types-on-history-objects.yaml
  docker/db-migration/migrations/root.yaml
  docker/mysql/setup_data/initial-schema.sql
  tools/history-migration/.gitignore
  tools/history-migration/Dockerfile.devel
  tools/history-migration/Dockerfile.prod
  tools/history-migration/Makefile
  tools/history-migration/README.md
  tools/history-migration/build-tools/devel-entry-point.sh
  tools/history-migration/build-tools/make_wheel.sh
  tools/history-migration/build-tools/setup-devel-user.sh
  tools/history-migration/build/devel.cid
  tools/history-migration/build/devel.iid
  tools/history-migration/requirements-dev.txt
  tools/history-migration/requirements.txt
  tools/history-migration/run_devel.sh
  tools/history-migration/setup.py
  tools/history-migration/src/kilda/__init__.py
  tools/history-migration/src/kilda/history_migration/APP_META.json
  tools/history-migration/src/kilda/history_migration/__init__.py
  tools/history-migration/src/kilda/history_migration/cli.py
  tools/history-migration/src/kilda/history_migration/mapper.py
  tools/history-migration/src/kilda/history_migration/model.py
  tools/history-migration/src/kilda/history_migration/orphaned.py
  tools/history-migration/src/kilda/history_migration/pull.py
  tools/history-migration/src/kilda/history_migration/pull_mysql.py
  tools/history-migration/src/kilda/history_migration/pull_orient.py
  tools/history-migration/src/kilda/history_migration/push.py
  tools/history-migration/src/kilda/history_migration/tools.py
Labels: DB Migration, Ready to Merge, improvement

#4399 Fix flow monitoring parallelism issue
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/ActionBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowStateCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/IslCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/FlowLatencyRequest.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/CalculateFlowLatencyService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowStateCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/IslCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheServiceTest.java
Labels: C/FLOW-MONITOR, Ready to Merge, improvement

#4408 Forbid QinQ flows for WB-series switches
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4397 Added LAG DB objects
  docker/db-migration/migrations/011-add-lag-classes.yaml
  docker/db-migration/migrations/root.yaml
  src-java/kilda-model/src/main/java/org/openkilda/model/LagLogicalPort.java
  src-java/kilda-model/src/main/java/org/openkilda/model/PhysicalPort.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/LagLogicalPortRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/PhysicalPortRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactory.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/HibernateRepositoryFactory.java
  src-java/kilda-persistence-mixture/src/main/java/org/openkilda/persistence/mixture/sql/history/SqlHistoryRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/LagLogicalPortFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/PhysicalPortFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaLagLogicalPortRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaPhysicalPortRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaLagLogicalPortTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaPhysicalPortTest.java
Labels: feature, Next Release, DB Migration, C/ORIENTDB

#4415 Added missed Logical port type in GRPC stub
  src-python/grpc-stub/server.py
Labels: Next Release, C/GRPC, bugfix

#4419 Changed log level of "drop async response" message
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/hubandspoke/WorkerBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/SpeakerWorkerBolt.java
Labels: C/FLOW, Next Release, C/NETWORK, improvement, C/FLOW-HS

#4371 Add design for port LAGs
  docs/design/LAG-for-ports/README.md
  docs/design/LAG-for-ports/domain-model.png
  docs/design/LAG-for-ports/domain-model.puml
Labels: area/docs, feature, Next Release

#4402 Fix missing ISL RTT rules after InstallDefaults operation
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/RecordHandlerTest.java
Labels: C/FL, Next Release, bugfix

#4410 ignore test: qinq + swapEndpoint
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: area/testing, Next Release, improvement

#4413 fix test mirror+connectedDevice in singleTable
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
Labels: area/testing, Next Release, improvement

#4420 add test for #4411
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: area/testing, Next Release, improvement

#4428 Make logstash index configurable
  confd/templates/logstash/logstash.conf.tmpl
  confd/vars/main.yaml
Labels: Next Release, On Review, improvement

#4406 Update some tests to iterate over all switch models
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPair.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
Labels: area/testing, Next Release

#4432 Fix index pattern
  confd/templates/logstash/logstash.conf.tmpl
  confd/vars/main.yaml
Labels: Next Release, bugfix

#4447 Fix uninitialized persistence in FlowCacheBolt (Stats topology)
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/FlowCacheBolt.java
Labels: C/STATS, On Review, bugfix

#4442 Fix IterationTags issue
  .env.example
  confd/templates/docker-compose/docker-compose.tmpl
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/SkippedTestsLogger.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/failfast/FailFastExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/SetupOnce.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/SetupOnceExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/tags/TagExtension.groovy
  src-java/testing/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  src-java/testing/performance-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: area/testing, Ready to Merge

#4441 add missed "assumeTrue(useMultitable)" in FlowHistorySpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4438 Remove flow monitoring extra logging
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/FlowLatencyRequest.java
Labels: Ready to Merge, bugfix, C/FLOW-MONITOR

#4433 refactor s42Spec according to #4381
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4426 Bulk dump of switch properties
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwitchPropertiesDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/SwitchPropertiesMapper.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetAllSwitchPropertiesRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchPropertiesDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/SwitchPropertiesDump.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/SwitchService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
Labels: feature, Ready to Merge, C/NB, C/NBWORKER

#4412 refactor qinq/s42 specs according to #4408
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4439 Add affinity flow spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowAffinitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
Labels: area/testing

#4425 Improve mysql init script compatibility
  docker/mysql/setup_data/initial-schema.sql
Labels: Ready to Merge, improvement

#4446 Remove switch ids from test names, use hwSwString instead
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcCommonSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/OpenTsdbSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPortConfigSpec.groovy
Labels: area/testing, Ready to Merge

#4445 Fix history calculation and cleanup in AutoRerouteSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
Labels: area/testing, Ready to Merge

#4401 Add flow affinity groups
  docker/db-migration/migrations/012-add-diverse-and-affinity-group-id-to-flow-class.yaml
  docker/db-migration/migrations/root.yaml
  docs/design/solutions/pce-affinity-flows/pce-affinity-flows-create.png
  docs/design/solutions/pce-affinity-flows/pce-affinity-flows-create.puml
  docs/design/solutions/pce-affinity-flows/pce-affinity-flows.md
  docs/design/solutions/pce-affinity-flows/use-case-1.png
  docs/design/solutions/pce-affinity-flows/use-case-2.png
  docs/design/solutions/pce-affinity-flows/use-case-3.png
  docs/design/solutions/pce-diverse-flows/pce-diverse-flows.md
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowPatch.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowDumpPayload.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/model/FlowDumpData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/FlowMapperTest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapperTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowEventDump.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputerConfig.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/Edge.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/Node.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostAndBandwidthPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/LatencyPathComputationStrategyBaseTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowPathRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/entities/history/HibernateFlowEventDump.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbFlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowEventDumpFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/RequestedFlowMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowPatchV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowRequestV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowAffinitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
Labels: area/pce, feature, C/NB, C/NBWORKER, On Review, C/REROUTE, DB Migration, C/FLOW-HS, C/ORIENTDB

#4435 refactor grpc spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-python/grpc-stub/server.py
Labels: area/testing, Ready to Merge, improvement

#4434 Fix TypeError in get_issues_from_pr in changelog-generator.py
  tools/changelog-generator/changelog-generator.py
Labels: area/ops, On Review, bugfix

#4457 Tests: verify virtual topology deployment one by one
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: area/testing, Ready to Merge

#4417 LAG: Added LAG creation
  docs/design/hub-and-spoke/lag/create/create-lag-port-fsm.png
  docs/design/hub-and-spoke/lag/create/create-lag-port-fsm.puml
  docs/design/hub-and-spoke/lag/create/create-lag-port.md
  docs/design/hub-and-spoke/lag/create/h&s-create-lag-port.png
  docs/design/hub-and-spoke/lag/create/h&s-create-lag-port.puml
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/create/actions/ValidateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/kilda-model/src/main/java/org/openkilda/model/LagLogicalPort.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaLagLogicalPortTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaPhysicalPortTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/CreateLagPortDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/LagPortDto.java
  src-java/northbound-service/northbound/build.gradle
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/LagPortMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/SwitchService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/SwitchServiceTest.java
  src-java/settings.gradle
  src-java/swmanager-topology/swmanager-messaging/build.gradle
  src-java/swmanager-topology/swmanager-messaging/src/checkstyle/checkstyle-suppressions.xml
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/request/CreateLagPortRequest.java
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/response/LagPortResponse.java
  src-java/swmanager-topology/swmanager-messaging/src/test/java/org/openkilda/messaging/swmanager/request/CreateLagPortRequestTest.java
  src-java/swmanager-topology/swmanager-messaging/src/test/java/org/openkilda/messaging/swmanager/response/LagPortResponseTest.java
  src-java/swmanager-topology/swmanager-storm-topology/build.gradle
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/StreamType.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopologyConfig.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SpeakerWorkerBolt.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/InconsistentDataException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/InvalidDataException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/OperationTimeoutException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/CreateLagPortFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/CreateLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/LagPortOperationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SpeakerCommandCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/LagPortOperationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SpeakerWorkerService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/fsmhandlers/CreateLagPortServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/fsmhandlers/SwitchValidateServiceImplTest.java
Labels: feature, Ready to Merge, C/SWMANAGER, C/NETWORK

#4422 LAG: Added delete API
  docs/design/hub-and-spoke/lag/delete/delete-lag-port-fsm.png
  docs/design/hub-and-spoke/lag/delete/delete-lag-port-fsm.puml
  docs/design/hub-and-spoke/lag/delete/delete-lag-port.md
  docs/design/hub-and-spoke/lag/delete/h&s-delete-lag-port.png
  docs/design/hub-and-spoke/lag/delete/h&s-delete-lag-port.puml
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/SwitchService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/request/DeleteLagPortRequest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/error/LagPortNotFoundException.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/DeleteLagPortFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/DeleteLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/LagPortOperationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/LagPortOperationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/fsmhandlers/DeleteLagPortServiceImpl.java
Labels: feature, Ready to Merge, C/SWMANAGER

#4450 Test/dump sw props
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: area/testing, Ready to Merge, improvement

#4451 Make traffgen display tracebacks on 500 errors
  src-python/lab-service/traffexam/kilda/traffexam/rest.py
Labels: area/testing, Ready to Merge

#4458 fix(LogicalPortSpec) after rebase
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: area/testing, improvement
