Repository telstra/open-kilda, pull requests merged in 2021-02, with the labels that each got.

#4024 improve "cleanup" in MflStatSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/MflStatSpec.groovy
Labels: area/testing, improvement

#4026 fix cleanup in RetriesSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
Labels: On Review, area/testing, improvement

#4027 check linkProps in CleanupVerifierExtension
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
Labels: On Review, area/testing, improvement

#4028 [Snyk] Security upgrade jinja2 from 2.10.1 to 2.11.3
  tools/changelog-generator/requirements.txt
Labels: Next Release, improvement

#4023 Increase storm slots for storm workers from 30 to 50
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/storm/storm.yaml.tmpl
Labels: Next Release, area/storm, area/zero_downtime, improvement

#3983 Fix zookeeper spout initialization steps
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
Labels: Next Release, area/zero_downtime, feature

#3981 Added missed server42 ZK nodes
  confd/vars/main.yaml
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Next Release, area/server42, area/zero_downtime, feature

#3982 Added Versioning for server42 storm stub
  confd/templates/server42/server42-control-storm-stub.application.properties.tmpl
  confd/vars/main.yaml
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Next Release, area/server42, area/zero_downtime, feature

#3971 Improvement of zero downtime doc
  docs/design/zero-downtime/README.md
Labels: Next Release, area/docs, area/zero_downtime, improvement

#3975 Prevention of decreasing the zk status below zero.
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkStateTracker.java
Labels: Next Release, area/zero_downtime, bugfix

#3970 Add design for flow SLA monitoring
  docs/design/flow-monitoring/README.md
  docs/design/flow-monitoring/flow-cache-update.png
  docs/design/flow-monitoring/flow-cache-update.puml
  docs/design/flow-monitoring/flow-monitoring.png
  docs/design/flow-monitoring/flow-monitoring.puml
  docs/design/flow-monitoring/isl-cache-update.png
  docs/design/flow-monitoring/isl-cache-update.puml
  docs/design/hub-and-spoke/crud/create/flow-create-fsm.dot
  docs/design/hub-and-spoke/crud/create/flow-create-fsm.png
  docs/design/hub-and-spoke/crud/delete/flow-delete-fsm.dot
  docs/design/hub-and-spoke/crud/delete/flow-delete-fsm.png
  docs/design/hub-and-spoke/crud/pathswap/FlowPathSwap.dot
  docs/design/hub-and-spoke/crud/pathswap/FlowPathSwap.png
  docs/design/hub-and-spoke/crud/update/flow-update-fsm.png
  docs/design/hub-and-spoke/crud/update/flow-update-fsm.puml
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.dot
  docs/design/hub-and-spoke/reroute/flow-reroute-fsm.png
Labels: Next Release, area/docs

#3931 NB and GRPC zero downtime upgrade
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/KafkaGrpcSpeakerConfig.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageConsumerConfig.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageProducerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/KafkaNorthboundConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageConsumerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageProducerConfig.java
Labels: C/GRPC, C/NB, Next Release, area/zero_downtime, feature

#3992 Enable checkstyle run before unit tests in make unit
  .github/workflows/unittest.yml
  confd/templates/makefile/makefile.tmpl
Labels: Next Release, improvement

#4013 Remove SimulatorTopology
  docs/design/kafka.md
  src-java/base-topology/base-storm-topology/src/checkstyle/checkstyle-suppressions.xml
  src-java/base-topology/base-storm-topology/src/release/resources/log4j2.xml
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  src-java/settings.gradle
  src-java/simulator-topology/README.md
  src-java/simulator-topology/simulator-storm-topology/build.gradle
  src-java/simulator-topology/simulator-storm-topology/src/checkstyle/checkstyle-suppressions.xml
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/SimulatorTopology.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/SimulatorTopologyConfig.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/bolts/CommandBolt.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/bolts/SimulatorCommandBolt.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/bolts/SpeakerBolt.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/Commands.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/IPortImpl.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/ISwitchImpl.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/PortStateType.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/SimulatorCommands.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/SimulatorException.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/SwitchState.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/classes/SwitchStateType.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/interfaces/IFlow.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/interfaces/IPort.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/interfaces/ISwitch.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/LinkMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/SwitchMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/SimulatorMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/AddLinkCommandMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/AddSwitchCommand.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/PortModMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/SimulatorCommandMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/SwitchModMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/main/java/org/openkilda/simulator/messages/simulator/command/TopologyMessage.java
  src-java/simulator-topology/simulator-storm-topology/src/test/java/org/openkilda/simulator/bolts/SimulatorCommandBoltTest.java
  src-java/simulator-topology/simulator-storm-topology/src/test/java/org/openkilda/simulator/bolts/SpeakerBoltTest.java
  src-java/simulator-topology/simulator-storm-topology/src/test/java/org/openkilda/simulator/classes/IPortImplTest.java
  src-java/simulator-topology/simulator-storm-topology/src/test/java/org/openkilda/simulator/classes/ISwitchImplTest.java
Labels: Next Release, improvement

#3980 Update readmes with more relevant information
  README.md
  src-java/testing/functional-tests/README.md
Labels: Next Release, area/docs, area/testing

#3987 Fix second create flow loop request removes loop rules
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
Labels: C/FLOW-HS, Next Release, bugfix, tested

#3938 Fix history writing for a reroute operation.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
Labels: C/FLOW-HS, Next Release, bugfix, tested

#3867 tests for rtl ISL and portDiscovery
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
Labels: Next Release, area/testing, improvement

#3927 Adding feature to ping flows from switch detail
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/components/flow-ping-modal/flow-ping-modal.component.css
  src-gui/ui/src/app/common/components/flow-ping-modal/flow-ping-modal.component.html
  src-gui/ui/src/app/common/components/flow-ping-modal/flow-ping-modal.component.spec.ts
  src-gui/ui/src/app/common/components/flow-ping-modal/flow-ping-modal.component.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.html
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.ts
  src-gui/ui/src/styles.css
Labels: C/GUI, Next Release, area/gui, feature

#3967 Adding bfd session status in isl detail
  src-gui/src/main/java/org/openkilda/integration/converter/IslLinkConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/response/IslLink.java
  src-gui/src/main/java/org/openkilda/model/IslLinkInfo.java
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
Labels: C/GUI, Next Release, area/gui, improvement

#3880 Connected devices zero-downtime
  confd/templates/connecteddevices-topology/connecteddevices-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/connecteddevices-topology/connecteddevices-storm-topology/build.gradle
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/ConnectedDevicesTopology.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/bolts/PacketBolt.java
Labels: C/CONNECTED, Next Release, area/zero_downtime, feature

#3994 Make log4j config for tests omit persistence logs
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/resources/log4j2.xml
Labels: Next Release, area/testing

#4030 Added missed zkNodes for NB, GRPC, server42
  docker/zookeeper/bin/create-zknode-and-start.sh
Labels: Next Release, area/zero_downtime, feature

#3864 FL 0-Downtime PoC
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannelConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KildaCore.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollector.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/discovery/NetworkDiscoveryEmitter.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/pathverification/PathVerificationService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/connected/ConnectedDevicesService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/IKafkaProducerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperEventObserver.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchTrackingService.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/discovery/NetworkDiscoveryEmitterTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/pathverification/PathVerificationPacketSignTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/kafka/KafkaProducerServiceTest.java
Labels: C/FL, Ready to Merge, area/zero_downtime, feature

#4017 Read signal for FL and ZKSpout
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
Labels: Ready to Merge, area/zero_downtime, improvement

#3965 add healthCheck to GrpcBaseSpecification
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/GrpcBaseSpecification.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/grpc/GrpcService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/grpc/GrpcServiceImpl.java
Labels: Next Release, area/testing, feature

#3999 add test for partialUpdate + singleSwFlow
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Next Release, area/testing, improvement

#4031 Improve some waits in func tests
  confd/templates/atdd-staging/log4j2.xml.tmpl
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: area/testing

#3944 Zero downtime logs for NB and GRPC
  confd/templates/grpc-service/log4j2.xml.tmpl
  confd/templates/northbound/log4j2.xml.tmpl
  src-java/build.gradle
  tools/elk-dashboards/index_pattern.json
Labels: C/GRPC, C/NB, Next Release, area/zero_downtime, feature

#3862 Zero downtime floodlight router
  confd/templates/floodlightrouter-topology/floodlightrouter-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/build.gradle
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/ComponentType.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/ControllerToSpeakerProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/RegionTrackerBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerToControllerProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SwitchMonitorBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/bolts/ControllerToSpeakerProxyBoltTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerToNetworkProxyBoltTest.java
Labels: C/ROUTER, Next Release, area/zero_downtime, feature

#3861 Zero downtime nb worker
  confd/templates/nbworker-topology/nbworker-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/nbworker-topology/nbworker-storm-topology/build.gradle
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowHubCarrier.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowMeterModifyHubBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowValidationHubBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/RouterBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowMeterModifyHubService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowValidationHubService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowValidationHubServiceTest.java
Labels: C/NBWORKER, Next Release, area/zero_downtime, feature

#3879 Zero downtime Switch Manager
  confd/templates/swmanager-topology/swmanager-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/swmanager-topology/swmanager-storm-topology/build.gradle
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchRuleServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchValidateServiceImpl.java
Labels: C/SWMANAGER, Next Release, area/zero_downtime, feature

#3886 Zero downtime reroute
  confd/templates/reroute-topology/reroute-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/reroute-topology/reroute-storm-topology/build.gradle
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/RerouteTopology.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/OperationQueueBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/OperationQueueCarrier.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/RerouteBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/OperationQueueService.java
Labels: C/REROUTE, Next Release, area/zero_downtime, feature

#3959 Zero Downtime server42 control topology
  confd/templates/server42/server42-control-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/ControlTopology.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/storm/bolt/router/Router.java
Labels: Next Release, area/server42, area/zero_downtime, feature

#4037 Removed typo grouping from flr zero-downtime
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
Labels: C/ROUTER, Next Release, area/zero_downtime, bugfix

#3932 OpenTSDB topology zero-downtime upgrade
  confd/templates/opentsdb-topology/opentsdb-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/LifecycleEvent.java
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/DatapointParseBolt.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
Labels: C/OTSDB, Next Release, area/zero_downtime, feature

#4035 Added logs to track ZK state
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkStateTracker.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
Labels: Next Release, area/zero_downtime, improvement

#3930 IslLatency topology zero-downtime upgrade
  confd/templates/isllatency-topology/isllatency-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/isllatency-topology/isllatency-storm-topology/build.gradle
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopology.java
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/bolts/IslStatusUpdateBolt.java
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/bolts/RouterBolt.java
  src-java/isllatency-topology/isllatency-storm-topology/src/test/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: C/ISLLATENCY, Next Release, area/zero_downtime, feature

#3914 Ping zero-downtime upgrade
  confd/templates/ping-topology/ping-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/ping-topology/ping-storm-topology/build.gradle
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/Abstract.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/InputRouter.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/TickDeduplicator.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/TimeoutManager.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/ExpirableMap.java
Labels: C/PING, Next Release, area/zero_downtime, feature

#3922 Port state zero-downtime upgrade
  confd/templates/portstate-topology/portstate-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/bolt/KafkaEncoder.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/utils/AbstractKafkaParserBolt.java
  src-java/portstate-topology/portstate-storm-topology/build.gradle
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopology.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/bolt/CacheBolt.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/bolt/RequestSpeakerBolt.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/bolt/TopoDiscoParseBolt.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/bolt/WfmStatsParseBolt.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/spout/SwitchPortsSpout.java
Labels: C/PORTSTATE, Next Release, area/zero_downtime, feature

#4006 add test for RTL a-switcl link + antiflap
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
Labels: Next Release, area/testing, improvement

#4001 improve "cleanup" in roundTripLatencySpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
Labels: Next Release, area/testing, improvement

#3557 Continuous ISL replug unit test
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: Next Release, area/testing

#3863 Network 0-Downtime PoC
  confd/templates/network-topology/network-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkAntiFlapService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkDecisionMakerService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkRoundTripDecisionMakerService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkWatchListService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkWatcherService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/DecisionMakerHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/history/NetworkHistoryHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/PortHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerRouter.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watcher/WatcherHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watchlist/WatchListHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkRoundTripDecisionMakerServiceTest.java
Labels: C/NETWORK, Next Release, area/zero_downtime, feature

#3905 Stats topology zero-downtime upgrade
  confd/templates/stats-topology/stats-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/SpeakerBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/SpeakerRequestDecoderBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowRttMetricGenBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/MetricGenBolt.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/bolts/StatsRequesterBoltTest.java
Labels: C/STATS, Next Release, area/zero_downtime, feature

#3888 Zero Downtime for Flow HS
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/flowhs-topology/flowhs-storm-topology/build.gradle
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowDeleteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowSwapEndpointsHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/RouterBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowDeleteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowGenericCarrier.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowSwapEndpointsHubService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateService.java
Labels: C/FLOW-HS, Next Release, area/zero_downtime, feature

#4048 Rely on port history when manipulating ports to workaround antiflap
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PortAntiflapHelper.groovy
Labels: Ready to Merge, area/testing

#4044 ignore test acording to 4043
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4039 Improve some protected path tests with additional verifications
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: Ready to Merge, area/testing

#4036 Run cleanup verifier after testFixture cleanup instead of before
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
Labels: Ready to Merge, area/testing

#4032 minor improvements in ConfigurationSpec and FlowLoopSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4016 Update console output format for func tests
  confd/templates/makefile/makefile.tmpl
  src-java/testing/functional-tests/build.gradle
Labels: Ready to Merge, area/testing

#4018 Zero Downtime cleanup Part 1: Removed common vars and deprecated methods
  docker/zookeeper/bin/create-zknode-and-start.sh
  docs/design/zero-downtime/README.md
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/Utils.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/kafka/KafkaConfig.java
Labels: Ready to Merge, area/zero_downtime, improvement

#4022 Zero Downtime cleanup Part 2: remove component name and runid
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/ConnectedDevicesTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopology.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopology.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/RerouteTopology.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/ControlTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
Labels: Ready to Merge, area/zero_downtime, feature

#4051 Ignore protected path test due to #4034
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: Ready to Merge, area/testing

#4047 Added missed lifeCycleEventComponent into update hub config
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
Labels: Ready to Merge, area/zero_downtime, bugfix

#3997 Improvement/flow search and user activity
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/service/FlowService.java
  src-gui/ui/src/app/modules/flows/flow-search/flow-search.component.ts
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.css
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.html
  src-gui/ui/src/app/modules/useractivity/useractivity-list/useractivity-list.component.ts
  src-gui/ui/src/app/modules/useractivity/useractivity.component.ts
Labels: C/GUI, Ready to Merge, area/gui, improvement

#4011 Update lombok, gradle and plugins versions to improve build time
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/blue-green/build.gradle
  src-java/build.gradle
  src-java/connecteddevices-topology/connecteddevices-storm-topology/build.gradle
  src-java/floodlight-service/floodlight-api/build.gradle
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/build.gradle
  src-java/flowhs-topology/flowhs-messaging/build.gradle
  src-java/flowhs-topology/flowhs-storm-topology/build.gradle
  src-java/gradle/wrapper/gradle-wrapper.jar
  src-java/gradle/wrapper/gradle-wrapper.properties
  src-java/gradlew
  src-java/gradlew.bat
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/isllatency-topology/isllatency-storm-topology/build.gradle
  src-java/kilda-model/build.gradle
  src-java/kilda-pce/build.gradle
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
  src-java/kilda-persistence-api/build.gradle
  src-java/kilda-persistence-tinkerpop/build.gradle
  src-java/nbworker-topology/nbworker-storm-topology/build.gradle
  src-java/network-topology/network-messaging/build.gradle
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/northbound-service/northbound-api/build.gradle
  src-java/northbound-service/northbound/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/ping-topology/ping-messaging/build.gradle
  src-java/ping-topology/ping-storm-topology/build.gradle
  src-java/portstate-topology/portstate-storm-topology/build.gradle
  src-java/reroute-topology/reroute-messaging/build.gradle
  src-java/reroute-topology/reroute-storm-topology/build.gradle
  src-java/server42/server42-control-server-stub/build.gradle
  src-java/server42/server42-control-storm-stub/build.gradle
  src-java/server42/server42-control-storm-topology/build.gradle
  src-java/server42/server42-control/build.gradle
  src-java/server42/server42-stats-messaging/build.gradle
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/swmanager-topology/swmanager-storm-topology/build.gradle
  src-java/testing/atdd-staging/build.gradle
  src-java/testing/test-library/build.gradle
Labels: C/CONNECTED, C/FL, C/FLOW-HS, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, area/testing

#4041 Not handling duplicate lifecycle signals
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
Labels: On Review, Ready to Merge, area/zero_downtime, improvement

#4057 More tests ignored according to existing defects
  confd/templates/atdd-staging/log4j2.xml.tmpl
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
  src-java/testing/functional-tests/src/test/resources/log4j2.xml
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing

#4069 Move initZookeeper for fl into service setup
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
Labels: C/FL, Ready to Merge, area/zero_downtime, bugfix

#4076 Get rid of timeMillis in json layout for nb logs
  confd/templates/northbound/log4j2.xml.tmpl
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/logging/CheckLoggingSpec.groovy
Labels: C/NB, On Review, bugfix

#4071 fix the "isVxlanEnabled" method in vxlan specs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#4075 Fix for CommandContext in Otsdb DataPointParserBolt
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/DatapointParseBolt.java
Labels: C/OTSDB, Ready to Merge, area/zero_downtime, bugfix

#4020 Allow VXLAN rules on WB switches
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/UnicastVerificationVxlanRuleGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/lldp/LldpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchProperties.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
Labels: C/FL, Ready to Merge, improvement

#4061 Improve performance of H&S flow operations: back-pressure on FLOW spout
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
Labels: C/FLOW-HS, On Review, improvement

#4064 Added waiting for connection into zkClient
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/blue-green/build.gradle
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkClientTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWriterTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
Labels: Ready to Merge, area/zero_downtime, improvement

#4077 Changed match for arp vxlan rule
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressVxlanFlowGenerator.java
Labels: C/FL, On Review, bugfix

#4060 Improve performance of H&S flow operations: PCE
  src-java/kilda-model/src/main/java/org/openkilda/model/Isl.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/Edge.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/Node.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/IslRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbIslRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/IslFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/SwitchFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaIslRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaIslRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/InMemoryGraphBasedTest.java
Labels: C/FLOW-HS, C/NBWORKER, On Review, improvement

#4081 Fix PCE data fetching for switches with multiple encapsulation types
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbIslRepository.java
Labels: C/FLOW-HS, C/NBWORKER, On Review, bugfix

#4009 unignore test according to #3987
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4058 Flow status timestamps design
  docs/design/usecase/flow-history-get/flow-history-get.md
  docs/design/usecase/flow-history-get/flow-history-get.png
  docs/design/usecase/flow-history-get/flow-history-get.puml
Labels: Ready to Merge, area/docs

#4073 ignore tests according to the issues
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4083 fix test:"Able to delete switch rules by cookie/priority"
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4084 Add retry for unstable ping verification in func tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
Labels: Ready to Merge, area/testing

#4088 Clean up lifecycle events for hub bolts
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/Consumer.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/ControllerToSpeakerProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/RegionTrackerBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerToControllerProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SwitchMonitorBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowDeleteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowSwapEndpointsHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowMeterModifyHubBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowValidationHubBolt.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/decisionmaker/DecisionMakerHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/PortHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watcher/WatcherHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/watchlist/WatchListHandler.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/DatapointParseBolt.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/TimeoutManager.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/OperationQueueBolt.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
Labels: C/FLOW-HS, C/PING, C/ROUTER, Ready to Merge, bugfix

#4085 adjust MetersSpec and SwitchHelper according to vxlan on wb
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
Labels: Ready to Merge, area/testing, improvement
