Repository telstra/open-kilda, pull requests merged in 2021-09, with the labels that each got.

#4405 Remove flow group id field
  docker/db-migration/migrations/014-remove-flow-group-id-field.yaml
  docker/db-migration/migrations/root.yaml
  tools/history-migration/src/kilda/history_migration/mapper.py
  tools/history-migration/src/kilda/history_migration/model.py
  tools/history-migration/src/kilda/history_migration/push.py
Labels: Ready to Merge, improvement, DB Migration, C/ORIENTDB

#4456 Ability exclude specific objects from history dump
  tools/history-migration/src/kilda/history_migration/cli.py
  tools/history-migration/src/kilda/history_migration/model.py
  tools/history-migration/src/kilda/history_migration/pull_mysql.py
  tools/history-migration/src/kilda/history_migration/pull_orient.py
Labels: Ready to Merge, improvement

#4465 [func-test] improve HardwareEnvCleanupExtension
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/HardwareEnvCleanupExtension.groovy
Labels: area/testing, Ready to Merge, improvement

#4466 fix cleanup in "Rtt statistic is available for a flow on a LAG port"
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4467 fix 'narrative' in MaxLatencySpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4283 Server 42: fix server stub update based on flow hash
  src-java/server42/server42-control-server-stub/src/main/java/org/openkilda/server42/control/serverstub/StatsServer.java
Labels: Ready to Merge, bugfix, area/server42

#4468 Server42 to Test lab connection documentation
  docs/design/server42/server42-to-lab/README.md
  docs/design/server42/server42-to-lab/server42-to-lab.drawio.png
Labels: area/docs, Ready to Merge, area/server42

#4473 Added "IF EXIST" into migration 14
  docker/db-migration/migrations/014-remove-flow-group-id-field.yaml
Labels: Next Release, DB Migration, bugfix

#4472 Changed log level of unknown GRPC responces in Network topology.
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/GrpcRouter.java
Labels: Next Release, C/NETWORK, improvement

#4470 [Server42] Connection to Test lab
  confd/templates/docker-compose/docker-compose.tmpl
  src-cpp/server42/Dockerfile
  src-cpp/server42/README.md
  src-cpp/server42/docker_entrypoint.py
  src-cpp/server42/docker_install_requirements.sh
  src-cpp/server42/local_loop.sh
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42FlowRttTurningFlowGenerator.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/resources/topology.yaml
  src-python/lab-service/lab/api/api.py
  src-python/lab-service/lab/requirements.txt
  src-python/lab-service/lab/service/topology.py
Labels: area/testing, Next Release, area/server42, C/SERVER42

#4385 Add Rule Manager design
  docs/design/rule-manager/README.md
  docs/design/rule-manager/sequence-diagram.png
  docs/design/rule-manager/sequence-diagram.puml
Labels: area/docs, Next Release, improvement

#4475 Compare LAG physical ports ignoring order
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: Next Release, C/SWMANAGER, bugfix

#4474 Fix max latency issue
  docs/design/pce/max-latency-issue/README.md
  docs/design/pce/max-latency-issue/case_1.png
  docs/design/pce/max-latency-issue/case_2.png
  docs/design/pce/max-latency-issue/case_3.png
  docs/design/pce/max-latency-issue/case_4.png
  docs/design/pce/max-latency-issue/example.png
  src-java/kilda-pce/src/checkstyle/checkstyle-suppressions.xml
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/PathWeight.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/MaxLatencyPathComputationStrategyBaseTest.java
Labels: area/pce, Ready to Merge, tested, C/FLOW-HS, bugfix

#4476 delete duplicate text in server42-to-lab/README
  docs/design/server42/server42-to-lab/README.md
Labels: area/testing, area/docs, Ready to Merge, improvement

#4480 Sort physical ports in LAG before validation
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: Ready to Merge, C/SWMANAGER, bugfix

#4481 Revert no_gui parameter
  confd/vars/docker-compose.yaml
Labels: area/config, Ready to Merge, bugfix
