Repository telstra/open-kilda, pull requests merged in 2021-03, with the labels that each got.

#4090 use orientdb as an example in README instead of neo4j
  README.md
Labels: On Review, improvement

#4062 Improve performance of H&S flow operations: ISL bandwidth updates
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesDeallocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationActionTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/IslRepository.java
  src-java/kilda-persistence-api/src/test/java/org/openkilda/persistence/dummy/PersistenceDummyEntityFactory.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbFlowPathRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbIslRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaIslRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaIslRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryIslRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryRepositoryFactory.java
Labels: C/FLOW-HS, Ready to Merge, improvement

#4050 add tests for "max_latency_tier2"
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathMaxLatencySpec.groovy
Labels: Ready to Merge, area/testing, feature

#4070 Add flow history statuses endpoint
  docs/design/usecase/flow-history-get/flow-history-get.md
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowStatusTimestampsEntry.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/service/HistoryService.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/history/FlowEventRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowHistoryFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowEventRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowEventRepositoryTest.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetFlowStatusTimestampsRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/HistoryOperationsBolt.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowHistoryStatus.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowHistoryStatusesResponse.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/FlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/FlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge, feature

#4089 remove "neo4j" from templates
  README.md
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/northbound/northbound.properties.tmpl
  confd/vars/main.yaml
Labels: Ready to Merge, improvement

#4091 improve PartialUpdateSpec(avoid singleSwSinglePort flow after updating)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4092 Increase some timeout timers and make devices test to wait for rules
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
Labels: Ready to Merge, area/testing

#3998 Fix feature toggles class name
  docker/db-migration/migrations/prehistory.yaml
Labels: Ready to Merge, bugfix

#4065 Add flow monitoring feature implementation
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  confd/vars/main.yaml
  docker/wfm/Dockerfile
  docker/wfm/app/Makefile
  docker/zookeeper/bin/create-zknode-and-start.sh
  docs/design/zero-downtime/README.md
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/TimestampHelper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/utils/TimestampHelperTest.java
  src-java/flowhs-topology/flowhs-storm-topology/build.gradle
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopologyConfig.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowCreateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowDeleteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowMonitorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/FlowCreateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/FlowDeleteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowGenericCarrier.java
  src-java/flowmonitoring-topology/README.md
  src-java/flowmonitoring-topology/flowmonitoring-messaging/build.gradle
  src-java/flowmonitoring-topology/flowmonitoring-messaging/src/checkstyle/checkstyle-suppressions.xml
  src-java/flowmonitoring-topology/flowmonitoring-messaging/src/main/java/org/openkilda/messaging/info/flow/UpdateFlowInfo.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/.gitignore
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/build.gradle
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/checkstyle/checkstyle-suppressions.xml
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopologyConfig.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/ActionBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/FlowCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/IslCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/TickBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/mapper/FlowMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/mapper/LinkMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/FlowPathLatency.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/FlowState.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/Link.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/LinkState.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheBoltCarrier.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/IslCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/resources/flowmonitoring-topology.yaml.example
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  src-java/network-topology/network-messaging/src/main/java/org/openkilda/messaging/info/event/IslChangedInfoData.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/ComponentId.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/FlowMonitoringEncoder.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/settings.gradle
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/metrics/FlowRttMetricGenBolt.java
Labels: C/FLOW-HS, C/FLOW-MONITOR, C/NETWORK, Ready to Merge, feature

#4098 avoid "conflict" flows in ProtectedPathV2Spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#4110 Added inner vlan into RequestedFlowMapper
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/RequestedFlowMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/RequestedFlowMapperTest.java
Labels: C/NBWORKER, Ready to Merge, bugfix, tested

#4108 Increase wait in ThrottlingRerouteSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
Labels: Ready to Merge, area/testing

#4103 Update the issue reference which blocks ContentionV2Spec tests for parallel delete requests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionV2Spec.groovy
Labels: Ready to Merge, area/testing

#4096 Set active=false for DatapointParseBolt by default
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/DatapointParseBolt.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
Labels: C/OTSDB, Ready to Merge, area/zero_downtime, bugfix

#4052 Added expected state for storm components into ZooKeeper
  docker/zookeeper/bin/create-zknode-and-start.sh
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/topology/AbstractTopologyTest.java
  src-java/base-topology/base-storm-topology/src/test/resources/test_topology.yaml
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/ZkWriterTest.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/ConnectedDevicesTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopology.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopology.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/RerouteTopology.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/ControlTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
Labels: Ready to Merge, area/zero_downtime, improvement

#3946 Move flow endpoints multitable flag to flow path level
  docker/db-migration/migrations/001-rework-flow-multitable-flag.yaml
  docker/db-migration/migrations/root.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/rule/validation/SimpleSwitchRuleConverter.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathBuilder.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowPathBuilderTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/PathSwappingRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapperTest.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowDestAdapter.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowSideAdapter.java
  src-java/kilda-model/src/main/java/org/openkilda/adapter/FlowSourceAdapter.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowPathFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepositoryTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/RequestedFlowMapperTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchRuleServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: C/FLOW-HS, C/ORIENTDB, DB Migration, Ready to Merge, area/multi_table_pipeline, improvement, refactor

#4053 Move reroute commands emitting out of transaction
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
Labels: C/REROUTE, Ready to Merge, bugfix, tested

#4078 Added expected state for Floodlight
  confd/templates/floodlight-modules/floodlightkilda.properties.tmpl
  confd/templates/floodlight-modules/floodlightkildaStats.properties.tmpl
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KildaCoreConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/model/FloodlightRole.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkilda.properties.example
  src-java/floodlight-service/floodlight-modules/src/main/resources/floodlightkildaStats.properties.example
  src-java/kilda-configuration/src/main/java/org/openkilda/config/converter/EnumLowerCaseConverter.java
  src-java/kilda-configuration/src/test/java/org/openkilda/config/converter/EnumLowerCaseConverterTest.java
Labels: Ready to Merge, area/zero_downtime, improvement

#4111 Send inactive only on fsm terminated for flow create
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateService.java
Labels: C/FLOW-HS, On Review, area/zero_downtime, improvement

#4114 Fix serialization of persistent entity in FlowFetcher
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
Labels: C/PING, On Review, bugfix, tested

#4063 Improve performance of H&S flow operations: improve parallelism
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManager.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathBuilder.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowPathBuilderTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopologyConfig.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowUpdateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/action/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationActionTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowPathRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/PathSegmentRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbPathSegmentRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaPathSegmentRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaPathSegmentRepositoryTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
Labels: C/FLOW-HS, C/SWMANAGER, On Review, improvement, tested

#4010 Accept topology definition file as an argument on topology submission.
  confd/conf.d/flowmonitoring-topology.topology_definition.toml
  confd/vars/main.yaml
  docker/wfm/Dockerfile
  docker/wfm/app/Makefile
  docker/wfm/app/deploy_all_topologies.sh
  docker/wfm/app/deploy_single_topology.sh
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/CliArguments.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/LaunchEnvironment.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/.gitignore
Labels: C/CONNECTED, C/FLOW-HS, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/STATS, C/STATS-ROUTER, C/SWMANAGER, On Review, area/cicd, area/ops, improvement

#4054 Do not create isl on isl fail events
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: Ready to Merge, improvement

#4116 Remove stale option
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
Labels: Ready to Merge, improvement

#4074 Fight port vs switch dump events race condition
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerToControllerProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SpeakerToNetworkProxyBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/SwitchMonitorBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/SwitchMonitorCarrier.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchConnectMonitor.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchMonitorEntry.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchMonitorService.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchReadWriteConnectMonitor.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchMonitorServiceTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchReadWriteConnectMonitorTest.java
Labels: Ready to Merge, bugfix

#4124 Fixed handling on max latency SLA
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
Labels: C/FLOW-MONITOR, Ready to Merge, bugfix

#4123 Fixed incorrect names in Flow Monitoring topology definition file
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
Labels: C/FLOW-MONITOR, Ready to Merge, bugfix

#4122 Added command context into Flow Monitoring topology
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/FlowCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/IslCacheBolt.java
Labels: C/FLOW-MONITOR, Ready to Merge, bugfix

#4145 refactor unstable test in swapEndpointSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4144 Improve logging of processed kafka requests in GRPC speaker
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/messaging/MessageProcessor.java
Labels: C/GRPC, Ready to Merge, improvement

#4138 add test for #3413
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#4134 Removed unused methods from FlowCommandFactory
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/service/FlowCommandFactory.java
Labels: C/FL, Ready to Merge, improvement

#4132 Fix missing stacktraces in topology logs
  src-java/build.gradle
Labels: C/CONNECTED, C/FLOW-HS, C/FLOW-MONITOR, C/ISLLATENCY, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/SWMANAGER, Ready to Merge, bugfix

#4131 Fix rollback migration for flow multitable flag
  docker/db-migration/migrations/001-rework-flow-multitable-flag.yaml
Labels: Ready to Merge, bugfix

#4129 refactor ConfigurationSpec according to #4130
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4127 unignore server42 spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4115 Fixed incorrect reinstallation of server42 vlan/vxlan rules during switch sync
  docs/design/hub-and-spoke/switch-sync/switch-sync-fsm.dot
  docs/design/hub-and-spoke/switch-sync/switch-sync-fsm.png
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/ReinstallDefaultFlowForSwitchManagerRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/flow/ReinstallServer42FlowForSwitchManagerRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/CommandBuilder.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImplTest.java
Labels: C/SWMANAGER, Ready to Merge, area/server42, bugfix, tested

#4125 Renaming of SwitchSyncFsm methods and states
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/SwitchSyncServiceImpl.java
Labels: C/SWMANAGER, Ready to Merge, improvement

#4113 Fix path(s) and status cleanup in Flow H&S operations
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/FlowDeleteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/OnErrorResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/OnReceivedResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/AbandonPendingCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/EmitIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/OnReceivedRemoveOrRevertResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/action/ValidateIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/EmitIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/EmitNonIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/InstallNonIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/OnReceivedRemoveOrRevertResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateNonIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/error/SetInstallRuleErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/error/SetValidateRuleErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/FlowSwapEndpointsFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/RevertFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AbandonPendingCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/EmitIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/EmitNonIngressRulesVerifyRequestsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/InstallNonIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/OnReceivedRemoveOrRevertResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateNonIngressRulesAction.java
Labels: C/FLOW-HS, Ready to Merge, improvement

#4086 Support project build with Java 11
  confd/templates/makefile/makefile.tmpl
  src-gui/build.gradle
  src-gui/gradle/wrapper/gradle-wrapper.jar
  src-gui/gradlew
  src-gui/gradlew.bat
  src-java/build.gradle
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
Labels: Ready to Merge, area/cicd, improvement

#4080 update tests according to flowHistoryStatuses
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Ready to Merge, area/testing, feature

#4015 minor fixes/updates in LogicalPortSpec and SwitchesSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#3954 fix for issue in importing db sql scripts
  src-gui/src/main/java/org/openkilda/config/DatabaseConfigurator.java
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#3942 Add func tests for #3940 and #3941
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/RetriesSpec.groovy
Labels: Ready to Merge, area/testing

#4149 Extend FlowRulesSpec test to do a more precise rule check
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Ready to Merge, area/testing

#4121 Do not put switch into inactive state on network start
  docs/design/network-discovery/switch-FSM.png
  docs/design/network-discovery/switch-FSM.puml
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/facts/HistoryFacts.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkHistoryService.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
Labels: C/NETWORK, Ready to Merge, area/docs, area/zero_downtime, feature

#4093 Add zk state verifications to HealthCheckSpec
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
Labels: Ready to Merge, area/testing

#4152 No longer send lldp/arp traffgen packets in parallel
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: Ready to Merge, area/testing

#3964 add test for #3938
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistoryV2Spec.groovy
Labels: Ready to Merge, area/testing, improvement

#4163 Fix logging level for DatapointEntries in DatapointParseBolt
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/DatapointParseBolt.java
Labels: C/OTSDB, Ready to Merge, bugfix

#4164 Fix for unhandled input for speaker router bcast command in port handler
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/port/PortHandler.java
Labels: C/NETWORK, Ready to Merge, area/zero_downtime, bugfix

#4169 Extract reconnect delay for zookeeper into configuration
  README.md
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/floodlight-modules/floodlightkilda.properties.tmpl
  confd/templates/floodlight-modules/floodlightkildaStats.properties.tmpl
  confd/templates/grpc-service/grpc-service.properties.tmpl
  confd/templates/northbound/northbound.properties.tmpl
  confd/templates/server42/server42-control-storm-stub.application.properties.tmpl
  confd/templates/server42/server42-control.application.properties.tmpl
  confd/templates/server42/server42-stats.application.properties.tmpl
  confd/vars/main.yaml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperBolt.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/zk/ZooKeeperSpout.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/AbstractStormTest.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/ZookeeperConfig.java
  src-java/base-topology/base-storm-topology/src/test/resources/topology.properties
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkClient.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWatchDog.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/ZkWriter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/Utils.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningConsumerInterceptor.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningInterceptorBase.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptor.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/kafka/interceptors/VersioningConsumerInterceptorTest.java
  src-java/blue-green/src/test/java/org/openkilda/bluegreen/kafka/interceptors/VersioningProducerInterceptorTest.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/ConnectedDevicesTopology.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannelConfig.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageConsumerConfig.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/config/MessageProducerConfig.java
  src-java/isllatency-topology/isllatency-storm-topology/src/main/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopology.java
  src-java/kilda-configuration/src/main/java/org/openkilda/config/ZookeeperConfig.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/NbWorkerTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageConsumerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageProducerConfig.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/portstate-topology/portstate-storm-topology/src/main/java/org/openkilda/wfm/topology/portstate/PortStateTopology.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/RerouteTopology.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/ControlTopology.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/kafka/KafkaConfig.java
Labels: C/CONNECTED, C/FL, C/FLOW-HS, C/FLOW-MONITOR, C/GRPC, C/ISLLATENCY, C/NB, C/NBWORKER, C/NETWORK, C/OTSDB, C/PING, C/PORTSTATE, C/REROUTE, C/ROUTER, C/STATS, C/STATS-ROUTER, C/SWMANAGER, Ready to Merge, area/zero_downtime, improvement
