Repository telstra/open-kilda, pull requests merged in 2021-11, with the labels that each got.

#4487 Add rule manager library PoC
  src-java/rule-manager/README.md
  src-java/rule-manager/rule-manager-api/build.gradle
  src-java/rule-manager/rule-manager-api/src/checkstyle/checkstyle-suppressions.xml
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/Field.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/FlowSpeakerCommandData.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/GroupSpeakerCommandData.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/Instructions.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/MeterFlag.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/MeterSpeakerCommandData.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/OfFlowFlag.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/OfTable.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/OfVersion.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/ProtoConstants.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/SpeakerCommandData.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/Action.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/ActionType.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/GroupAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/MeterAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/PopVlanAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/PortOutAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/PushVlanAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/SetFieldAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/group/Bucket.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/group/GroupType.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/group/WatchGroup.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/group/WatchPort.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/match/FieldMatch.java
  src-java/rule-manager/rule-manager-implementation/build.gradle
  src-java/rule-manager/rule-manager-implementation/src/checkstyle/checkstyle-suppressions.xml
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/Constants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/DataAdapter.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManager.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerConfig.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/adapters/InMemoryDataAdapter.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/FlowRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/MeteredRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/RuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/ServiceRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/IngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/BroadCastDiscoveryRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/MeteredServiceRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/TableDefaultRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/UniCastDiscoveryRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/RuleManagerServiceRulesTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/Utils.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/BroadCastDiscoveryRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/TableDefaultRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/UniCastDiscoveryRuleGeneratorTest.java
  src-java/settings.gradle
Labels: Next Release, improvement, area/rule-manager

#4545 Remove history classes from orientdb
  docker/db-migration/migrations/opt/remove-history-classes.yaml
Labels: Next Release, improvement, tested

#4561 Revert "Use sql for history on local env"
  confd/vars/main.yaml
Labels: Next Release, improvement

#4563 Set FlowHs worker count to 1
  confd/vars/main.yaml
Labels: area/config, On Review, improvement

#4559 Add test property with kafka internal port
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/functional-tests/kilda.properties.tmpl
  confd/vars/test-vars.yaml
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperServiceImpl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/lockkeeper/LockKeeperVirtualImpl.java
Labels: area/testing, area/config, Ready to Merge

#4539 [Server42] Fix build for linux-kernel-5.9+
  src-cpp/server42/docker_entrypoint.py
  src-cpp/server42/external/upstream/dpdk/kni.patch
Labels: Ready to Merge, bugfix, area/server42, C/SERVER42

#4203 Cleanup deserialization error handling reporting
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/DeserializationErrorAbstractMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/DeserializationErrorMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/TransportErrorWrapper.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/DeserializationErrorInfoData.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/InfoMessage.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/TransportErrorWrapper.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/AbstractMessageDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/InfoDataDeserializer.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/kafka/MessageDeserializer.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/TransportAdapter.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/TransportErrorReport.java
  src-java/blue-green/src/main/java/org/openkilda/bluegreen/kafka/interceptors/VersioningConsumerInterceptor.java
  src-java/flowhs-topology/flowhs-messaging/build.gradle
  src-java/nbworker-topology/nbworker-messaging/build.gradle
  src-java/ping-topology/ping-messaging/build.gradle
  src-java/swmanager-topology/swmanager-messaging/build.gradle
Labels: Ready to Merge, improvement

#4555 fix "Shortest path transit switch does not support VXLAN and alt path…
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4556 Minor fixes for better parallel tests isolation
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowAffinitySpec.groovy
Labels: area/testing, Ready to Merge

#4567 Tests parallelism is now controlled by single property
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/functional-tests/kilda.properties.tmpl
  src-java/testing/functional-tests/README.md
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/test/resources/SpockConfig.groovy
Labels: area/testing, area/config, Ready to Merge

#4569 Add tests cleanup with switch sync
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: area/testing, Ready to Merge

#4570 Remove switch ids from test name to fix retries
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV1Spec.groovy
Labels: area/testing, Ready to Merge

#4564 Make test logs to go to separate files for each test
  confd/templates/functional-tests/log4j2.xml.tmpl
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/TestDataLoggingExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/LogParallelSpecsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/RegisterListenersExtension.groovy
  src-java/testing/functional-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  src-java/testing/performance-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
Labels: area/testing, area/config, Ready to Merge

#4565 fix statsRouterInterval variable initialize in flowStatSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4516 Added Kilda OVS VXLAN support
  confd/templates/makefile/makefile.tmpl
  confd/vars/main.yaml
  docker/base/kilda-base-lab-service/Dockerfile
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/InstallRulesAction.java
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/NotIngressFlowSegmentCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/egress/EgressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowLoopSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/OneSwitchFlowInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowSegmentInstallFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/group/AbstractGroupInstall.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/feature/KildaOvsPushPopMatchVxlanFeature.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/FeatureDetectorService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/SwitchFlowFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/UnicastVerificationVxlanRuleGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/arp/ArpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/lldp/LldpPostIngressVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42FlowRttOutputVxlanFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42FlowRttVxlanTurningFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/utils/OfAdapter.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/AbstractSpeakerCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/egress/EgressFlowSegmentCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressServer42FlowInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactoryTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/transit/TransitFlowSegmentCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/feature/KildaOvsPushPopMatchVxlanFeatureTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/service/FeatureDetectorServiceTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchFeature.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchProperties.java
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/Cookie.java
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/ServiceCookie.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/SwitchController.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
Labels: feature, Ready to Merge, C/FL, tested

#4578 Remove usage of jcentral repository
  src-java/build.gradle
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
Labels: area/cicd, Next Release, improvement

#4579 At most once guarantee strategy for flowhs input spout
  confd/templates/docker-compose/docker-compose.tmpl
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/AbstractTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowDeleteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowMirrorPointCreateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowMirrorPointDeleteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateService.java
Labels: improvement, C/FLOW-HS

#4538 Rule manager: Ingress rules
  src-java/kilda-model/src/main/java/org/openkilda/model/IPv4Address.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/PushVxlanAction.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/Constants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManager.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/FlowRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/IngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/utils/Utils.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/Utils.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/utils/UtilsTest.java
Labels: feature, Next Release, area/rule-manager

#4575 remove conflicting s42 connection in a local env
  confd/vars/main.yaml
  src-java/testing/functional-tests/src/test/resources/topology.yaml
Labels: area/testing, Ready to Merge, improvement

#4576 increase "wait" in IslRttSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4580 make less strict verification for historyStatuses in maxLatencySpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4584 Added docs for s42 vxlan flow turning cookie
  docs/design/multi-table-pipelines/cookies.md
Labels: area/docs, Ready to Merge, area/server42

#4585 Comment on ovs versions in docker file
  docker/base/kilda-base-lab-service/Dockerfile
Labels: Ready to Merge, improvement

#4586 Pass `parallel.topologies` property to tests execution
  src-java/testing/functional-tests/build.gradle
Labels: area/testing, area/config, Ready to Merge

#4593 Fixed server42 flow rtt Kilda ovs installation
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42FlowRttOutputVxlanFlowGenerator.java
Labels: C/FL, On Review, bugfix

#4590 Tests write logs to logstash only on local env
  confd/templates/functional-tests/log4j2.xml.tmpl
Labels: area/testing, Ready to Merge

#4588 Limit file name length for test log file
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/LogParallelSpecsListener.groovy
Labels: area/testing, Ready to Merge

#4583 Minor QOL improvements in tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LicenseSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: area/testing, Ready to Merge

#4547 Rule Manager: Input LLDP and ARP
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/FlowRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/InputArpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/InputLldpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/InputArpRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/InputLldpRuleGeneratorTest.java
Labels: feature, Ready to Merge, area/rule-manager

#4554 Feature/rule manager service rules
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/ProtoConstants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/Constants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/ServiceRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/InputArpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/InputLldpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableServer42IngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/MeteredServiceRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/TablePassThroughDefaultRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpInputPreDropRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressOneSwitchRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressVxlanRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpTransitRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpInputPreDropRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressOneSwitchRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressVxlanRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpTransitRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/utils/RoutingMetadata.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/RuleManagerServiceRulesTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/Utils.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/InputArpRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/InputLldpRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableServer42IngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/TransitRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/ConnectedDevicesRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/TablePassThroughDefaultRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpInputPreDropRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressOneSwitchRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpPostIngressVxlanRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/arp/ArpTransitRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpInputPreDropRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressOneSwitchRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpPostIngressVxlanRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/lldp/LldpTransitRuleGeneratorTest.java
Labels: feature, On Review, area/rule-manager

#4543 Add service rules for input table
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/noviflow/CopyFieldAction.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/action/noviflow/OpenFlowOxms.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/Constants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/adapter/InMemoryDataAdapter.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/ServiceRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/Server42IngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/BfdCatchRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/BroadCastDiscoveryRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/DropDiscoveryLoopRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/UnicastVerificationVxlanRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/noviflow/RoundTripLatencyRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/RuleManagerServiceRulesTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableServer42IngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/BfdCatchRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/BroadCastDiscoveryRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/DropDiscoveryLoopRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/RoundTripLatencyRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/service/UnicastVerificationVxlanRuleGeneratorTest.java
Labels: On Review, improvement, area/rule-manager

#4464 Solution design for Y-Flow
  docs/design/y-flow/create-y-flow.png
  docs/design/y-flow/create-y-flow.puml
  docs/design/y-flow/delete-y-flow.png
  docs/design/y-flow/delete-y-flow.puml
  docs/design/y-flow/reroute-y-flow.png
  docs/design/y-flow/reroute-y-flow.puml
  docs/design/y-flow/update-y-flow.png
  docs/design/y-flow/update-y-flow.puml
  docs/design/y-flow/y-flow-design.md
  docs/design/y-flow/y-flow-domain-model.png
  docs/design/y-flow/y-flow-domain-model.puml
  docs/design/y-flow/y-flow-fsm-callback.png
  docs/design/y-flow/y-flow-fsm-callback.puml
  docs/design/y-flow/y-flow-fsm-integration-w-flow-services.png
  docs/design/y-flow/y-flow-fsm-integration-w-flow-services.puml
  docs/design/y-flow/y-flow-fsm-retries.png
  docs/design/y-flow/y-flow-fsm-retries.puml
  docs/design/y-flow/y-flow-model-n-fsms.md
  docs/design/y-flow/y-flow-nb-api.md
  docs/design/y-flow/y-flow-persistence-model.png
  docs/design/y-flow/y-flow-persistence-model.puml
  docs/design/y-flow/y-flow-switch-rules.md
Labels: area/docs, Ready to Merge

#4530 YFlow changes to persistence layer
  docker/db-migration/migrations/017-add-yflow-classes.yaml
  docker/db-migration/migrations/018-add-support-of-yflow-meters.yaml
  docker/db-migration/migrations/root.yaml
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/system/FeatureTogglesDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/FlowResourcesManager.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/flow/resources/MeterPool.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowMeter.java
  src-java/kilda-model/src/main/java/org/openkilda/model/KildaFeatureToggles.java
  src-java/kilda-model/src/main/java/org/openkilda/model/YFlow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/YSubFlow.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMeterRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryAreaBinding.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactory.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactoryProxy.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/YFlowRepository.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/HibernateRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaFeatureTogglesFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/YFlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/YSubFlowFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowMeterRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepository.java
Labels: feature, Ready to Merge, area/persistence, DB Migration

#4568 Design for shared bandwidth group solution
  docs/design/solutions/shared-bandwidth/domain-model-changes.png
  docs/design/solutions/shared-bandwidth/domain-model-changes.puml
  docs/design/solutions/shared-bandwidth/shared-bandwidth-n-ISL.svg
  docs/design/solutions/shared-bandwidth/shared-bandwidth.md
Labels: area/pce, area/docs, Ready to Merge, improvement

#4599 [test] clear 'timeUnstable' field in portHistSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4597 Fix meters comparison for wb switches in tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/DefaultFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: area/testing, Ready to Merge

#4582 improve check(switchNotFound) in MultiFloodlightsSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MultiFloodlightsSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4601 Fix passing property to tests build
  src-java/testing/functional-tests/build.gradle
Labels: area/testing, area/config, Ready to Merge

#4598 [test]restore initSwProps after removing/adding switch
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4600 Rule Manager: Flow loop
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/Constants.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/FlowRulesGeneratorFactory.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/loop/FlowLoopIngressRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/loop/FlowLoopTransitRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/utils/Utils.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/loop/FlowLoopIngressRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/loop/FlowLoopTransitRuleGeneratorTest.java
Labels: feature, Ready to Merge, C/SWMANAGER, area/rule-manager

#4604 Downgrade grgit to 4.0.2
  src-java/build.gradle
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
Labels: area/cicd
