Repository telstra/open-kilda, pull requests merged in 2021-05, with the labels that each got.

#4215 Unignore contention test and reveal #4214
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionV2Spec.groovy
Labels: Ready to Merge, area/testing

#4235 refactor test according to #4231
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4240 Fix Liquibase dependency - put liquibase-orientdb-0.3.0 into the repo
  docker/db-migration/Dockerfile
  docker/db-migration/lib/liquibase-orientdb-0.3.0.jar
Labels: On Review, area/cicd

#4243 Hotfix to fix issue in getting flow of ISL
  src-gui/src/main/java/org/openkilda/auth/interceptor/RequestInterceptor.java
  src-gui/src/main/java/org/openkilda/controller/FlowController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Flow.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowEndpoint.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowV2.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowV2Endpoint.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/service/FlowService.java
  src-gui/src/main/resources/application.properties.example
Labels: C/GUI, Ready to Merge, area/gui, bugfix

#4148 Fix deserialization error in flow-monitoring on ISL delete event
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/IslCacheService.java
  src-java/network-topology/network-messaging/src/main/java/org/openkilda/messaging/info/event/IslChangedInfoData.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
Labels: C/FLOW-MONITOR, Next Release, bugfix, tested

#4208 add test for a flow with latency according to #4201
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: Next Release, area/testing, improvement

#4223 Document aimed to describe OF cookies format
  docs/design/multi-table-pipelines/cookies.md
Labels: Next Release, area/docs, improvement

#3923 Workaround for loss of switch disconnect event
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/network-discovery/port-FSM.png
  docs/design/network-discovery/port-FSM.puml
  docs/design/network-discovery/switch-FSM.png
  docs/design/network-discovery/switch-FSM.puml
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/bolt/MonotonicClock.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/discovery/NetworkCommandData.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/info/discovery/NetworkDumpSwitchData.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchTrackingService.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchTrackingServiceTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/TickId.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/MonotonicTick.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/bolts/RegionTrackerBolt.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RegionMonitorCarrier.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/monitor/SwitchMonitorServiceTest.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopologyConfig.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/model/NetworkOptions.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkSwitchService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerRouter.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/SwitchHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/sw/command/SwitchManagedEventCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/utils/GenerationTracker.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/utils/GenerationTrackerTest.java
Labels: C/NETWORK, Next Release, improvement

#4248 Update Floodlight version to fix unit tests
  src-java/projectfloodlight/floodlight/build.gradle
Labels: Next Release, area/testing, improvement

#4249 Fix isl cache unit test
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/IslCacheServiceTest.java
Labels: Next Release, area/testing, bugfix

#4255 Upgrading node and angular cli to fix gui build issue
  src-gui/Makefile
Labels: C/GUI, Next Release, area/gui, bugfix

#4261 Specify the docker version for lab-api
  src-python/lab-service/lab/requirements.txt
Labels: On Review, bugfix

#4107 Flow traffic mirroring design
  docs/design/flow-traffic-mirroring/create-mirror-point.png
  docs/design/flow-traffic-mirroring/create-mirror-point.puml
  docs/design/flow-traffic-mirroring/delete-mirror-point.png
  docs/design/flow-traffic-mirroring/delete-mirror-point.puml
  docs/design/flow-traffic-mirroring/flow-traffic-mirroring.md
  docs/design/flow-traffic-mirroring/get-mirror-point.png
  docs/design/flow-traffic-mirroring/get-mirror-point.puml
  docs/design/flow-traffic-mirroring/model.png
Labels: Ready to Merge, area/docs, area/flow_traffic_mirroring

#4191 Server 42 QinQ support
  docs/design/multi-table-pipelines/cookies.md
  src-cpp/server42/src/Control.cpp
  src-cpp/server42/src/PacketGenerator.cpp
  src-cpp/server42/src/PacketGenerator.h
  src-cpp/server42/src/control.proto
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/model/SpeakerRequestBuildContext.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/model/RulesContext.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressFlowSegmentBase.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/of/IngressFlowModFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/flow/ingress/IngressServer42FlowInstallCommandTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/kafka/RecordHandlerTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveRulesAction.java
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/FlowSharedSegmentCookie.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepositoryTest.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/AddFlow.java
  src-java/server42/server42-control-messaging/src/main/java/org/openkilda/server42/control/messaging/flowrtt/Control.java
  src-java/server42/server42-control-storm-stub/src/main/java/org/openkilda/server42/control/stormstub/api/AddFlowPayload.java
  src-java/server42/server42-control-storm-stub/src/test/java/org/openkilda/server42/control/stormstub/StubApplicationTests.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/service/FlowRttService.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/service/IFlowCarrier.java
  src-java/server42/server42-control-storm-topology/src/main/java/org/openkilda/server42/control/topology/storm/bolt/flow/FlowHandler.java
  src-java/server42/server42-control/src/main/java/org/openkilda/server42/control/kafka/Gate.java
  src-java/server42/server42-control/src/test/java/org/openkilda/server42/control/kafka/GateTest.java
  src-java/server42/server42-stats-messaging/src/main/java/org/openkilda/server42/stats/messaging/flowrtt/Statistics.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: C/FL, C/FLOW-HS, C/SWMANAGER, Ready to Merge, area/server42, feature, tested

#3977 extend server42Spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42RttSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4204 Server42: build with main makefile
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/vars/docker-compose.yaml
  confd/vars/main.yaml
  src-cpp/server42/build_docker.sh
Labels: Ready to Merge, area/config

#4220 Send flow monitoring stats to openTSDB
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/utils/TimestampHelper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/utils/TimestampHelperTest.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopologyConfig.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/FlowCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolts/IslCacheBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/mapper/FlowMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/FlowPathLatency.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheBoltCarrier.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowCacheServiceTest.java
Labels: C/FLOW-MONITOR, Next Release, area/stats, feature, tested

#4226 Improve get paths api response
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/network/Path.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/network/PathDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/PathMapper.java
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/CookieBase.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetPathsRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/PathsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/PathsServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/NetworkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/NetworkService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/NetworkServiceImpl.java
Labels: C/NB, C/NBWORKER, Ready to Merge, improvement, tested

#4229 Add flow mirror points models.
  docker/db-migration/migrations/004-add-mirror-classes.yaml
  docker/db-migration/migrations/root.yaml
  docs/design/flow-traffic-mirroring/model.png
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowMirrorPath.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowMirrorPoints.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  src-java/kilda-model/src/main/java/org/openkilda/model/GroupId.java
  src-java/kilda-model/src/main/java/org/openkilda/model/MirrorConfig.java
  src-java/kilda-model/src/main/java/org/openkilda/model/MirrorGroupType.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchFeature.java
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/FlowSegmentCookie.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMirrorPathRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowMirrorPointsRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/MirrorGroupRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/RepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowMirrorPathFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowMirrorPointsFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowPathFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/MirrorGroupFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPointsRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaMirrorGroupRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPathRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowMirrorPointsRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaMirrorGroupRepositoryTest.java
Labels: C/ORIENTDB, DB Migration, Ready to Merge, area/flow_traffic_mirroring, feature

#4245 fix/refactor tests in vxlanFlowSpec, logicalPortSpec, swValidationSingleSwFlowSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4247 Added @ToString into Edge class to make logs correct
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/Edge.java
Labels: Ready to Merge, area/pce, bugfix

#4250 add test according to #4246
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4265 extend CleanupVerifierExtension
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/fixture/CleanupVerifierExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/configuration/ConfigurationSpec.groovy
Labels: Ready to Merge, area/testing, improvement

#4272 Do not install/remove server42 QinQ shared rule for single switch flows
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/RemoveRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
Labels: C/FLOW-HS, On Review, bugfix

#4275 Use method instead of constant for empty speaker context.
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/model/SpeakerRequestBuildContext.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilder.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/service/SpeakerFlowSegmentRequestBuilderTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/RemoveOldRulesAction.java
Labels: C/FLOW-HS, Ready to Merge, bugfix, tested
