Repository telstra/open-kilda, pull requests merged in 2022-01, with the labels that each got.

#4641 Fix speaker response timeout handling for y-flow reroute operation
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/HandleNotCompletedCommandsAction.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4642 [test] ignore validateSwitch in yflow specs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowUpdateSpec.groovy
Labels: area/testing, Next Release, improvement

#4630 Upgrade Gradle to 7.3.3 and other plugins to the recent versions
  README.md
  src-gui/build.gradle
  src-gui/gradle/wrapper/gradle-wrapper.properties
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/build.gradle
  src-java/checkstyle/checkstyle.xml
  src-java/connecteddevices-topology/connecteddevices-storm-topology/build.gradle
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/build.gradle
  src-java/flowhs-topology/flowhs-storm-topology/build.gradle
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/build.gradle
  src-java/gradle/wrapper/gradle-wrapper.jar
  src-java/gradle/wrapper/gradle-wrapper.properties
  src-java/gradlew
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/isllatency-topology/isllatency-storm-topology/build.gradle
  src-java/nbworker-topology/nbworker-storm-topology/build.gradle
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/northbound-service/northbound/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/ping-topology/ping-storm-topology/build.gradle
  src-java/portstate-topology/portstate-storm-topology/build.gradle
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
  src-java/reroute-topology/reroute-storm-topology/build.gradle
  src-java/server42/server42-control-server-stub/build.gradle
  src-java/server42/server42-control-storm-stub/build.gradle
  src-java/server42/server42-control-storm-topology/build.gradle
  src-java/server42/server42-control/build.gradle
  src-java/server42/server42-stats/build.gradle
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/swmanager-topology/swmanager-storm-topology/build.gradle
  src-java/testing/functional-tests/build.gradle
  src-java/testing/performance-tests/build.gradle
  src-java/testing/test-library/build.gradle
Labels: area/cicd, Ready to Merge, improvement

#4645 Implement swap for YFlow paths
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowPathSwapRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/FlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapContext.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/FlowPathSwapFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/BaseOnReceivedResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/OnReceivedRemoveOrRevertResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/RevertYFlowRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/UpdateYFlowRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/ValidateIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/HandleNotCompletedCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/error/SetInstallRuleErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/error/SetValidateRuleErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractFlowTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowDeleteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowPathSwapServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/RerouteBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/OperationQueueServiceTest.java
Labels: feature, Ready to Merge, C/FLOW-HS

#4648 Y-Flow: Ping API design
  docs/design/y-flow/y-flow-nb-api.md
Labels: area/docs, feature, Ready to Merge

#4647 Of Group converter for Rule Manager
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/rulemanager/OfGroupConverter.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/rulemanager/OfGroupConverterTest.java
Labels: Ready to Merge, C/FL, improvement

#4643 ignore qinq tests in yflow spec for singleTable mode
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4151 Improvement in kilda gui to defence against brute force attack
  src-gui/build.gradle
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/constants/Status.java
  src-gui/src/main/java/org/openkilda/controller/LoginController.java
  src-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  src-gui/src/main/java/org/openkilda/security/CustomAuthenticationProvider.java
  src-gui/src/main/java/org/openkilda/service/ApplicationSettingService.java
  src-gui/src/main/java/org/openkilda/validator/ApplicationSettingsValidator.java
  src-gui/src/main/java/org/usermanagement/controller/UserController.java
  src-gui/src/main/java/org/usermanagement/dao/entity/UserEntity.java
  src-gui/src/main/java/org/usermanagement/service/TemplateService.java
  src-gui/src/main/java/org/usermanagement/service/UserService.java
  src-gui/src/main/java/org/usermanagement/service/impl/VelocityTemplateService.java
  src-gui/src/main/java/org/usermanagement/util/MailUtils.java
  src-gui/src/main/resources/db/import-script_32.sql
  src-gui/src/main/resources/mail.properties
  src-gui/src/main/webapp/ui/templates/mail/accountBlock.vm
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/common/services/common.service.ts
  src-gui/ui/src/app/common/services/user.service.ts
  src-gui/ui/src/app/modules/settings/session/session.component.html
  src-gui/ui/src/app/modules/settings/session/session.component.ts
  src-gui/ui/src/app/modules/usermanagement/users/user-list/user-list.component.html
  src-gui/ui/src/app/modules/usermanagement/users/user-list/user-list.component.ts
Labels: area/gui, Ready to Merge, C/GUI, improvement

#4646 [test] fix LagPortSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4624 add tests for yFlow validation
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowValidationSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: area/testing, feature, Ready to Merge

#4650 [yflow] add test for y-flow reroute
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: area/testing, feature, Ready to Merge

#4640 [yflow] check that bandwidth is properly consumed
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
Labels: area/testing, feature, Ready to Merge

#4653 Fix merge issue - revert changes in gui build.gradle (#4151)
  src-gui/build.gradle
Labels: Next Release

#4658 Fix false negative stats cache missing warnigns
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/metrics/FlowMetricGenBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/FlowEndpointStatsEntryHandler.java
Labels: On Review, tested, bugfix

#4662 [test] fix "cleanup" in partialUpdateSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4659 [test] fix FlowRulesSpec(find sharedRule)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: area/testing, Next Release, improvement

#4670 [test] check that flow is up after updating in swapEndpSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4672 [test] ignore latency related fields in partUpdateSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4535 Cleanup mappers code
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/mapper/FlowMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/RequestedFlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/KildaTypeMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/LinkMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/TimeMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/YFlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/LagPortMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/LinkMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/SwitchMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/SwitchServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/mappers/LogicalPortMapper.java
Labels: Ready to Merge, C/NB, C/NBWORKER, C/SWMANAGER, improvement, C/FLOW-HS, C/FLOW-MONITOR

#4651 Y Flow Ping: API
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/SubFlowPingPayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/UniSubFlowPingPayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowPingPayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowPingResult.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/YFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/PingMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/YFlowMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/YFlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/YFlowServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/FlowMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/YFlowMapperTest.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/command/flow/YFlowPingRequest.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/info/flow/SubFlowPingPayload.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/info/flow/UniSubFlowPingPayload.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/info/flow/YFlowPingResponse.java
  src-java/ping-topology/ping-messaging/src/test/java/org/openkilda/messaging/command/flow/YFlowPingRequestTest.java
  src-java/ping-topology/ping-messaging/src/test/java/org/openkilda/messaging/info/flow/YFlowPingResponseTest.java
Labels: feature, Ready to Merge, C/NB, C/PING

#4663 Y Flow Ping: manual ping
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/YFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/YFlowService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/YFlowServiceImpl.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/info/flow/UniSubFlowPingPayload.java
  src-java/ping-topology/ping-messaging/src/main/java/org/openkilda/messaging/info/flow/YFlowPingResponse.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/PingTopology.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/GroupCollector.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/InputRouter.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/OnDemandResultManager.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/PingProducer.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/ResultDispatcher.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/CollectorDescriptor.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/Group.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/model/PingContext.java
Labels: feature, Ready to Merge, C/PING

#4664 Changed Kafka and Zookeeper ports in unit tests
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/KafkaConfig.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/ZookeeperConfig.java
Labels: area/testing, Ready to Merge, bugfix

#4665 Remove unused classes from Ping topology
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/bolt/KafkaDecoder.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/InputDecoder.java
Labels: Ready to Merge, C/PING, improvement

#4669 Fix `deepCopy` method for YFlow
  src-java/kilda-model/src/main/java/org/openkilda/model/YFlow.java
Labels: Ready to Merge, bugfix

#4655 Add diversity to YFlow
  docs/design/y-flow/y-flow-nb-api.md
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/FlowDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowMapper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/FlowMapperTest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowDto.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowPartialUpdateRequest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingWithHistorySupportAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/UpdateFlowPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/UpdateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/YFlowCreateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/CreateDraftYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/CreateSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/delete/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/YFlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/UpdateSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/UpdateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/YFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/YFlowRequestMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowUpdateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractYFlowTest.java
  src-java/kilda-persistence-api/src/test/java/org/openkilda/persistence/dummy/PersistenceDummyEntityFactory.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowResponseV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlow.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowCreatePayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowPatchPayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowUpdatePayload.java
Labels: area/docs, feature, Ready to Merge, C/NB, C/NBWORKER, C/FLOW-HS

#4676 [test] use yFlowPing in func-tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowValidationSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: area/testing, feature, Ready to Merge

#4616 [yflow] tests for a subFlow
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/SubFlowSpec.groovy
Labels: area/testing, feature, Ready to Merge

#4675 Y Flow Ping: Periodic pings
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/YFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepositoryTest.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/StatsProducer.java
Labels: feature, Ready to Merge, C/PING

#4671 Fix Y-flow API - add allocateProtectedPath to returned entities
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlow.java
Labels: Ready to Merge, C/NB, C/FLOW-HS, bugfix

#4668 Fix switch connections transaction retry policy
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/sw/SwitchFsm.java
Labels: Ready to Merge, C/NETWORK, bugfix

#4677 Fix PCE for protected YFlows.
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/YFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnSubFlowReroutedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/RerouteSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/YFlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnRevertSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnSubFlowRevertedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnSubFlowUpdatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/UpdateSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowUpdateServiceTest.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
Labels: area/pce, Ready to Merge, C/FLOW-HS, bugfix
