Repository telstra/open-kilda, pull requests merged in 2022-03, with the labels that each got.

#4720 Add js License files into GUI .gitignore file
  src-gui/.gitignore
Labels: area/gui, C/GUI, Next Release, improvement

#4713 [test] make vxlan tests run on virt env
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
Labels: area/testing, Next Release

#4718 Fixed deleteAllFlows endpoint timeout while flow in progress
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: Ready to Merge, C/NB, bugfix

#4721 Ignore unstable Contention test because of bug 4711
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/ContentionSpec.groovy
Labels: area/testing, Next Release, improvement

#4717 Improved performance of sw manager topology
  confd/templates/swmanager-topology/swmanager-topology.tmpl
  confd/vars/main.yaml
  docs/design/hub-and-spoke/switch-validate/switch-validate-fsm.png
  docs/design/hub-and-spoke/switch-validate/switch-validate-fsm.puml
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopology.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/HeavyOperationBolt.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/SwitchEntities.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/SwitchValidationContext.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/CreateLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/DeleteLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerCarrier.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerCarrierCookieDecorator.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchManagerHubService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/UpdateLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/ValidationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: Next Release, C/SWMANAGER, improvement

#4687 [test] check yFlow periodicPings
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPingSpec.groovy
Labels: area/testing, feature, Next Release

#4652 Upgrade gradle dependencies in topologies, services, gui
  src-gui/build.gradle
  src-gui/src/test/java/org/openkilda/controller/FlowControllerTest.java
  src-gui/src/test/java/org/openkilda/controller/StatsControllerTest.java
  src-gui/src/test/java/org/openkilda/controller/SwitchControllerTest.java
  src-gui/src/test/java/org/openkilda/test/MockitoExtension.java
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/build.gradle
  src-java/floodlight-service/floodlight-api/build.gradle
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/test/java/org/openkilda/wfm/topology/floodlightrouter/service/ControllerToSpeakerProxyServiceTest.java
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/kilda-persistence-hibernate/build.gradle
  src-java/kilda-persistence-orientdb/build.gradle
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/LinkOperationsServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkPortServiceTest.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkSwitchServiceTest.java
  src-java/northbound-service/northbound/build.gradle
  src-java/opentsdb-topology/opentsdb-storm-topology/build.gradle
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
  src-java/server42/server42-control-messaging/build.gradle
  src-java/server42/server42-control-server-stub/build.gradle
  src-java/server42/server42-control-storm-stub/build.gradle
  src-java/server42/server42-control/build.gradle
  src-java/server42/server42-messaging/build.gradle
  src-java/server42/server42-stats-messaging/build.gradle
  src-java/server42/server42-stats/build.gradle
  src-java/testing/atdd-staging/build.gradle
  src-java/testing/functional-tests/build.gradle
  src-java/testing/performance-tests/build.gradle
  src-java/testing/test-library/build.gradle
Labels: area/cicd, Ready to Merge, C/ISLLATENCY, C/PORTSTATE, C/STATS, C/NB, C/NBWORKER, C/GUI, C/PING, C/GRPC, C/SWMANAGER, C/NETWORK, C/REROUTE, improvement, C/FLOW-HS, C/CONNECTED, C/FLOW-MONITOR, C/SERVER42

#4723 Fix type cast into LAG port number allocation
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/LagPortPoolEntityAdapter.java
Labels: On Review, C/SWMANAGER, bugfix

#4679 Bumped version of github api and jwt for changelog generator
  tools/changelog-generator/requirements.txt
Labels: Ready to Merge, improvement

#4715 DeleteAllFlowsV1 endpoint correlation-id
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
Labels: Ready to Merge, C/NB, improvement

#4724 Fixed inner vlan change in case of partial update of default flow
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Ready to Merge, C/NBWORKER, bugfix

#4725 Fixed lag creation with duplicate port numbers
  src-java/grpc-speaker/grpc-api/src/main/java/org/openkilda/messaging/command/grpc/CreateOrUpdateLogicalPortRequest.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/bfd/worker/BfdWorker.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/LagPortRequest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/LagPortMapperTest.java
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/request/CreateLagPortRequest.java
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/request/UpdateLagPortRequest.java
  src-java/swmanager-topology/swmanager-messaging/src/main/java/org/openkilda/messaging/swmanager/response/LagPortResponse.java
  src-java/swmanager-topology/swmanager-messaging/src/test/java/org/openkilda/messaging/swmanager/request/CreateLagPortRequestTest.java
  src-java/swmanager-topology/swmanager-messaging/src/test/java/org/openkilda/messaging/swmanager/response/LagPortResponseTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/CreateLagPortFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/DeleteLagPortFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/handler/LagPortUpdateHandler.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandBuilderImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/UpdateLagPortServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/handler/LagPortUpdateHandlerTest.java
Labels: Ready to Merge, C/SWMANAGER, bugfix

#4733 GRPC stub: return errors on invalid requests
  src-python/grpc-stub/server.py
Labels: feature, Ready to Merge, C/GRPC

#4744 Use TaskIdUniqueKey field to find flow events
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/entities/history/HibernateFlowEvent.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/repositories/HibernateHistoryFlowEventRepository.java
Labels: Ready to Merge, improvement, C/HISTORY

#4448 Revert "Forbid QinQ flows for WB-series switches"
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
Labels: Next Release, improvement, C/FLOW-HS

#4735 Fixed lag port creating/updating with non existing physical ports
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/GrpcSenderService.java
Labels: Ready to Merge, C/SWMANAGER, bugfix
