Repository telstra/open-kilda, pull requests merged in 2022-07, with the labels that each got.

#4843 Rework isl service rules to use RuleManager
  docs/design/network-discovery/ISL-FSM.png
  docs/design/network-discovery/ISL-FSM.puml
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/BatchCommandProcessor.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/Origin.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/info/discovery/InstallIslDefaultRulesResult.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/info/discovery/RemoveIslDefaultRulesResult.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/payload/switches/InstallIslDefaultRulesCommand.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/payload/switches/RemoveIslDefaultRulesCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannel.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutor.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfBatchHolder.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfSpeakerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollector.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/zookeeper/ZooKeeperService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/ISwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/SwitchFlowFactory.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/SwitchFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42FlowRttInputFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/factory/generator/server42/Server42IslRttInputFlowGenerator.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutorTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/switchmanager/SwitchManagerTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/ComponentType.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/service/RouterUtils.java
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  src-java/network-topology/network-storm-topology/build.gradle
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IIslCarrier.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/IslRulesService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkIslService.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/command/IslCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/command/IslCommandBase.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/command/IslDefaultRuleRemovedCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/command/IslRulesFailedCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/command/IslRulesResponseCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerRulesRouter.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/SpeakerRulesWorker.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/command/ProcessSpeakerRulesCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/command/ProcessSpeakerRulesResponseCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/command/SpeakerRulesIslInstallCommand.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/speaker/command/SpeakerRulesIslInstalledCommand.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIntegrationCarrier.java
  src-java/network-topology/network-storm-topology/src/test/java/org/openkilda/wfm/topology/network/service/NetworkIslServiceTest.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManager.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleService.java
Labels: Ready to Merge, C/FL, Next Release, C/NETWORK, area/rule-manager

#4845 Fix swap endpoint inner_vlan_id
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/SwapFlowDto.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/UpdateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapperTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/FlowMapper.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, Next Release, C/FLOW-HS, bugfix

#4849 Add flow statistics per vlan docs
  docs/design/flow-statistics-per-vlan/README.md
  docs/design/flow-statistics-per-vlan/current_table_pre_ingress.png
  docs/design/flow-statistics-per-vlan/new_table_pre_ingress.png
Labels: area/docs, feature, Ready to Merge, Next Release

#4850 LAG port update request validation test #4776
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge, Next Release

#4853 Rework flow monitoring to use flow sync instead of force reroute
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopology.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/FlowMonitoringTopologyConfig.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/ActionBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/FlowHsEncoder.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowMonitoringSpec.groovy
Labels: Ready to Merge, Next Release, bugfix, C/FLOW-MONITOR

#4854 Changed messages grouping in Stats topology to increase its parallelism
  confd/templates/stats-topology/stats-topology.tmpl
  confd/vars/main.yaml
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/StatsTopology.java
Labels: Ready to Merge, C/STATS, Next Release, improvement

#4856 Fix missing y-point metrics in y-flow specs
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/StatsHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPathSwapSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: Ready to Merge, Next Release, C/FLOW-HS, bugfix

#4861 Fix StormHeavyLoadSpec.groovy after #4776 merge
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/resilience/StormHeavyLoadSpec.groovy
Labels: area/testing, Next Release

#4864 Added missing flow history dump fields
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowDumpPayload.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/history/model/FlowDumpData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/kilda-model/src/main/java/org/openkilda/model/MirrorPointStatus.java
  src-java/kilda-model/src/main/java/org/openkilda/model/history/FlowEventDump.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/entities/history/HibernateFlowEventDump.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowEventDumpFrame.java
Labels: Ready to Merge, Next Release, area/persistence, improvement, C/HISTORY

#4869 Revert #4637 as issue was fixed
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
Labels: area/testing, Ready to Merge, Next Release, improvement

#4872 Stats topology cache notifies zookeeper about readiness only after initialization
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheService.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheServiceTest.java
Labels: C/STATS, Next Release, improvement, tested

#4871 Fix swap-endpoint history recording - response timeout if flow update is disabled
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowProcessingWithHistorySupportFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/FlowSwapEndpointsFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/ValidateFlowsAction.java
Labels: Next Release, C/FLOW-HS, bugfix

#4866 Added possibility to delete lagPort in case no lagPort on a switch
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/DeleteLagPortFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/DeleteLagPortService.java
Labels: feature, Next Release, C/SWMANAGER, tested

#4842 Add information about misconfigured rules into switch validation response
  docs/design/hub-and-spoke/switch-validate/switch-validate.md
Labels: area/docs, Next Release, tested

#4870 Reworked FL RuleManager response topic handling
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/BatchCommandProcessor.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/BaseSpeakerCommandsRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/DeleteSpeakerCommandsRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/InstallSpeakerCommandsRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/ModifySpeakerCommandsRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/request/rulemanager/Origin.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/KafkaChannel.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/FlowSegmentReport.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutor.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfSpeakerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/ConsumerContext.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/KafkaMessageCollector.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutorTest.java
  src-java/floodlightrouter-topology/floodlightrouter-storm-topology/src/main/java/org/openkilda/wfm/topology/floodlightrouter/FloodlightRouterTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/YFlowRuleManagerProcessingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/converters/FlowRulesConverter.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/pathswap/actions/RevertSharedEndpointRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/pathswap/actions/UpdateSharedEndpointRulesAction.java
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/NetworkTopology.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/isl/IslHandler.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/tools/KafkaUtils.java
Labels: Ready to Merge, C/FL, improvement, tested

#4885 History dump fix for removal flow action
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/CompleteFlowPathRemovalAction.java
Labels: Next Release, C/FLOW-HS, bugfix

#4891 Added command context in ActionBolt
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/AbstractBolt.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/bolt/ActionBolt.java
Labels: Next Release, bugfix, C/FLOW-MONITOR

#4894 Set version of @types/geojson to "7946.0.8"
  src-gui/ui/package.json
Labels: area/gui, C/GUI, Next Release, improvement

#4883 Added test relating to issue #4517
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
Labels: area/testing, Next Release, tested

#4897 Remove commented test data
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: area/testing, Next Release

#4895 Add notification to templates
  confd/templates/connecteddevices-topology/connecteddevices-topology.tmpl
  confd/templates/floodlightrouter-topology/floodlightrouter-topology.tmpl
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  confd/templates/history-topology/history-topology.tmpl
  confd/templates/isllatency-topology/isllatency-topology.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/templates/nbworker-topology/nbworker-topology.tmpl
  confd/templates/network-topology/network-topology.tmpl
  confd/templates/opentsdb-topology/opentsdb-topology.tmpl
  confd/templates/ping-topology/ping-topology.tmpl
  confd/templates/portstate-topology/portstate-topology.tmpl
  confd/templates/reroute-topology/reroute-topology.tmpl
  confd/templates/server42/server42-control-topology.tmpl
  confd/templates/stats-topology/stats-topology.tmpl
  confd/templates/swmanager-topology/swmanager-topology.tmpl
Labels: Next Release

#4888 Test/deleting already deleted lag port
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Next Release, improvement

#4875 Add static code analysis for Groovy
  .github/workflows/mega-linter.yml
  README.md
Labels: Next Release, improvement

#4887 Add test for limiting amount of computed paths #4877
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathsSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundService.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: area/testing

#4898 Remove unnecessary MegaLinter options
  .github/workflows/mega-linter.yml
Labels: area/testing, Next Release, improvement

#4899 Revert "Removal action now saves dump once"
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/CompleteFlowPathRemovalAction.java
Labels: feature, Next Release
