Repository telstra/open-kilda, pull requests merged in 2022-10, with the labels that each got.

#4948 Moved V1/V2 validation parameters handling to NB
  docs/design/hub-and-spoke/switch-validate/switch-validate.md
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/IncludeFilter.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/ValidationFilter.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchValidateRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FeatureTogglesBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerWorker.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/ValidationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsmTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: feature, C/NB, On Review, C/SWMANAGER

#4959 Added functional tests for LACP feature
  src-java/kilda-model/src/main/java/org/openkilda/model/cookie/Cookie.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/CreateLagPortFsm.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, feature, Next Release

#4957 Fixed max_latency unit for Y-flows
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/YFlowMapper.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/YFlowMapperTest.java
Labels: C/NB, Next Release, bugfix

#4968 Added parallelism options into flow hs for not loaded bolts
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  confd/vars/main.yaml
Labels: Next Release, improvement, C/FLOW-HS

#4951 Fix stats for y flow ingress endpoint
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/info/stats/FlowStatsEntry.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/OfFlowStatsMapper.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RulePriorityAnalyzer.java
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/FlowEndpointStatsEntryHandler.java
Labels: C/STATS, C/FL, Next Release, bugfix

#4973 Added balanced grouping into connected devices topology
  confd/templates/connecteddevices-topology/connecteddevices-topology.tmpl
  confd/vars/main.yaml
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/ConnectedDevicesTopology.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/bolts/PacketBolt.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/bolts/RouterBolt.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
Labels: Next Release, improvement, C/CONNECTED
