Repository telstra/open-kilda, pull requests merged in 2022-04, with the labels that each got.

#4690 Increase the count of workers for FlowMonitoring Topology
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  confd/templates/nbworker-topology/nbworker-topology.tmpl
  confd/vars/main.yaml
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/model/Link.java
Labels: Ready to Merge, improvement, C/FLOW-MONITOR

#4752 Correct writing of Flow history during validation errors
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/create/actions/ValidateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/delete/actions/ValidateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/pathswap/actions/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/ValidateFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/delete/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/ValidateYFlowAction.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4750 Correct removing of LLDP/ARP/Server42 shared rules during update
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalActionTest.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4749 Fixed lag port creating/updating with non existing physical ports
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/client/GrpcSession.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/service/GrpcSenderService.java
Labels: Ready to Merge, C/GRPC, bugfix

#4707 Proper watching for changes in openflowj and floodlight repos (Gradle up-to-date)
  src-java/projectfloodlight/floodlight/build.gradle
  src-java/projectfloodlight/openflowj/build.gradle
Labels: area/cicd, Ready to Merge, bugfix

#4703 Fix failing y-flow get operation during removal
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4765 Correct removing of server42 shared rules during update
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseFlowRuleRemovalActionTest.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4734 Making repeatable builds possible w/o Internet
  docker/db-migration/Dockerfile
  src-gui/Makefile
Labels: area/cicd, Ready to Merge, Next Release, improvement

#4745 Switch validation without logical port info
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/switches/LogicalPortsSyncEntry.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/switches/LogicalPortsValidationEntry.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/LogicalPortsSyncDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/LogicalPortsValidationDto.java
  src-java/northbound-service/northbound-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/mappers/FlowEntryConverter.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/mappers/ValidationMapper.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/model/ValidateLogicalPortsResult.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsmTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/mappers/FlowEntryConverterTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/mappers/GroupEntryConverterTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/mappers/MeterEntryConverterTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/mappers/ValidationMapperTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateServiceTest.java
Labels: Ready to Merge, C/NB, Next Release, C/SWMANAGER

#4746 Use MySQL DB to store history on local env
  confd/vars/main.yaml
Labels: Ready to Merge, Next Release, improvement

#4751 [test] unignore tests for #4607
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: Ready to Merge, Next Release, improvement

#4754 Added config option for spout parallelism
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  confd/templates/history-topology/history-topology.tmpl
  confd/templates/nbworker-topology/nbworker-topology.tmpl
  confd/templates/network-topology/network-topology.tmpl
  confd/templates/opentsdb-topology/opentsdb-topology.tmpl
  confd/templates/ping-topology/ping-topology.tmpl
  confd/templates/reroute-topology/reroute-topology.tmpl
  confd/templates/server42/server42-control-topology.tmpl
  confd/templates/stats-topology/stats-topology.tmpl
  confd/vars/main.yaml
Labels: Ready to Merge, C/OTSDB, C/NBWORKER, Next Release, C/PING, C/NETWORK, C/REROUTE, improvement, C/FLOW-HS, C/FLOW-MONITOR, C/HISTORY

#4767 Fix flow path endpoints in flow dump for update flow operation
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
Labels: Ready to Merge, Next Release, C/FLOW-HS, bugfix

#4778 Add test to validate non existing lag port creation
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge, Next Release

#4780 Unignore test according to #4733
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogicalPortSpec.groovy
Labels: area/testing, Ready to Merge, Next Release, improvement

#4790 Fix groups install in switch sync operation
  src-java/floodlight-service/floodlight-modules/build.gradle
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutor.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/rulemanager/OfGroupConverter.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/command/rulemanager/OfBatchExecutorTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/rulemanager/OfGroupConverterTest.java
  src-java/rule-manager/rule-manager-api/src/main/java/org/openkilda/rulemanager/GroupSpeakerData.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/service/BroadCastDiscoveryRuleGenerator.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImpl.java
Labels: C/FL, On Review, tested, bugfix

#4786 update makefile template according to #4734
  confd/templates/makefile/makefile.tmpl
Labels: Ready to Merge, improvement

#4792 Fix max length value for port out actions built using RuleManager
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/converter/rulemanager/OfInstructionsConverter.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/OfInstructionsConverterTest.java
  src-java/floodlight-service/floodlight-modules/src/test/java/org/openkilda/floodlight/converter/rulemanager/OfGroupConverterTest.java
Labels: C/FL, On Review, bugfix

#4787 ignore test with lldp in singleTable mode
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: area/testing, Ready to Merge, improvement
