Repository telstra/open-kilda, pull requests merged in 2022-11, with the labels that each got.

#4977 Set lacp_reply to true if value is not specified
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/LagPortRequest.java
Labels: C/NB, Next Release, bugfix

#4978 Added info about latency into create/update logs
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/logger/FlowOperationsDashboardLogger.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/ValidateYFlowAction.java
Labels: Next Release, improvement, C/FLOW-HS

#4981 Fixed updating of one switch Y flow
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/ValidateYFlowAction.java
  src-java/kilda-model/src/main/java/org/openkilda/model/YSubFlow.java
Labels: Next Release, C/FLOW-HS, bugfix

#4979 Raised memory limits in docker-compose
  .env.example
  confd/templates/docker-compose/docker-compose.tmpl
Labels: area/ops, Next Release, improvement

#4946 Added tests and removed dead code
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/switches/v2/MisconfiguredInfo.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/ExcludeFilter.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchValidateRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FeatureTogglesBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/storm/bolt/swmanager/SwitchManagerWorker.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/GroupsValidationDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/LogicalPortsValidationDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/MetersValidationDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/RulesValidationDto.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/switches/SwitchValidationResult.java
  src-java/northbound-service/northbound-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/SwitchMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/MessageExchanger.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/SwitchMapperTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/SwitchServiceTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/service/impl/SwitchServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchValidateService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsmTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchValidateFsmTest.java
Labels: feature, Ready to Merge, C/NB, Next Release, C/SWMANAGER

#4989 Fixed updating of Y flow while one subflow is one switch
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/ValidateYFlowAction.java
Labels: Next Release, C/FLOW-HS, bugfix

#4942 Fixed path search with max latency over under-maintenance isls
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/BaseResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowCreateServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/FlowUpdateServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowCreateServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowRerouteServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowUpdateServiceTest.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/PathWeight.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/DiversityPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/ProtectedPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostAndBandwidthPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/CostPathComputationStrategyTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/FindPathWithLatencyLimitsTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/LatencyPathComputationStrategyBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/model/PathWeightTest.java
Labels: area/pce, Next Release, C/FLOW-HS, bugfix

#5001 Revert #4875 "Add static code analysis for Groovy"
  .github/workflows/mega-linter.yml
  README.md
Labels: area/testing, Next Release, improvement

#4999 Add maxLatency validation
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/ValidatorUtils.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidatorTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
Labels: Next Release, C/FLOW-HS, bugfix

#4987 Update test retry options
  src-java/testing/functional-tests/build.gradle
Labels: area/testing, Ready to Merge

#5005 Add ability to have equal max_latency and max_latency_tier2
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/ValidatorUtils.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/ValidatorUtilsTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidatorTest.java
Labels: Next Release, C/FLOW-HS, bugfix

#5003 Add logging of all API request bodies on info level
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/SwitchController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FeatureTogglesServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FlowServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/HealthCheckImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/KildaConfigurationServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/LinkServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/NetworkServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/SwitchServiceImpl.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/YFlowServiceImpl.java
Labels: Next Release, improvement
