Repository telstra/open-kilda, pull requests merged in 2022-09, with the labels that each got.

#4935 Fix flow sync deactivate action
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/common/FlowHsService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/path/FlowPathService.java
Labels: Ready to Merge, C/FLOW-HS, bugfix

#4932 Added "discover new isls in under maintenance mode" feature with toggle;
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/model/system/FeatureTogglesDto.java
  src-java/kilda-model/src/main/java/org/openkilda/model/KildaFeatureToggles.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaFeatureTogglesFrame.java
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/controller/isl/IslFsm.java
Labels: feature, area/isl, Next Release, C/NETWORK, tested

#4943 Added description about vlan stat rules into cookies.md
  docs/design/multi-table-pipelines/cookies.md
Labels: area/docs, feature, Next Release

#4914 Fixed incorrect updating of LLDP/ARP connected devices on switch
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsServiceTest.java
Labels: C/NBWORKER, Next Release, bugfix

#4939 Test/connected devices fix and extension
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
Labels: area/testing, Next Release, bugfix
