Repository telstra/open-kilda, pull requests merged in 2022-05, with the labels that each got.

#4762 Added connected devices index. Part 1
  docker/db-migration/migrations/020-add-unique-index-field-for-switch-connected-devices.yaml
  docker/db-migration/migrations/root.yaml
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaBaseEdgeFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/KildaBaseVertexFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/SwitchConnectedDeviceFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaSwitchConnectedDevicesRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaSwitchConnectedDevicesRepositoryTest.java
Labels: Next Release, improvement, DB Migration, C/CONNECTED

#4771 Changed examples of flow history endpoint
  docs/design/flow-history-get/flow-history-get.md
  docs/design/flow-history-get/flow-history-get.png
  docs/design/flow-history-get/flow-history-get.puml
Labels: area/docs, Next Release

#4773 Implemented new human-readable timestamp field in flow history
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowDumpPayload.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowHistoryEntry.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/history/FlowHistoryPayload.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/mappers/HistoryMapperTest.java
Labels: area/messages, C/NBWORKER, Next Release

#4777 Fix exception while removing ISL with deactivated endpoint switch
  src-java/network-topology/network-storm-topology/src/main/java/org/openkilda/wfm/topology/network/service/NetworkUniIslService.java
Labels: Next Release, C/NETWORK, bugfix

#4798 Fix response payload of y-flow read paths
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowPathMapper.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/IntersectionComputer.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowPathsResponse.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/YFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadServiceTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/SubFlowPath.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowPath.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowPaths.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowRerouteResult.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowSyncResult.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/YFlowMapper.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: On Review, improvement, C/FLOW-HS

#4802 [test] minor fixes for stability
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowMonitoringSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
Labels: area/testing, Next Release

#4800 Add history topology to healthcheck spec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
Labels: area/testing, Next Release

#4789 [test] refactor SwitchSyncSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
Labels: area/testing, Next Release, improvement

#4775 [test] allow vxlan tests on a local env
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: area/testing, Next Release, improvement

#4794 Use OVS from kilda/ovs repo
  docker/base/kilda-base-lab-service/Dockerfile
Labels: Next Release, improvement

#4803 Add check for timestamp iso format #4773
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
Labels: area/testing, Next Release

#4784 Add LAG ports test for #4725
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Next Release

#4779 Added unique index for switch connected devices. Part 2
  docker/db-migration/migrations/021-add-unique-constraint-for-switch-connected-devices.yaml
  docker/db-migration/migrations/root.yaml
Labels: Ready to Merge, improvement, DB Migration

#4770 [test] adjust swapEndpointSpec to #4708
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: Ready to Merge, improvement

#4814 Use batches to send sync commands
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/main.yaml
  docs/design/hub-and-spoke/switch-sync/switch-sync-fsm.dot
  docs/design/hub-and-spoke/switch-sync/switch-sync-fsm.png
  src-java/base-topology/base-storm-topology/src/release/resources/topology.properties.example
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/utils/RuleManagerHelper.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/utils/RuleManagerHelperTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/SwitchManagerTopologyConfig.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/bolt/SwitchManagerHub.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/CreateLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/DeleteLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/LagPortOperationService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/LagPortPoolEntityAdapter.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/UpdateLagPortService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/configs/LagPortOperationConfig.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/configs/SwitchSyncConfig.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsmTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchSyncServiceTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/UpdateLagPortServiceTest.java
Labels: Ready to Merge, C/SWMANAGER, tested, bugfix

#4816 Fix recording old flow paths (consistency issue)
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowPathMapper.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/HistoryMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/FlowPathSwappingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowStatsOnNewPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowStatsOnRemovedPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/NotifyFlowStatsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/NotifyFlowStatsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheService.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheServiceTest.java
Labels: Ready to Merge, On Review, tested, C/FLOW-HS, bugfix

#4807 Rework delete service rules API to use RuleManager implementation
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/DeleteRulesAction.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesDeleteRequest.java
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/messaging/command/switches/SwitchRulesInstallRequest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/utils/RuleManagerHelper.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/utils/RuleManagerHelperTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleService.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandsBatch.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/CommandsQueue.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/PredicateBuilder.java
Labels: Ready to Merge, C/FL, C/SWMANAGER, improvement, tested

#4815 Support one-switch y-flows
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/AllocateYFlowResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/CreateSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/validation/YFlowValidationService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/RequestedFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/RequestedFlow.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/validation/YFlowSwitchFlowEntriesBuilder.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidatorTest.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/adapter/InMemoryDataAdapter.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/EgressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressYRuleGeneratorTest.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/BaseFlowPathInfo.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/UpdateFlowPathInfo.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/UpdateYFlowStatsInfo.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/YFlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowUpdateSpec.groovy
Labels: feature, Ready to Merge, C/PING, C/FLOW-HS

#4681 increase SERVER42_LOGGING_TIMEOUT due to #4678
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4795 decrease kilda_flow_sla_check_shard_count(10->1) for local env
  confd/vars/main.yaml
Labels: Ready to Merge, improvement

#4822 minor fixes in FlowLoop/RoundTripIsl/YFlowCreateSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/RoundTripIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge

#4742 Test/improve y flow reroute spec
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/YFlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: Ready to Merge, improvement

#4812 Fix switch sync can't handle misconfigured and exess rules with the same cookie
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/fsm/SwitchSyncFsm.java
Labels: Ready to Merge, C/SWMANAGER, tested, bugfix

#4823 [test] remove atdd-staging
  confd/conf.d/atdd-staging.kilda_properties.toml
  confd/conf.d/atdd-staging.log4j2.toml
  confd/conf.d/perf-tests.kilda_properties.toml
  confd/templates/atdd-staging/kilda.properties.tmpl
  confd/templates/atdd-staging/log4j2.xml.tmpl
  docker/atdd-staging/Dockerfile
  src-java/settings.gradle
  src-java/testing/atdd-staging/.gitignore
  src-java/testing/atdd-staging/README.md
  src-java/testing/atdd-staging/build.gradle
  src-java/testing/atdd-staging/kilda.properties.example
  src-java/testing/atdd-staging/src/checkstyle/checkstyle-suppressions.xml
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/config/ServiceConfig.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/config/SharedObjectsConfig.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/config/TopologyConfig.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/DefaultFlowsChecker.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/FlowSet.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/TopologyChecker.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/helpers/TopologyUnderTest.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/service/flowmanager/FlowManager.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/service/flowmanager/FlowManagerImpl.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/CommonSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/FlowSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/HealthCheckSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/LinkPropertiesSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/LinkSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/SwitchSteps.java
  src-java/testing/atdd-staging/src/main/java/org/openkilda/atdd/staging/steps/TopologyVerificationSteps.java
  src-java/testing/atdd-staging/src/main/resources/cucumber.properties
  src-java/testing/atdd-staging/src/main/resources/cucumber.xml
  src-java/testing/atdd-staging/src/main/resources/features/discovery_mechanism.feature
  src-java/testing/atdd-staging/src/main/resources/features/northbound_smoke.feature
  src-java/testing/atdd-staging/src/main/resources/log4j2.xml
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/config/StubServiceConfig.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/config/TestTopologyConfig.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/cucumber/CucumberWithSpringProfile.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/FlowManagerTest.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/atdd/staging/service/StubServiceFactory.java
  src-java/testing/atdd-staging/src/test/java/org/openkilda/messaging/command/BroadcastWrapperTest.java
  src-java/testing/atdd-staging/src/test/resources/3-switch-test-topology.yaml
  src-java/testing/atdd-staging/src/test/resources/5-switch-test-topology.yaml
  src-java/testing/atdd-staging/topology.yaml.example
Labels: area/testing, Ready to Merge

#4808 Test/yflow final
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/YFlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/SubFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowProtectedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowValidationSpec.groovy
Labels: area/testing, Ready to Merge

#4661 [test] downgrade test-logger version
  src-java/testing/functional-tests/build.gradle
Labels: area/testing, Ready to Merge

#4819 Fixed incorrect flow sharding in FlowMonitoring topology
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/test/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionServiceTest.java
Labels: Ready to Merge, bugfix, C/FLOW-MONITOR

#4826 [test] add for #4824 #4825
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowValidationSpec.groovy
Labels: area/testing, Ready to Merge
