Repository telstra/open-kilda, pull requests merged in 2022-08, with the labels that each got.

#4905 Changed error message for illegal state in predicate builder
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/PredicateBuilder.java
Labels: Next Release, C/SWMANAGER, bugfix

#4907 Add note to Northbound API v1 page.
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/SwaggerConfig.java
Labels: C/NB, Next Release, improvement

#4904 Fixed and enabled test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: area/testing, Next Release, tested, bugfix

#4901 Removal action now saves dump once for both primary and protected paths
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/CompleteFlowPathRemovalAction.java
Labels: Next Release, C/FLOW-HS, bugfix

#4900 Unignore test according to #3847
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
Labels: area/testing, Next Release, tested

#4889 Fixed path filtering by maxLatency
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/network/Path.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/network/PathDto.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/PathMapper.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/Path.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/PathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/model/FindOneDirectionPathResult.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/FilteringByMaxWeightTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/MaxLatencyPathComputationStrategyBaseTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/PathMapper.java
Labels: area/pce, C/NBWORKER, Next Release, bugfix

#4909 Fixed OVERWRITE_DEFAULTS action on delete rules
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/impl/PredicateBuilder.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Next Release, C/SWMANAGER, bugfix, area/rule-manager

#4902 Added diverse and affinity group IDs to flow history update dump
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/SkipPathsAndResourcesDeallocationAction.java
Labels: Next Release, C/FLOW-HS, bugfix

#4921 adding new test for the vxlan flow ping
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
Labels: area/testing, Next Release

#4929 Fixed flow monitoring
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/FlowUpdateFsm.java
Labels: area/hw, Next Release, C/FLOW-HS, bugfix

#4908 LAG port removal test fix - removing redundant checks, and fix source of ports array
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Next Release, improvement

#4936 Delete switch connected devices before switch delete
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/SwitchOperationsService.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchDeleteSpec.groovy
Labels: Ready to Merge, C/NBWORKER, tested, bugfix

#4937 Do not install/remove shared rules for mirrors
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressMirrorFlowSegmentInstallCommand.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/command/flow/ingress/IngressMirrorFlowSegmentRemoveCommand.java
Labels: Ready to Merge, C/FL, bugfix

#4941 Relaxing devel env memory limits
  .env.example
Labels: Ready to Merge, bugfix
