Repository telstra/open-kilda, pull requests merged in 2023-03, with the labels that each got.

#5071 Added vlan in range check for flow statistics
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
Labels: Next Release, tested, C/FLOW-HS, bugfix

#5043 4991 Updated Grpc Exception Handler
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/utils/GrpcExceptionHandler.java
Labels: Next Release, tested, bugfix

#5092 Really ignore generated kafka-conf/server.properties file
  docker/.gitignore
Labels: area/config, Next Release, tested, bugfix

#5055 Fix validation for maxLatency and maxLatencyTier on Flow update.
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/InvalidFlowException.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/validation/ValidatorUtils.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/FlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/create/actions/ValidateRequestAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/swapendpoints/actions/ValidateFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/ValidatorUtilsTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/YFlowValidatorTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowPatchBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: Next Release, tested, bugfix

#5113 restructuring and extending tests for maxLatency (tier2) update on patch endpoint
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
Labels: area/testing, Next Release, bugfix

#5056 fix yflow is not created without max_bandwidth bug
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/yflow/YFlowEndpointResources.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowCreateServiceTest.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/RuleManagerImpl.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/main/java/org/openkilda/rulemanager/factory/generator/flow/TransitYRuleGenerator.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/RuleManagerServiceRulesTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/MultiTableIngressYRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/SingleTableIngressYRuleGeneratorTest.java
  src-java/rule-manager/rule-manager-implementation/src/test/java/org/openkilda/rulemanager/factory/generator/flow/TransitYRuleGeneratorTest.java
Labels: Ready to Merge, tested, bugfix, area/rule-manager

#5093 Added ability to turn off storm topologies run
  .gitignore
  README.md
  confd/conf.d/wfm.app.makefile.toml
  confd/conf.d/wfm.dockerfile.toml
  confd/templates/wfm/app/makefile.tmpl
  confd/templates/wfm/dockerfile.tmpl
  confd/vars/docker-compose.yaml
Labels: area/config, Ready to Merge, improvement, tested

#5108 Improve performance of SwitchConnectedDevices storing
  docker/db-migration/migrations/025-optimise-switch-connected-device-class.yaml
  docker/db-migration/migrations/root.yaml
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/test/java/org/openkilda/wfm/topology/connecteddevices/service/PacketServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/SwitchConnectedDevice.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/SwitchConnectedDeviceRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/SwitchConnectedDeviceFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaSwitchConnectedDevicesRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaSwitchConnectedDevicesRepositoryTest.java
Labels: Ready to Merge, improvement, tested, DB Migration

#5065 #5042: Quick fix to update flow creation errors in low priority tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV1Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge

#5127 Fixing low priority test on updated error description
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV1Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
Labels: area/testing, Next Release

#5128 5013 max bandwidth from topologyyaml is not applying
  src-java/testing/functional-tests/src/test/resources/topology.yaml
Labels: Next Release, improvement

#5036 #4984: fix sub flow descriptions
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/YFlowRequestMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/YFlowRequestMapperTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowUpdateServiceTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepositoryTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowUpdateSpec.groovy
Labels: Next Release, tested, bugfix

#5070 Path validation
  docs/design/solutions/path-validation/path-validation.md
  src-java/base-topology/base-messaging/build.gradle
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/network/PathValidationResult.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/network/PathDto.java
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/payload/network/PathValidationPayload.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/PathValidateRequest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/PathValidationData.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/PathFinder.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/FlowEncapsulationTypeMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/PathValidationDataMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/PathsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/RouterBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/PathsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/validators/PathValidator.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/PathsServiceTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/validators/PathValidatorTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/PathValidateResponse.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/NetworkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/NetworkControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/PathMapper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/NetworkService.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/NetworkServiceImpl.java
Labels: area/docs, feature, Next Release, tested

#5107 #5067: Added vlan in range check for flow statistics tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: area/testing, Next Release

#5064 Fixed bug with empty vlan stats and set vlans
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
Labels: C/NBWORKER, Next Release, tested, bugfix

#5078 Ability to add single switch flow into diverse group Closes #2072
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/IntersectionComputer.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/share/service/IntersectionComputerTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidatorTest.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/AvailableNetwork.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/DiversityPathFinderTest.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/AvailableNetworkTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
Labels: feature, Ready to Merge, tested

#5104 #5063: Can't patch flow with empty vlan stats and non zeros src/dst v…
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: area/testing, Next Release, improvement

#5012 Added Kilda High Level Design doc
  README.md
  docs/design/kilda-high-level-design/design.md
  docs/design/kilda-high-level-design/kilda_design.png
Labels: area/docs, Next Release, improvement

#5126 fix findOverLargeIslands unit test
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/InMemoryPathComputerBaseTest.java
Labels: area/testing, area/pce, Next Release

#5123 5075 bugfix - tests added to framework
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: Next Release, improvement, bugfix

#4836 Attempt to fix funcional tests inaccurate error reporting
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/Wrappers.groovy
Labels: area/testing, Next Release, tested

#5142 Remove useless actions from Y flow FSMs
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/YFlowProcessingFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/YFlowCreateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnReceivedRemoveResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnReceivedValidateResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/delete/actions/OnReceivedRemoveResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/YFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnReceivedRemoveResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnReceivedValidateResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/YFlowUpdateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnReceivedInstallResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnReceivedRemoveResponseAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnReceivedValidateResponseAction.java
Labels: Next Release, improvement, tested

#5143 Decrease stats pull timeout in Stats topology test
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
Labels: Next Release, improvement

#5132 [TEST] Asynchronous healthcheck
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
Labels: area/testing, Next Release, improvement

#5106 Issue 5083: add description field to v1 link props
  docker/db-migration/migrations/026-add-description-prop.yaml
  docker/db-migration/migrations/root.yaml
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/event/IslInfoData.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/IslMapper.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/LinkPropsMapper.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Isl.java
  src-java/kilda-model/src/main/java/org/openkilda/model/LinkProps.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/IslFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/LinkPropsFrame.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v1/links/LinkDto.java
  src-java/northbound-service/northbound-api/src/test/java/org/openkilda/northbound/dto/JsonSerializationTest.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/converter/LinkMapperTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceImpl.java
Labels: Next Release, improvement, tested

#5094 Improvement/readme description floodlight debug
  README.md
  src-java/floodlight-service/floodlight-modules/README.md
Labels: area/docs, Next Release, improvement, tested
