Repository telstra/open-kilda, pull requests merged in 2023-09, with the labels that each got.

#5350 5170: [TEST] Ha flow: Verify the absence of common ISLs in main and protected paths
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/builder/HaFlowBuilder.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/FlowPathModel.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowAllEntityPaths.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowExtended.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/Path.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/PathModel.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/PathNodes.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPathsSpec.groovy
Labels: area/testing, Next Release, improvement

#5250 Add HA-Flows support to Flow Stats
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/haflow/HaSubFlowDto.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/HaFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowReadService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/HaFlowMapperTest.java
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/FlowStatsService.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowStats.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowStatsRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbFlowRepository.java
  src-java/kilda-persistence-orientdb/src/main/java/org/openkilda/persistence/orientdb/repositories/OrientDbRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/frames/FlowStatsFrame.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowStatsRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaHaSubFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaRepositoryFactory.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowStatsRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/repositories/InMemoryRepositoryFactory.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/haflows/HaSubFlow.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/HaFlowMapper.java
Labels: feature, Ready to Merge, tested

#5354 5345: [TEST] Skip rebuilding topology and health check if required
  src-java/testing/functional-tests/kilda.properties.example
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/extension/env/EnvExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
Labels: area/testing, Ready to Merge, improvement

#5365 Fix for gather group stats.
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/statistics/StatisticsService.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/bolts/CacheBolt.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/GroupStatsHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheService.java
Labels: Ready to Merge, bugfix

#5322 Test/ha flow history - basic tests for ha flow history
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowHistory.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowHistorySpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowActionType.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowDumpPayload.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowHistoryEntry.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowHistoryPayload.java
Labels: area/api, area/testing, Ready to Merge

#5359 5357: [TEST]: Add cleanup to make tests Tidy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/UnstableIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortAntiflapSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/PortPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
Labels: area/testing, Ready to Merge, improvement

#3440 Add first part of design for LACP support
  docs/design/lacp/README.md
  docs/design/lacp/lacp-usage-scenario.png
  docs/design/lacp/lacpdu-capture.png
  docs/design/lacp/lacpdu-capture.puml
Labels: area/docs, Ready to Merge

#5355 Update Flow graph in GUI for VictoriaMetrics #5295
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/functional-tests/kilda.properties.tmpl
  confd/templates/gui/application.properties.tmpl
  confd/vars/main.yaml
  src-gui/build.gradle
  src-gui/src/main/java/org/openkilda/config/ApplicationProperties.java
  src-gui/src/main/java/org/openkilda/constants/Direction.java
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/constants/Metrics.java
  src-gui/src/main/java/org/openkilda/constants/OpenTsDb.java
  src-gui/src/main/java/org/openkilda/controller/StatsController.java
  src-gui/src/main/java/org/openkilda/exception/InvalidRequestException.java
  src-gui/src/main/java/org/openkilda/integration/converter/PortConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/Filter.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/integration/service/NetworkIntegrationService.java
  src-gui/src/main/java/org/openkilda/integration/service/StatsIntegrationService.java
  src-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/victoria/MetricValues.java
  src-gui/src/main/java/org/openkilda/model/victoria/RangeQueryParams.java
  src-gui/src/main/java/org/openkilda/model/victoria/Status.java
  src-gui/src/main/java/org/openkilda/model/victoria/VictoriaData.java
  src-gui/src/main/java/org/openkilda/model/victoria/VictoriaStatsRes.java
  src-gui/src/main/java/org/openkilda/model/victoria/dbdto/VictoriaDbData.java
  src-gui/src/main/java/org/openkilda/model/victoria/dbdto/VictoriaDbRes.java
  src-gui/src/main/java/org/openkilda/model/victoria/dbdto/VictoriaDbStats.java
  src-gui/src/main/java/org/openkilda/service/ApplicationService.java
  src-gui/src/main/java/org/openkilda/service/StatsService.java
  src-gui/src/main/java/org/usermanagement/service/MailService.java
  src-gui/src/main/java/org/usermanagement/util/CollectionUtils.java
  src-gui/src/main/resources/application.properties.example
  src-gui/src/test/java/org/openkilda/service/StatsServiceTest.java
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/data-models/flowMetricTsdb.ts
  src-gui/ui/src/app/common/data-models/flowMetricVictoria.ts
  src-gui/ui/src/app/common/dygraph/dygraph.component.ts
  src-gui/ui/src/app/common/services/dygraph.service.ts
  src-gui/ui/src/app/common/services/flows.service.ts
  src-gui/ui/src/app/modules/flows/flow-graph/flow-graph.component.html
  src-gui/ui/src/app/modules/flows/flow-graph/flow-graph.component.ts
  src-gui/ui/src/app/modules/flows/flow-path-graph/flow-path-graph.component.ts
  src-gui/ui/src/styles.css
Labels: feature, Ready to Merge, tested, Env Configuration

#5369 [TEST] Ha-Flow: History: Expanding suite
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowExtended.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowHistory.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowRerouteSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowActionType.java
Labels: area/testing, Ready to Merge, improvement

#5361 Introduce getting actual paths from PCE when executing path check API.
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/info/network/PathValidationResult.java
  src-java/kilda-model/src/main/java/org/openkilda/model/PathValidationData.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/GetPathsResult.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/PathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/FailReasonType.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/RequestedPath.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/finder/ProtectedPathFinderTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/IslRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaIslRepository.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/share/mappers/PathValidationDataMapper.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/PathsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/validators/PathComputationValidator.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/validators/PathValidator.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/validators/PathComputationValidatorTest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/validators/PathValidatorTest.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/PathValidateResponse.java
Labels: area/pce, feature, area/northbound, Ready to Merge, tested

#5372 #5361: [TEST] PCE response in path check API
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPairs.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathCheckSpec.groovy
Labels: area/testing, Ready to Merge

#5358 #5250: [TEST] Ha-Flow latency stats
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/HaFlowStatSpec.groovy
Labels: area/testing, Ready to Merge

#5364 Fix PathValidator to consider all flows in a diverse group
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/validators/PathValidator.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/validators/PathValidatorTest.java
Labels: area/ops, Ready to Merge, tested, bugfix

#5338 Allow to use epoch time in seconds or millisecond in history API.
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetFlowHistoryRequest.java
  src-java/nbworker-topology/nbworker-messaging/src/main/java/org/openkilda/messaging/nbtopology/request/GetFlowStatusTimestampsRequest.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/HistoryOperationsBolt.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/FlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/HaFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/converter/LongToInstantConverter.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/utils/flowhistory/FlowHistoryHelper.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/utils/flowhistory/FlowHistoryRangeConstraints.java
Labels: area/api, area/northbound, Ready to Merge, improvement, tested, C/HISTORY

#5389 Added more options for topologies parallelism
  confd/templates/floodlightrouter-topology/floodlightrouter-topology.tmpl
  confd/templates/flowhs-topology/flowhs-topology.tmpl
  confd/templates/flowmonitoring-topology/flowmonitoring-topology.tmpl
  confd/templates/history-topology/history-topology.tmpl
  confd/templates/nbworker-topology/nbworker-topology.tmpl
  confd/templates/reroute-topology/reroute-topology.tmpl
  confd/templates/server42/server42-control-topology.tmpl
  confd/vars/main.yaml
Labels: Ready to Merge, improvement, Env Configuration

#5377 5317 [TEST]: HA-Flow: History: Retrieving data by timestamp in milliseconds
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowHistorySpec.groovy
Labels: area/testing, Next Release, improvement

#5388 [TEST]: Path check: Diverse: Check all flows from group
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPairs.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathCheckSpec.groovy
Labels: area/testing, Next Release, improvement

#5403 Fixed a typo in FlowHS template
  confd/templates/flowhs-topology/flowhs-topology.tmpl
Labels: Next Release, bugfix

#5392 #5390: [TEST] Stabilize flaky Switch sync test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
Labels: area/testing, Next Release, improvement

#5387 #5346: [TEST] Collect application logs if test is failed
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/CollectFailedTestLogsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/LogParallelSpecsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/RegisterListenersExtension.groovy
Labels: area/testing, Ready to Merge, improvement

#5376 Change MySQL docker image version to 8.0.34
  confd/templates/docker-compose/docker-compose.tmpl
  confd/vars/main.yaml
Labels: Ready to Merge, area/persistence, tested

#5398 Remove vintage junit deps
  src-java/build.gradle
  src-java/flowhs-topology/flowhs-messaging/src/test/java/org/openkilda/messaging/SerializationTest.java
Labels: Next Release, improvement, tested

#5318 Bugfix/5303 reroute yflow correct response if already on best path
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/error/ErrorType.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/PostResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/YFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/CompleteYFlowReroutingAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/HandleNotReroutedSubFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnSubFlowReroutedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/utils/YFlowUtils.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractYFlowTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowRerouteServiceTest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/utils/NorthboundExceptionHandler.java
Labels: Ready to Merge, tested, bugfix

#5293 open-kilda-5264 GUI: Add ability to reroute YFlow via UI
  src-gui/src/checkstyle/checkstyle.xml
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/YFlowController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/FlowV2.java
  src-gui/src/main/java/org/openkilda/integration/service/FlowsIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/FlowInfo.java
  src-gui/src/main/java/org/openkilda/model/PathNodeV2.java
  src-gui/src/main/java/org/openkilda/model/YFlowRerouteResult.java
  src-gui/src/main/java/org/openkilda/service/YFlowService.java
  src-gui/ui/src/app/common/services/flows.service.ts
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.html
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/HandleNotReroutedSubFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractYFlowTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowRerouteServiceTest.java
Labels: Ready to Merge, improvement, tested
