Repository telstra/open-kilda, pull requests merged in 2023-07, with the labels that each got.

#5246 adding ticket reference field in isl detail
  src-gui/ui/src/app/common/components/islmaintenancemodal/islmaintenancemodal.component.css
  src-gui/ui/src/app/common/components/islmaintenancemodal/islmaintenancemodal.component.html
  src-gui/ui/src/app/common/components/islmaintenancemodal/islmaintenancemodal.component.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/common/services/isl-list.service.ts
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.css
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
Labels: area/gui, Ready to Merge, Next Release, tested, Ready For Testing

#5245 open-kilda-4922 [Kilda GUI] wrong port information on switch port page
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  src-gui/ui/src/app/modules/switches/port-graph/port-graph.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/rule-details/rule-details.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
  src-gui/ui/src/app/modules/switches/switch-meters/switch-meters.component.ts
Labels: area/gui, Ready to Merge, Next Release, improvement, tested, bugfix

#5253 [Kilda GUI] GUI Switch details page sends one API request per each switch port
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/controller/SwitchController.java
  src-gui/src/main/java/org/openkilda/integration/converter/FlowConverter.java
  src-gui/src/main/java/org/openkilda/integration/model/response/SwitchFlowsPerPort.java
  src-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  src-gui/src/main/java/org/openkilda/model/SwitchFlowsInfoPerPort.java
  src-gui/src/main/java/org/openkilda/service/SwitchService.java
  src-gui/ui/src/app/common/services/switch.service.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
Labels: area/gui, Ready to Merge, Next Release, tested

#4940 Able to write stats data in multiple OpenTSDB dabases
  .env.example
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/vars/docker-compose.yaml
  confd/vars/main.yaml
  docs/design/otsdb-vs-victoriametrics/README.md
  src-java/kilda-configuration/src/main/java/org/openkilda/config/KafkaTopicsConfig.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/checkstyle/checkstyle-suppressions.xml
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyConfig.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/StatsDatapointTupleMapper.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/OpenTsdbFilterBolt.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/bolt/OpenTsdbFilterBoltTest.java
Labels: Ready to Merge, C/OTSDB, improvement, tested

#5225 HA flows Part 16: Add auto reroute
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/logger/FlowOperationsDashboardLogger.java
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/service/IntersectionComputer.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/BaseRerouteRequest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/flow/FlowRerouteRequest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/haflow/HaFlowRerouteRequest.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/yflow/YFlowRerouteRequest.java
  src-java/flowhs-topology/flowhs-messaging/src/test/java/org/openkilda/messaging/SerializationTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/HaFlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/RouterBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/create/HaFlowCreateFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/create/actions/CompleteHaFlowCreateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/create/actions/ResourcesAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/delete/actions/ValidateHaFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/HaFlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/RecalculateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/UpdateHaFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/HaFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/BuildNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/OnNoPathFoundAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/ValidateHaFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/update/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteContext.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/FlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/reroute/actions/ValidateFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/YFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/OnSubFlowReroutedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/RerouteSubFlowsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/reroute/actions/ValidateYFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/FlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowRerouteServiceTest.java
  src-java/kilda-model/src/main/java/org/openkilda/model/Flow.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPathStatus.java
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowStatus.java
  src-java/kilda-model/src/main/java/org/openkilda/model/HaFlow.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/HaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaHaFlowRepository.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/FlowOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/LinkOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/SwitchOperationsBolt.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/MessageSender.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/bolts/RerouteBolt.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/model/FlowThrottlingData.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/model/RerouteQueue.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueService.java
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteService.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueServiceTest.java
  src-java/reroute-topology/reroute-storm-topology/src/test/java/org/openkilda/wfm/topology/reroute/service/RerouteServiceTest.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowIntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowRerouteSpec.groovy
Labels: feature, Ready to Merge, tested

#5254 open-kilda-5226 Remove `yFlow.shared.*` Opentsdb metrics
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/FlowEndpointStatsEntryHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/MeterStatsHandler.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/StatsHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/model/stats/StatsMetric.groovy
Labels: Ready to Merge, improvement, tested

#5257 open-kilda-5255 GUI: Add inner vlans into Edit flow page
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.html
  src-gui/ui/src/app/modules/flows/flow-edit/flow-edit.component.ts
Labels: area/gui, feature, Ready to Merge, tested

#5259 open-kilda-5258 Unite SpeakerWorkerForDumpsBolt for flow/yflow/haflow…
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopologyConfig.java
Labels: Ready to Merge, improvement, tested

#5261 [TEST] Fix negative scenario tests running on HW environment only
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5236 #5141: [TEST] Excess rules when update flow with stats VLANs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5299 modify topology.tmpl to not include the VictoriaMetrics
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/vars/test-vars.yaml
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopology.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
Labels: area/stats, area/ops, Ready to Merge, tested
