Repository telstra/open-kilda, pull requests merged in 2023-05, with the labels that each got.

#5185 Y flow paths update on diverse flows Update/Patch API
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/update/actions/OnSubFlowUpdatedAction.java
Labels: Next Release, tested, bugfix

#5189 #5175: [TEST] Incorrect get paths response for Y-Flow after partial update
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
  src-python/lab-service/lab/requirements.txt
Labels: area/testing, Next Release, improvement

#5188 Set the python requests library version for lab
  src-python/lab-service/lab/requirements.txt
Labels: area/cicd, Ready to Merge

#5173 #5148: [TEST] Add ability to read HA paths
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaPathHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPathsSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: area/testing, Next Release, improvement

#5183 Update logic to exclude redundant sub flows from diversity section
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/yflow/YFlowReadService.java
Labels: Next Release, tested, bugfix

#5193 #5181: [TEST] Y flow get paths API must not return sub flows of the same Y flow in diversity group section
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
Labels: area/testing, Next Release, improvement

#5194 HA flows Part 12: Add H&S partial update operation
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/logger/FlowOperationsDashboardLogger.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/HaFlowUpdateHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/mapper/HaFlowMapper.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/common/FlowProcessingService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowUpdateService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/HaFlowValidator.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/fsm/validation/FlowValidationTestBase.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/mapper/HaFlowMapperTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/AbstractHaFlowTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowReadServiceTest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowUpdateServiceTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/HaFlowRepository.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/YFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaHaFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaHaFlowRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaYFlowRepositoryTest.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/inmemory/InMemoryGraphBasedTest.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowProtectedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowUpdateSpec.groovy
Labels: feature, On Review, tested, C/FLOW-HS

#4892 Add payload validation for API v2
  src-java/base-topology/base-messaging/src/main/java/org/openkilda/messaging/Utils.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowEndpointV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowRequestV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/SubFlowUpdatePayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowCreatePayload.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowSharedEndpoint.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowUpdatePayload.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/BaseController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/FlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/LinkControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/YFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/BaseFlowEndpointV2Validator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/FlowEndpointV2Validator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/FlowRequestV2Validator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/SubFlowUpdatePayloadValidator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/YFlowCreatePayloadValidator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/YFlowSharedEndpointEncapsulationValidator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/YFlowSharedEndpointValidator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/YFlowUpdatePayloadValidator.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/controller/v2/YFlowControllerV2Test.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
Labels: Ready to Merge, C/NB, tested, bugfix

#5202 Change flags for excess meter in SwitchSyncSpec to support WB switches
  CHANGELOG.md
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
Labels: Ready to Merge, tested

#5200 Fix HA-flow validation for protected path
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/validation/HaFlowValidationFsm.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowProtectedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowUpdateSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: Next Release, tested, C/FLOW-HS, bugfix

#5195 HA flows Part 13: Add H&S swap path operation
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/logger/FlowOperationsDashboardLogger.java
  src-java/flowhs-topology/flowhs-messaging/src/main/java/org/openkilda/messaging/command/haflow/HaFlowPathSwapRequest.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/HaFlowPathSwapHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/RouterBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/HaFlowPathSwapContext.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/HaFlowPathSwapFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/AbandonPendingCommandsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/HaFlowValidateAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/OnFinishedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/OnFinishedWithErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/RecalculateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/UpdateHaFlowPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/pathswap/actions/UpdateHaFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowPathSwapService.java
  src-java/kilda-model/src/main/java/org/openkilda/model/HaFlow.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/HaFlowServiceImpl.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPathSwapSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: feature, Next Release, tested, C/FLOW-HS

#5204 HA flows Part 15: Add H&S manual reroute operation
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/share/logger/FlowOperationsDashboardLogger.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/HaFlowRerouteHubBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/RouterBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/FlowProcessingWithHistorySupportAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/HaFlowRerouteContext.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/HaFlowRerouteFsm.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/AllocatePrimaryResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/AllocateProtectedResourcesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/BuildNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/CompleteFlowPathInstallationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/CompleteFlowPathRemovalAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/InstallIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/InstallNonIngressRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/OnFinishedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/OnFinishedWithErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/OnNoPathFoundAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/PostResourceAllocationAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/RemoveOldRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/RevertFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/RevertNewRulesAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/RevertPathsSwapAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/SetInstallRuleErrorAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/SwapFlowPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/UpdateFlowStatusAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/haflow/reroute/actions/ValidateHaFlowAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/model/yflow/YFlowPaths.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/haflow/HaFlowRerouteService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/utils/HaFlowUtils.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/HaFlowServiceImpl.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchTriplet.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/IntentionalRerouteSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/NorthboundServiceV2Impl.java
Labels: feature, Next Release, tested

#5213 Add ability to include Y-flow with one switch sub flow into diversity group
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/yflow/create/actions/OnSubFlowAllocatedAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowAffinitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
Labels: Next Release, tested, bugfix

#5205 Updated README.md - corrected steps for build process on Ubuntu
  README.md
Labels: area/docs, Next Release, improvement, tested

#5214 [TEST] Add initial mechanism to unify work with paths
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/Path.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/PathFactory.groovy
Labels: area/testing, Next Release, improvement

#5186 #3491: [TEST]Add payload validation for API V2
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/flows/FlowEndpointV2.java
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/yflows/YFlowUpdatePayload.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowUpdateSpec.groovy
Labels: area/testing, Next Release, improvement

#5216 #5198: [TEST]Fix unstable 'Create diverse HA-Flow' test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowDiversitySpec.groovy
Labels: area/testing, Ready to Merge, improvement
