Repository telstra/open-kilda, pull requests merged in 2023-01, with the labels that each got.

#5034 #4965: Can't create Y-flow with bandwidth=available bandwidth (test)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: area/testing, On Review

#5044 #5019: Ping request of Y flow with one switch subflow returns timeout bugfix test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPingSpec.groovy
Labels: area/testing, On Review

#5047 #5042: Move bw fail reason to the end of the log message tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
Labels: area/testing

#5045 fix max latency reason not shown
  src-java/kilda-pce/src/main/java/org/openkilda/pce/finder/BestWeightAndShortestPathFinder.java
  src-java/kilda-pce/src/main/java/org/openkilda/pce/impl/InMemoryPathComputer.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/impl/MaxLatencyPathComputationStrategyBaseTest.java
Labels: area/pce, Next Release, tested, bugfix

#5020 resuse bandwidth during Y create
  src-java/kilda-pce/src/main/java/org/openkilda/pce/AvailableNetworkFactory.java
  src-java/kilda-pce/src/test/java/org/openkilda/pce/AvailableNetworkFactoryTest.java
  src-java/kilda-persistence-api/src/main/java/org/openkilda/persistence/repositories/FlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/main/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepository.java
  src-java/kilda-persistence-tinkerpop/src/test/java/org/openkilda/persistence/ferma/repositories/FermaFlowPathRepositoryTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: area/pce, Next Release, tested, bugfix

#5002 Simplified and partially refactored tests in MultitableFlowsSpec
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/multitable/MultitableFlowsSpec.groovy
Labels: area/testing, Next Release

#5041 Fix Y-flow with one-switch flow ping timeout
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/OnDemandResultManager.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPingSpec.groovy
Labels: Next Release, tested, bugfix

#5049 Update description
  README.md
Labels: Next Release, improvement

#5050 Added more fields for connected devices grouping
  src-java/connecteddevices-topology/connecteddevices-storm-topology/src/main/java/org/openkilda/wfm/topology/connecteddevices/service/PacketService.java
Labels: Ready to Merge, improvement, C/CONNECTED

#5006 Stabilize YFlow swap paths steps
  Makefile
  confd/conf.d/kafka.server_properties.toml
  confd/templates/kafka/server.properties.tmpl
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/StatsHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPathSwapSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/Constants.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/otsdb/OtsdbQueryServiceImpl.java
Labels: area/testing, Next Release
