Repository telstra/open-kilda, pull requests merged in 2023-10, with the labels that each got.

#5244 Updated to support special purpose vlan 4095
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/switchmanager/SwitchManager.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/validation/FlowValidator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/BaseFlowEndpointV2Validator.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/validator/YFlowSharedEndpointEncapsulationValidator.java
  src-java/swmanager-topology/swmanager-storm-topology/src/main/java/org/openkilda/wfm/topology/switchmanager/service/SwitchRuleService.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
Labels: Ready to Merge, tested, bugfix

#5374 [TEST]: Ha-Flow/flow: History: Update event: PATCH operation
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHistoryConstants.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowExtended.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowHistory.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowHistoryEventExtension.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowHistorySpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/northbound/model/HaFlowActionType.java
Labels: area/testing, Ready to Merge, improvement

#5386 [TEST] Fix victoriametrics config key
  confd/templates/functional-tests/kilda.properties.tmpl
  confd/vars/test-vars.yaml
Labels: area/testing, Ready to Merge

#5401 #5240: [TEST] VLAN ID 4095 should be allowed
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
Labels: area/testing, Ready to Merge

#5410 [TEST]: HA-Flow: Reroute: Flaky test refactoring
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowRerouteSpec.groovy
Labels: area/testing, Ready to Merge

#5409 [TEST] Fix Mirror and some other tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/grpc/LogSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/HaFlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/TsdbSpec.groovy
Labels: area/testing, Ready to Merge

#5412 [TEST] Stabilize flaky HaFlowStats tests
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/StatsHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/CollectFailedTestLogsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/HaFlowStatSpec.groovy
Labels: area/testing, Ready to Merge

#5397 open-kilda-5393 Missed cache for mirror groups bug
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowStatsOnNewPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/common/actions/NotifyFlowStatsOnRemovedPathsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/create/actions/NotifyFlowStatsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/delete/actions/NotifyFlowStatsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/create/actions/NotifyFlowStatsAction.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/fsm/mirrorpoint/delete/actions/NotifyFlowStatsAction.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/BaseFlowPathInfo.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/HaFlowStatsInfoFactory.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/RemoveFlowPathInfo.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/UpdateFlowPathInfo.java
  src-java/stats-topology/stats-messaging/src/main/java/org/openkilda/messaging/info/stats/YFlowStatsInfoFactory.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/model/KildaEntryDescriptorHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/model/MirrorGroupDescriptor.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/AnyFlowStatsEntryHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/BaseCacheChangeHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/FlowEndpointStatsEntryHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/GroupStatsHandler.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheService.java
  src-java/stats-topology/stats-storm-topology/src/main/java/org/openkilda/wfm/topology/stats/service/MeterStatsHandler.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/service/KildaEntryCacheServiceTest.java
Labels: Ready to Merge, tested, bugfix

#5400 Test: Path check: New structure: Refactoring
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathCheckSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#4667 Feature/create lag port
  src-gui/src/main/java/org/openkilda/constants/IConstants.java
  src-gui/src/main/java/org/openkilda/constants/Metrics.java
  src-gui/src/main/java/org/openkilda/controller/SwitchController.java
  src-gui/src/main/java/org/openkilda/integration/service/StatsIntegrationService.java
  src-gui/src/main/java/org/openkilda/integration/service/SwitchIntegrationService.java
  src-gui/src/main/java/org/openkilda/log/constants/ActivityType.java
  src-gui/src/main/java/org/openkilda/model/PortInfo.java
  src-gui/src/main/java/org/openkilda/model/SwitchLogicalPort.java
  src-gui/src/main/java/org/openkilda/service/StatsService.java
  src-gui/src/main/java/org/openkilda/service/SwitchService.java
  src-gui/src/main/resources/db/import-script_33.sql
  src-gui/ui/src/app/app.module.ts
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/common/data-models/create-lag-port-model.ts
  src-gui/ui/src/app/common/services/switch.service.ts
  src-gui/ui/src/app/modules/flows/flow-detail/flow-detail.component.ts
  src-gui/ui/src/app/modules/switches/create-lag-port/create-lag-port.component.css
  src-gui/ui/src/app/modules/switches/create-lag-port/create-lag-port.component.html
  src-gui/ui/src/app/modules/switches/create-lag-port/create-lag-port.component.spec.ts
  src-gui/ui/src/app/modules/switches/create-lag-port/create-lag-port.component.ts
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.html
  src-gui/ui/src/app/modules/switches/port-details/port-details.component.ts
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.html
  src-gui/ui/src/app/modules/switches/port-list/port-list.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/styles.css
  src-java/northbound-service/northbound-api/src/main/java/org/openkilda/northbound/dto/v2/switches/LagPortRequest.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/SwitchController.java
Labels: area/gui, Ready to Merge, C/GUI, tested

#5404 [TEST] Wait for lab to become operational between test runs
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
Labels: area/testing, Ready to Merge

#5427 5424 GUI: enable to get flow path if flow name contains a dot
  src-gui/src/main/java/org/openkilda/controller/ContractController.java
  src-gui/src/main/java/org/openkilda/controller/FlowController.java
  src-gui/src/main/java/org/openkilda/controller/StatsController.java
Labels: area/gui, Ready to Merge, tested, bugfix

#5407 [TEST]: 5303: Y-Flow: Reroute
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/error/yflow/YFlowRerouteExpectedError.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/PathHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPairs.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: area/testing, Next Release

#5421 #5390: [TEST] Fix flaky VXLAN flow test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/LogParallelSpecsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowProtectedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/HaFlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/YFlowStatSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/model/EndpointReport.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/tsdb/model/StatsResult.java
Labels: area/testing, Next Release

#5433 Update requirements of changelog generator
  tools/changelog-generator/requirements.txt
Labels: Next Release, improvement

#5416 [TEST]: Fix victoria metrics key(query_path)
  confd/templates/functional-tests/kilda.properties.tmpl
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/listeners/CollectFailedTestLogsListener.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
Labels: area/testing, Next Release, improvement

#5434 [TEST]: Flaky tests: Ha-Flow: Update
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowUpdateSpec.groovy
Labels: area/testing, Next Release, improvement

#5437 Ignore lock-keeper tests in docker directory
  docker/.gitignore
Labels: Next Release, improvement, tested

#5438 Run unit tests via github actions in parallel
  .github/workflows/unittest.yml
Labels: Next Release, improvement, tested

#5436 Split StatsTopologyTest to run it in parallel
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/KafkaConfig.java
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/config/ZookeeperConfig.java
  src-java/stats-topology/stats-storm-topology/build.gradle
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyBaseTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyFlowTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyHaFlowTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologySwitchTest.java
Labels: area/testing, Next Release, improvement, tested

#4552 Multi AZ deployment for kilda
  docs/design/multi_az/README.md
  docs/design/multi_az/multi_az.png
  docs/design/multi_az/multi_az_active_active.png
  docs/design/multi_az/multi_az_mysql.png
  docs/design/multi_az/single_az.png
Labels: area/docs, Next Release

#5443 #5390: [TEST] Fix flaky Y-Flow Path Swap test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowPathSwapSpec.groovy
Labels: area/testing, Ready to Merge

#5445 Do not write false 'flow not found' log if monitoring is disabled
  src-java/flowmonitoring-topology/flowmonitoring-storm-topology/src/main/java/org/openkilda/wfm/topology/flowmonitoring/service/ActionService.java
Labels: Next Release, tested, bugfix

#5446 #5390: [TEST] Fix flaky Y-Flow reroute test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
Labels: area/testing, Ready to Merge

#5413 Victoria metrics url fixes for multicluster victoria configuration.
  confd/templates/gui/application.properties.tmpl
  confd/vars/main.yaml
  src-gui/src/main/java/org/openkilda/integration/service/StatsIntegrationService.java
  src-gui/src/main/java/org/openkilda/security/CustomRestTemplateConfiguration.java
  src-gui/src/main/resources/application.properties.example
Labels: area/gui, bugfix, Ready For Testing, Env Configuration

#5381 skip haYPoint=endpoint when update periodic pings
  src-java/ping-topology/ping-storm-topology/src/main/java/org/openkilda/wfm/topology/ping/bolt/FlowFetcher.java
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPingSpec.groovy
Labels: Next Release, tested, bugfix

#5444 Add a check whether a migrate script completed successfully.
  docker/db-mysql-migration/migrate-develop.sh
  docker/db-mysql-migration/migrations/README.md
Labels: area/config, Next Release, area/persistence, tested

#5453 #5390: [TEST] Attempt to fix several flaky tests increasing waiting intervals
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/HealthCheckSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/xresilience/StormLcmSpec.groovy
Labels: area/testing, Ready to Merge, Next Release, improvement

#5454 [TEST]: Server42: Isl Rtt:  Fixing refactoring issue
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
Labels: Next Release, improvement

#5456 Store datapoints into special storage to save memory
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/bolts/OpenTsdbFilterBolt.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/main/java/org/openkilda/wfm/topology/opentsdb/models/Storage.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/bolts/OpenTsdbFilterBoltTest.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/models/StorageTest.java
Labels: Next Release, improvement, tested
