Repository telstra/open-kilda, pull requests merged in 2024-08, with the labels that each got.

#5705 [TEST]: Regular Flow: New interaction approach: Func-tests: Eliminating flowHelper(v1/v2) usage
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaPathHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/builder/FlowBuilder.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/builder/HaFlowBuilder.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/builder/YFlowBuilder.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/FlowExtended.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/SubFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesFlowsV2Spec.groovy
Labels: area/testing, Ready to Merge, improvement

#5722 [TEST]: Issue 5699: Flaky test: Flow with protected path(reroute)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5716 Add split kafka message support for flow validation process
  src-java/floodlight-service/floodlight-api/build.gradle
  src-java/floodlight-service/floodlight-api/src/main/java/org/openkilda/floodlight/api/response/ChunkedSpeakerDataResponse.java
  src-java/floodlight-service/floodlight-api/src/test/java/org/openkilda/floodlight/api/response/ChunkedSpeakerDataResponseTest.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/kafka/RecordHandler.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/IKafkaProducerService.java
  src-java/floodlight-service/floodlight-modules/src/main/java/org/openkilda/floodlight/service/kafka/KafkaProducerService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopology.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/FlowHsTopologyConfig.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/bolts/SpeakerWorkerForDumpsBolt.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/SpeakerCommandForDumpsCarrier.java
  src-java/flowhs-topology/flowhs-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/SpeakerWorkerForDumpsService.java
  src-java/flowhs-topology/flowhs-storm-topology/src/test/java/org/openkilda/wfm/topology/flowhs/service/SpeakerWorkerForDumpsServiceTest.java
Labels: Ready to Merge, On Review, improvement, tested, bugfix

#5709 Update git hook
  .hooks/pre-commit
Labels: Ready to Merge, improvement

#5713 [TEST]: Regular Flow: Performance tests: Eliminating flowHelper(v1/v2) usage
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/FlowHelperV2.groovy
  src-java/testing/performance-tests/src/main/groovy/org/openkilda/performancetests/config/HelpersConfig.groovy
  src-java/testing/performance-tests/src/main/groovy/org/openkilda/performancetests/helpers/TopologyHelper.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/BaseSpecification.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/SpecThreadScope.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/ConcurrentFlowCreateSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/ConcurrentFlowRerouteSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/ConcurrentFlowValidateSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/FlowCreateSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/FlowDumpSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/benchmark/LinkDumpSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/endurance/DiscoverySpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/endurance/EnduranceSpec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/endurance/EnduranceV2Spec.groovy
  src-java/testing/performance-tests/src/test/groovy/org/openkilda/performancetests/spec/endurance/VolumeSpec.groovy
  src-java/testing/performance-tests/src/test/resources/META-INF/services/org.spockframework.runtime.extension.IGlobalExtension
  src-java/testing/performance-tests/src/test/resources/spring-context.xml
Labels: area/testing, Ready to Merge, improvement

#5711 Add a delta to compare all the metric rates
  src-java/kilda-model/src/main/java/org/openkilda/model/Meter.java
  src-java/kilda-model/src/test/java/org/openkilda/model/MeterTest.java
  src-java/swmanager-topology/swmanager-storm-topology/src/test/java/org/openkilda/wfm/topology/switchmanager/service/impl/ValidationServiceImplTest.java
Labels: tested, bugfix
