Repository telstra/open-kilda, pull requests merged in 2024-01, with the labels that each got.

#5525 [TEST] Refactoring the way to choose switch pairs for test pt.2
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPair.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPairs.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/model/switches/Manufacturer.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/BaseSpecification.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/AutoRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/BandwidthSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ConnectedDevicesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowAffinitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudV1Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowMonitoringSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowValidationNegativeSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/IntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MaxLatencySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MultiRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PartialUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/PinnedFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathV1Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ThrottlingRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/VxlanFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/UnstableIslSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/network/PathComputationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/FlowStatSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesFlowsV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/xresilience/FloodlightKafkaConnectionSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/xresilience/RetriesSpec.groovy
Labels: area/testing, Ready to Merge

#5518 Add default options for gradle
  confd/templates/makefile/makefile.tmpl
  src-java/build.gradle
  src-java/gradle.properties
Labels: area/config, Ready to Merge, improvement, tested

#5527 Work around Config bean creation. Adjust kafka clients version for NB module. Add slf4j.
  src-java/build.gradle
  src-java/northbound-service/northbound/build.gradle
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/AppConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/MessageConsumerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/SecurityConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/service/impl/FeatureTogglesServiceImpl.java
  src-java/northbound-service/northbound/src/main/resources/application.properties
Labels: improvement

#5532 [TEST] Unignore tests which can be run
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/error/AbstractExpectedError.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/error/flow/FlowEndpointsNotSwappedExpectedError.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchPairs.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslMinPortSpeedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/IslReplugSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/MetersSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchActivationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchPropertiesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSingleSwFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/toggles/FeatureTogglesV2Spec.groovy
Labels: area/testing, Ready to Merge

#5536 upgrade java version in sonargate.yml
  .github/workflows/sonargate.yml
Labels: area/cicd, Ready to Merge, improvement

#5520 Add ordering for simple flow history actions
  src-java/base-topology/base-storm-topology/src/main/java/org/openkilda/wfm/topology/flowhs/service/history/FlowHistoryService.java
  src-java/kilda-persistence-hibernate/src/main/java/org/openkilda/persistence/hibernate/entities/history/HibernateFlowEvent.java
Labels: Ready to Merge, On Review, tested, bugfix, C/HISTORY

#5521 Add parameters validation to get flow and HA-flow history API.
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/utils/flowhistory/FlowHistoryRangeConstraints.java
  src-java/northbound-service/northbound/src/test/java/org/openkilda/northbound/utils/flowhistory/FlowHistoryRangeConstraintsTest.java
Labels: Ready to Merge, On Review, tested, bugfix, C/HISTORY

#5540 5521: [TEST] Update History validation test
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/error/InvalidRequestParametersExpectedError.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowLoopSpec.groovy
Labels: area/testing, Ready to Merge

#5546 5390: [TEST]: Fix flaky protected path test
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/ProtectedPathSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/SwapEndpointSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5544 Avoid non-existing directory warnings on WFM container creation
  docker/base/kilda-base-lab-service/Dockerfile
  docker/wfm/app/deploy_all_topologies.sh
  docker/wfm/app/deploy_single_topology.sh
Labels: area/ops, Ready to Merge, improvement

#5553 Migrate to java 17: functional tests
  src-java/testing/functional-tests/build.gradle
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/test-library/build.gradle
  src-java/testing/test-library/src/main/java/org/openkilda/testing/config/KafkaTopicNameConfig.java
  src-java/testing/test-library/src/main/java/org/openkilda/testing/service/traffexam/TraffExamServiceImpl.java
Labels: area/testing, On Review

#5562 [Java 8-17] Fix swagger in NB and gRPC modules.
  .github/workflows/sonargate.yml
  src-java/grpc-speaker/grpc-service/build.gradle
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/controller/HealthCheckController.java
  src-java/grpc-speaker/grpc-service/src/main/java/org/openkilda/grpc/speaker/controller/NoviflowController.java
  src-java/northbound-service/northbound/build.gradle
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/SecurityConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/SwaggerConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/config/WebConfig.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/BaseController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FeatureTogglesController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/FlowController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/HealthCheckController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/KildaConfigurationController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/LinkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/NetworkController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v1/SwitchController.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/FlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/HaFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/LinkControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/NetworkControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/SwitchControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/controller/v2/YFlowControllerV2.java
  src-java/northbound-service/northbound/src/main/java/org/openkilda/northbound/utils/RequestCorrelationInspectorFilter.java
Labels: On Review

#5567 [Java 8-17] Mute Storm tests.
  src-java/base-topology/base-storm-topology/build.gradle
  src-java/base-topology/base-storm-topology/src/test/java/org/openkilda/wfm/CommandContextTest.java
  src-java/isllatency-topology/isllatency-storm-topology/src/test/java/org/openkilda/wfm/topology/isllatency/IslLatencyTopologyTest.java
  src-java/opentsdb-topology/opentsdb-storm-topology/src/test/java/org/openkilda/wfm/topology/opentsdb/OpenTsdbTopologyTest.java
  src-java/ping-topology/ping-storm-topology/src/test/java/org/openkilda/wfm/topology/ping/PingTopologyTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyFlowTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologyHaFlowTest.java
  src-java/stats-topology/stats-storm-topology/src/test/java/org/openkilda/wfm/topology/stats/StatsTopologySwitchTest.java
Labels: On Review
