Repository telstra/open-kilda, pull requests merged in 2024-04, with the labels that each got.

#5632 GUI hotfix.
  src-gui/ui/package.json
Labels: area/gui, On Review, bugfix, Ready For Testing

#5629 [TEST]: 5390: Flaky: Flow monitoring
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowMonitoringSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5621 [TEST]: HA-Flow: Factory
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/HaFlowFactory.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/builder/HaFlowBuilder.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/HaFlowExtended.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowDiversitySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowHistorySpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowIntentionalRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPathSwapSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPathsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowPingSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowProtectedSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowUpdateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/stats/HaFlowStatSpec.groovy
Labels: area/testing, improvement

#5631 Add a dependency constraint for Kryo.
  src-java/blue-green/build.gradle
  src-java/build.gradle
  src-java/kilda-model/build.gradle
Labels: improvement

#5481 [TEST]: 5208: Server42 RTT: HaFlow
  confd/vars/main.yaml
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchRules.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42FlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42HaFlowRttSpec.groovy
  src-java/testing/functional-tests/src/test/resources/topology.yaml
Labels: area/testing, Ready to Merge

#5522 remove opentsdb and hbase
  .env.example
  confd/templates/base-storm-topology/topology.properties.tmpl
  confd/templates/docker-compose/docker-compose.tmpl
  confd/templates/makefile/makefile.tmpl
  confd/templates/opentsdb-topology/opentsdb-topology.tmpl
  confd/vars/main.yaml
  docker/hbase/Dockerfile
  docker/hbase/hbase-conf/hbase-env.sh
  docker/hbase/hbase-conf/hbase-site.xml
  docker/hbase/hbase-conf/start-hbase
  docker/opentsdb/Dockerfile
  docker/opentsdb/app/create_tables.py
  docker/opentsdb/app/start-opentsdb
  docker/opentsdb/app/wait-for-it.sh
  docker/opentsdb/conf/opentsdb.conf
  src-java/opentsdb-topology/README.md
Labels: area/cicd, area/stats, improvement

#5646 Migration java 8->17: fix flaky flow create tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/FlowCrudSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchFailuresSpec.groovy
Labels: area/testing, On Review
