Repository telstra/open-kilda, pull requests merged in 2024-12, with the labels that each got.

#5751 nbworker add feature to reroute y-flow for switch/link evacuation process
  src-gui/ui/src/app/common/constants/constants.ts
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.html
  src-gui/ui/src/app/modules/isl/isl-detail/isl-detail.component.ts
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.html
  src-gui/ui/src/app/modules/switches/switch-detail/switch-detail.component.ts
  src-java/kilda-model/src/main/java/org/openkilda/model/FlowPath.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/bolts/MessageEncoder.java
  src-java/nbworker-topology/nbworker-storm-topology/src/main/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsService.java
  src-java/nbworker-topology/nbworker-storm-topology/src/test/java/org/openkilda/wfm/topology/nbworker/services/FlowOperationsServiceTest.java
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/links/LinkMaintenanceSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchMaintenanceSpec.groovy
  src-java/testing/test-library/src/main/java/org/openkilda/testing/model/topology/TopologyDefinition.java
Labels: Ready to Merge, tested

#5758 GUI improvement for tables
  src-gui/ui/angular.json
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.html
  src-gui/ui/src/app/modules/flows/flow-datatables/flow-datatables.component.ts
  src-gui/ui/src/app/modules/isl/datatable/datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.html
  src-gui/ui/src/app/modules/switches/switch-datatable/switch-datatable.component.ts
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.html
  src-gui/ui/src/app/modules/switches/switch-flows/switch-flows.component.ts
  src-gui/ui/src/styles.css
Labels: Ready to Merge, On Review, improvement, tested

#5756 [TEST]: Improvement: Switch default cookies
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/QinQFlowSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/DefaultRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/FlowRulesSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchSyncSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchValidationV2Spec.groovy
Labels: area/testing, Ready to Merge, improvement

#5752 [TEST]: Improvement: SwT: Y-Point selection
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/TopologyHelper.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchTriplet.groovy
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/model/SwitchTriplets.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/haflows/HaFlowRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowCreateSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/yflows/YFlowRerouteSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/SwitchesFlowsV2Spec.groovy
Labels: area/testing, Ready to Merge, improvement

#5760 [TEST]: Improvement: Minor fix: Collecting default rules(s42:isl)
  src-java/testing/functional-tests/src/main/groovy/org/openkilda/functionaltests/helpers/SwitchHelper.groovy
Labels: area/testing, improvement
