Repository telstra/open-kilda, pull requests merged in 2025-06, with the labels that each got.

#5786 [TEST]: Improvement: Rigel: Flaky tests
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/flows/MirrorEndpointsSpec.groovy
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/server42/Server42IslRttSpec.groovy
Labels: area/testing, Next Release, improvement

#5787 [TEST]: Improvement: Flaky test: LAG(mirror port selection)
  src-java/testing/functional-tests/src/test/groovy/org/openkilda/functionaltests/spec/switches/LagPortSpec.groovy
Labels: area/testing, Ready to Merge, improvement

#5782 clear pending queue while manual flush request.
  src-java/reroute-topology/reroute-storm-topology/src/main/java/org/openkilda/wfm/topology/reroute/service/RerouteQueueService.java
Labels: Ready to Merge, tested, bugfix
